/*   My variables   */

:root {
/*    color: rgb(230, 126, 34);*/
    --color01-number01: 24;
    --color01-number02: 139;
    --color01-number03: 204;
    --color02-number01: 41;
    --color02-number02: 174;
    --color02-number03: 227;
    --color03-number01: 25;
    --color03-number02: 143;
    --color03-number03: 207;
    --color04-number01: 243;
    --color04-number02: 248;
    --color04-number03: 255;
    --color05-number01: 234;
    --color05-number02: 107;
    --color05-number03: 120;
    --color06-number01: 26;
    --color06-number02: 188;
    --color06-number03: 156;
    --color07-number01: 241;
    --color07-number02: 196;
    --color07-number03: 15;
    --color08-number01: 155;
    --color08-number02: 89;
    --color08-number03: 182;
    --color09-number01: 230;
    --color09-number02: 126;
    --color09-number03: 34;
    --color-first: rgb(var(--color01-number01), var(--color01-number02), var(--color01-number03));
    --color-second: rgb(var(--color02-number01), var(--color02-number02), var(--color02-number03));
    --color-third: rgb(var(--color03-number01), var(--color03-number02), var(--color03-number03));
    --color-fourth: rgb(var(--color04-number01), var(--color04-number02), var(--color04-number03));
    --color-fifth: rgb(var(--color05-number01), var(--color05-number02), var(--color05-number03));
    --color-sixth: rgb(var(--color06-number01), var(--color06-number02), var(--color06-number03));
    --color-seventh: rgb(var(--color07-number01), var(--color07-number02), var(--color07-number03));
    --color-eighth: rgb(var(--color08-number01), var(--color08-number02), var(--color08-number03));
    --color-ninth: rgb(var(--color09-number01), var(--color09-number02), var(--color09-number03));
    --width-container: 144rem;
    --shadow-content: 0.5rem 0.5rem 2rem rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .1);;
    --background-first: linear-gradient(to bottom left, var(--color-second), var(--color-third));
    --background-second: linear-gradient(to top right, var(--color-second), var(--color-third));
    --background-content: rgba(0,0,0,.95);
    --font-first: 'Montserrat', sans-serif;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--color-fourth);
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--color-first);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .25rem;
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.5);
    transition: all .3s ease-out;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-first);
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30rem;
    background: var(--background-first);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    overflow: hidden;
}

.aside__top_logo {
    height: 15rem;
    
    display: flex;
    justify-content: center;
}

.aside__top_picture {
    filter: grayscale(100%)brightness(400%);
}

.aside__bottom_logo {
    height: 6rem;
    
    display: flex;
    justify-content: center;
}

.aside__bottom_picture {
    filter: grayscale(100%)brightness(400%);
}

.aside__menu {
    display: flex;
    flex-direction: column;
}

.aside__menu_item {
    display: flex;
    position: relative;
    
}

.aside__menu_item:not(:first-of-type) {
    margin-top: 1rem;
    
}

.aside__menu_item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 2rem;
    right: 0rem;
    bottom: 0;
    background: var(--color-fourth);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    transition: all .3s ease-out;
    left: 100%;
}

.aside__menu_item:hover:before {
    left: 2rem;
}


.aside__menu_link {
    font: 500 1.8rem / .8 var(--font-first);
    color: #fff;
    fill: #fff;
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    position: relative;
    width: 100%;
    transition: all .3s ease-out;
    z-index: 2;
}

.aside__menu_link:before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: -2rem;
    right: -2rem;
    background: transparent;
    border-radius: 50%;
    box-shadow: 1rem 1rem .15rem 0.15rem var(--color-fourth);
    transition: all .6s ease-out;
}

.aside__menu_link:after {
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    bottom: -2rem;
    right: -2rem;
    background: transparent;
    border-radius: 50%;
    box-shadow: 1rem -1rem .15rem 0.15rem var(--color-fourth);
    transition: all .6s ease-out;
}

.aside__menu_link:hover:before,
.aside__menu_link:hover:after {
    right: 0;
    transition: all 0s ease-out;
}



.aside__menu_link:hover {
    color: var(--color-first);
    fill: var(--color-first);
}

.aside__menu_icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.75rem;
    display: flex !important;
    z-index: 2;
}

.aside__menu_text {
    z-index: 2;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    padding-left: 33rem;
    
}

.header {
    background: #fff;
    padding: 3rem;
    box-shadow: var(--shadow-content);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__greeting {
    font: 700 3rem / 1 var(--font-first);
    flex-shrink: 0;
}

.header__search {
    margin: 0 3rem;
    flex: 1 0 auto;
    position: relative;
}

.header__search_input {
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.1);
    padding: 0 3rem;
    border-radius: 5em !important;
    height: 5rem;
    width: 100%;
    font: 500 1.8rem / 1 var(--font-first);
    color: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 1);
    transition: all .3s ease-out;
}

.header__search_input:focus {
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .175);
}

.header__search_input::-webkit-input-placeholder {
    color: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .65);
}

.header__search_input::-moz-placeholder {
    color: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .65);
    opacity: 1;
}

.header__search_input:-ms-input-placeholder {
    color: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .65);
}

.header__search_button {
    position: absolute;
    top: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-first);
    fill: #fff;
}

.header__panel {
    display: flex;
    align-items: center;
    margin-right: -3rem;
    flex-shrink: 0;
}

.header__panel_item {
    display: flex;
    padding: 0 3rem;
    position: relative;
    border-left: .15rem solid rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.1);
}

.header__panel_link {
    display: flex;
    fill: var(--color-first);
    transition: all .3s ease-out;
    border-radius: 50%;
    overflow: hidden;
}

.header__panel_link:not(:first-of-type) {
    margin-left: 2rem;
}

.header__panel_link:hover {
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 1);
    color: #fff;
    fill: #fff;
    box-shadow: var(--shadow-content);
}

.header__panel_picture {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__panel_icon {
    height: 45%;
    width: 45%;
    
    display: flex !important;
}

.main {
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 3rem;
}

.box {
    background: #fff;
    box-shadow: var(--shadow-content);
    border-radius: 2rem;
    overflow: hidden;
}

.warning {
    padding: 0;
    
}

.warning__h2 {
    padding: 3rem;
    background: rgba(var(--color05-number01), var(--color05-number02), var(--color05-number03), 0.1);
    color: var(--color-fifth);
    font: 600 1.8rem / 1.25 var(--font-first);
}

.numbers__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.numbers__list_item {
    width: calc(100% / 4 - 2.25rem);
    display: flex;
}

.numbers__list_picture {
    padding: 3rem;
}

.numbers__list_item:nth-of-type(1) .numbers__list_picture {
    background: rgba(var(--color06-number01), var(--color06-number02), var(--color06-number03), 0.15);
    fill: var(--color-sixth);
}

.numbers__list_item:nth-of-type(2) .numbers__list_picture {
    background: rgba(var(--color07-number01), var(--color07-number02), var(--color07-number03), 0.15);
    fill: var(--color-seventh);
}

.numbers__list_item:nth-of-type(3) .numbers__list_picture {
    background: rgba(var(--color08-number01), var(--color08-number02), var(--color08-number03), 0.15);
    fill: var(--color-eighth);
}

.numbers__list_item:nth-of-type(4) .numbers__list_picture {
    background: rgba(var(--color09-number01), var(--color09-number02), var(--color09-number03), 0.15);
    fill: var(--color-ninth);
}

.numbers__list_icon {
    display: flex!important;
    height: 8rem;
    width: 8rem;
}

.numbers__list_data {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numbers__list_h4 {
    font: 400 2rem / 1.25 var(--font-first);
}

.numbers__list_p {
    font: 700 4.5rem / 1.25 var(--font-first);
    margin-top: .5rem;
}

.activities {
    display: flex;
    justify-content: space-between;
}

.activities__calendar {
    width: calc((100% / 4 - 2.25rem) * 2 + 3rem);
    padding: 3rem;
}

.activities__calendar_content {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}


.activities__calendar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities__calendar_button {
    height: 3.5rem;
    width: 5rem;
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.1);
    border-radius: 5em;
    fill: var(--color-first);
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

.activities__calendar_button:hover {
    background: var(--color-first);
    fill: #fff;
    box-shadow: var(--shadow-content);
}

.activities__calendar_icon {
    display: flex !important;
    height: 35%;
    
}

.activities__calendar_date {
    font: 500 1.8rem / 0.75 var(--font-first);
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.1);
    border-radius: 5em;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    margin: 0 3rem;
    color: var(--color-first);
}

.activities__calendar_table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.activities__table_row {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.activities__table_item {
    width: calc(100% / 7 - 1.5rem);
    padding: 1rem;
    border-radius: 1rem;
    font: 500 1.8rem / 0.85 var(--font-first);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-out;
    color: var(--color-first);
}

.activities__table_item:hover {
    box-shadow: var(--shadow-content);
    background: var(--color-first);
    color: #fff;
}

.activities__table_title {
/*    box-shadow: var(--shadow-content);*/
    border: .15rem solid rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.5);
    font-weight: 700;
}

.td-none {
    opacity: .35;
    cursor: auto;
}

.td-none:hover {
    box-shadow: none;
    background: none;
    color: var(--color-first);
    
}


.activities__sessions {
    width: calc(100% / 4 - 2.25rem);
    padding: 3rem;
}

.activities__actions {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: calc(100% / 4 - 2.25rem);
    
}

.activities__sessions_list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.activities__sessions_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .85rem 0;
}

.activities__sessions_percent {
    font: 500 1.6rem / 0.85 var(--font-first);
    width: 10%;
    color: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.65);
}

.activities__sessions_line {
    height: .1rem;
    width: calc(90% - 1.5rem);
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.35);
}

.activities__sessions_date {
    display: flex;
    justify-content: space-between;
    padding-left: calc(10% + 1.5rem);
    padding-top: 1rem;
}

.activities__date_item {
    font: 500 1.6rem / 0.85 var(--font-first);
    color: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.65);
}

.activities__h4 {
    font: 700 2.5rem / 0.85 var(--font-first);
    margin-bottom: 1rem;
}

.activities__actions_list {
    display: flex;
    flex-direction: column;
}

.activities__actions_link {
    display: flex;
    align-items: center;
    font: 500 1.6rem / 1.25 var(--font-first);
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.1);
    border-radius: 5em;
    color: var(--color-first);
    fill: var(--color-first);
    transition: all .3s ease-out;
    
}

.activities__actions_link:hover {
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 1);
    color: #fff;
    fill: #fff;
    box-shadow: var(--shadow-content);
}

.activities__actions_icon {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    display: flex !important;
}

.announcements {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.announcements__content {
    margin-top: 3rem;
    padding: 3rem 0 0rem;
    border-top: .1rem solid rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), 0.35);
}

.announcements__content:first-of-type {
    margin-top: 2rem;
}

.announcements__title {
    display: flex;
    align-items: center;
}

.announcements__picture {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .15);
    margin-right: 2rem;
}

.announcements__title_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcements__title_h4 {
    font: 600 2rem / 1.25 var(--font-first);
}

.announcements__title_h5 {
    margin-top: .5rem;
    font: 400 1.6rem / 1.25 var(--font-first);
    opacity: .5;
}

.announcements__p {
    font: 400 1.8rem / 1.5 var(--font-first);
    margin-top: 2rem;
}

.footer {
    padding: 3rem 0;
    display: flex;
    justify-content: flex-end;
}

.footer__h4 {
    font: 400 1.8rem / 1.5 var(--font-first);
    color: var(--color-first);
}


@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}