/*      Client Page      */

.client-page-home {
    height: 100vh;
    display: flex;
    background: #272727 url(../images/hedge-fund-bg.png) 50% 50% / cover no-repeat;
}

.client-page-home__container {
    padding: 9rem 2rem 2rem;
    justify-content: center;
    align-items: center;
}

.client-page-home__h2 {
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 5.2875rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
    color: #D9B854;
}

.client-page-home__h3 {
    margin: 1rem 0 3rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 3.23rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
    color: #D9B854;
}

.client-page-home__form {
    width: 70rem;
    display: flex;
    flex-direction: column;
}

.client-page-home__form_item {
    position: relative;
    margin-top: 3rem;
}

.client-page-home__form_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    fill: #000;
}

.client-page-home__form_pic {
    height: 3.5rem;
    width: 3.5rem;
}

.client-page-home__form_input {
    height: 6rem;
    width: 100%;
    padding: 0 3rem 0 9rem;
    display: flex;
    align-items: center;
    border: .15rem solid rgba(255,255,255,.75);
    font: 400 2rem / 1 'Montserrat', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.client-page-home__form_input:focus {
    border-color: #D9B854;
}

.client-page-home__form_input::-webkit-input-placeholder {
    color: rgba(255,255,255,.75);
}

.client-page-home__form_input::-moz-placeholder {
    color: rgba(255,255,255,.75);
    opacity: 1;
}

.client-page-home__form_input:-ms-input-placeholder {
    color: rgba(255,255,255,.75);
}

.client-page-home__form_button {
    height: 6rem;
    margin-top: 3rem;
}

.client-page-home__form_button .button__text {
    font-size: 2rem;
}

.client-page-home__links {
    width: 70rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-page-home__links_link {
    font: 600 1.6rem / 1 'Montserrat', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.client-page-home__links_link:hover {
    color: #D9B854;
}