/*      News Page      */

.news-page-articles {
    padding: 6rem 0;
}

.news-page-articles__list {
    display: flex;
    flex-direction: column;
}

.news-page-articles__list_item {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.news-page-articles__list_item:not(:first-of-type) {
    margin-top: 2rem;
}

.news-page-articles__list_item01 {
}

.officers-page-team__list_image {
    height: 35rem;
    width: 35%;
    flex-shrink: 0;
}

.news-page-articles__list_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    align-items: flex-start;
}

.news-page-articles__data_date {
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
    font: 800 1.6rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.news-page-articles__data_h4 {
    font: 700 2.5rem / 1.2 'Montserrat', sans-serif;
    margin-top: 4rem;
}

.news-page-articles__data_p {
    font: 300 1.6rem / 1.4 'Montserrat', sans-serif;
    margin-top: 1.5rem;
}

.news-page-articles__data_link {
    display: flex;
    align-items: center;
    font: 600 1.2rem / 1 'Montserrat', sans-serif;
    color: #000;
    white-space: nowrap;
    margin-top: 3rem;
    text-transform: uppercase;
}

.news-page-articles__data_button {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 2rem / 1 'Montserrat', sans-serif;
    margin-right: 1rem;
}

.news-page-articles__data_button .button__text {
    font: 600 2.4rem / 1 'Montserrat', sans-serif;
}



.news-page-articles__data_text {
    transition: all .3s ease-out;
}

.news-page-articles__data_link:hover .news-page-articles__data_text {
    color: #D9B854;
}

.news-page-articles__data_link:hover .button:after {
    opacity: 1;
}

.news-page-articles__data_link:hover .button__text {
     background: #000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}













