/*   My Normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.container__image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

button,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #ED3431;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb:hover {
    background: #ED3431;
}

.container__row {
    margin: 0 auto;
    display: flex;
}

.container__column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container__row,
.container__column {
    position: relative;
    z-index: 2;
    width: 144rem;
    padding: 0 2rem;
    justify-content: space-between;
}

section {
    position: relative;
    padding: 10rem 0;
}

.anchor {
    position: absolute;
    top: -11rem;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.p__text {
    margin-top: 3rem;
    font: 400 2rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
/*    text-shadow: .025em .025em .05em rgba(0,0,0,.1);*/
}

.button {
    position: relative;
    height: 4.5rem;
    display: flex;
    align-items: center;
    word-spacing: .3em;
    color: #fff;
    transition: all .3s ease-out;
    font: 800 1.6rem / 1 'Montserrat', sans-serif;
    display: flex;
    text-transform: uppercase;
    padding: 2rem;
    border: .3rem solid #fff;
    overflow: hidden;
}

.button:hover {
    color: #0077C3;
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: all .3s ease-out;
}

.button:hover:before {
    left: 0;
}

.button__text {
    z-index: 2;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    background-color: #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.1), 0 .5rem 1rem rgba(0,0,0,.2);
}

.header__top_container {
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

.logo__link {
    padding-right: 3rem;
    flex-shrink: 0;
}

.logo__text {
    display: flex;
    flex-direction: column;
}

.logo__h1 {
    font: 900 4rem / 1 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: #00897B;
    display: flex;
}

.color-red {
    color: #ED3431;
    
}

.color-blue {
    color: #0077C3;
}

.logo__h2 {
    font: 500 1.34rem / 1 'Orbitron', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: .1em;
    color: #000000;
    padding-top: .25rem;
    padding-left: .075rem;
    padding-bottom: .25rem;
}

.logo__text_separator {
    height: .6rem;
    width: .6rem;
    background-color: #00ACC1;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header__top_panel {
    display: flex;
    flex: 1 0 auto;
}

.header__top_item:first-of-type {
    flex: 1 0 auto;
}

.header__top_item {
    position: relative;
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .1rem solid #d6d6d6;
    transition: all .3s ease-out;
    flex-shrink: 0;
}

.header__top_item:first-child {
    padding-left: 0;
}

.header__form-search {
    display: flex;
    width: 100%;
    position: relative;
}

.header__form-search_input {
    border: .1rem solid #888888;
    height: 4.5rem;
    padding: 0 5rem 0 1.5rem;
    font: 400 1.5rem / 1 'Montserrat', sans-serif;
    width: 100%;
}

.header__form-search_button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    margin: auto;
}

.header__form-search_icon {
    height: 2rem;
    width: 2rem;
}

.header__top_link {
    display: flex;
    align-items: center;
    color: #888888;
    
    transition: all .3s ease-out;
}

.header__top_link:not(:last-of-type) {
    margin-right: 1.75rem;
}

.header__top_link:hover {
    fill: #00ACC1;
    color: #00ACC1;
}

.header__social_icon:not(:last-of-type) {
    margin-right: 1.75rem;
}

.header__top_icon {
    height: 3rem;
    width: 3rem;
    fill: #888888;
}

.icon__rotate {
    transform: rotateZ(90deg);
}

.header__top_text {
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
    font: 400 1.8rem / 1 'Montserrat', sans-serif;
}

.header__nav {
    background: #0077C3;
}

.header__menu {
    display: flex;
    width: 100%;
}

.header__menu_item {
    position: relative;
    flex: 1 0 auto;
}

.header__menu_item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + .1rem);
    max-width: none;
    padding: 0 1rem;
    background: #0067a8;
    opacity: 0;
    transition: all .3s ease-out;
}

.header__menu_item:hover:before {
    opacity: 1;
}

.header__menu_item:last-of-type .header__menu_link {
    border-right: .1rem solid #0067a8;
}

.header__menu_link {
    position: relative;
    padding: 1.25rem 0 1rem;
    display: flex;
    justify-content: center;
    border-left: .1rem solid #0067a8;
    font: 600 1.4rem / 1 'Montserrat', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
}

main:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/pattern01.png) 50% 50% / contain repeat;
    animation: animatedBackground 180s linear infinite;
    opacity: .1;
    background-size: 15%;
    
}

@keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: 100% -100%;
    }
}

.home {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    background: #E4E4E4;
    background: #c6c6c6 url(../images/home__bg11.png) 50% 100%/ cover no-repeat;
    padding: 0;
    padding-top: 13rem;
}

.home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

.home__container {
    justify-content: center;
    align-items: center;
    height: 50%;
}

.home__h2 {
    font: 900 9.1965rem / 1 'Orbitron', sans-serif;
    text-shadow: .05em .05em .1em rgba(0,0,0,.15);
    text-transform: uppercase;
    color: #fff;
    max-width: none;
    width: 102%;
    transform: translateX(.9rem)
}

.home__form-search {
    width: 100%;
    z-index: 2;
    height: 7rem;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    margin-top: -1.2rem;
    bottom: 0;
    display: flex;
}

.home__form-search_input {
    height: 100%;
    font: 400 1.8rem / 1 'Montserrat', sans-serif;
    width: 22.5%;
    padding: 0 3rem;
    background: #fff;
    margin-right: .2rem;
    color: #fff;
    transition: all .3s ease-out;
}

.home__form-search_input:nth-of-type(1) {
    width: 27.5%;
}

.home__form-search_input:nth-of-type(2) {
    width: 27.5%;
}

.home__form-search_input:nth-of-type(3) {
    width: 20%;
}

.home__form-search_input:nth-of-type(4) {
    width: 15%;
}

.home__form-search_input:focus {
    background: #0077C3;
}

.home__form-search_input:focus::-webkit-input-placeholder {
    color: #fff;
}

.home__form-search_input::-webkit-input-placeholder {
    color: #0077C3;
}

.home__form-search_input::-moz-placeholder {
    color: #0077C3;
    opacity: 1;
}

.home__form-search_input:focus::-moz-placeholder {
    color: #0077C3;
    opacity: 1;
}

.home__form-search_input:-ms-input-placeholder {
    color: #0077C3;
}

.home__form-search_input:focus:-ms-input-placeholder {
    color: #0077C3;
}


.home__form-search_button {
    height: 100%;
    background: #ED3431;
    padding: 0 3rem;
    color: #fff;
    font: 800 1.8rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    flex-shrink: 0;
    width: 10%;
    transition: all .3s ease-out;
}

.home__form-search_button:hover {
    background: #da201d;
}

.section {
    padding: 0;
    padding-top: 3rem;
    
}

.why {
}

.h2-headline {
    font: 900 3rem / 1 'Orbitron', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #ED3431;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
}

.why__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.why__content_item {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: calc(100% / 3 - 2rem);
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    padding: 5rem;
    background: #fff;
    transition: all .3s ease-out;
}

.why__content_item:hover{
    box-shadow: 0 .75rem 3rem 0 rgba(0, 119, 195, 0.35);
}

.why__content_icon {
    height: 7rem;
    width: 7rem;
}

.why__content_h4 {
    font: 700 2.2rem / 1 'Montserrat', sans-serif;
    margin-top: 4rem;
}

.why__content_p {
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    margin-top: 2rem;
}

.why__content_button {
    overflow: hidden;
    display: flex;
}


.why__content_link {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    
    left: -12rem;
    transition: all .3s ease-out;
    position: relative;
}

.why__link_text {
    position: relative;
    transition: all .3s ease-out;
    font: 700 1.5rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #0077C3;
}

.why__link_marker {
    position: relative;
    font: 900 3rem / 0 'Montserrat', sans-serif;
    margin-left: 1.5rem;
    color: #ED3431;
    padding-bottom: .25rem;
}

.why__content_item:hover .why__content_link,
.popular__content_item:hover .why__content_link,
.process__content_info:hover .why__content_link,
.events__content_item:hover .why__content_link {
    left: 0rem;
}

.why__content_link:hover .why__link_text {
    color: #ED3431;
}

.process__content {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.process__content_info {
    width: calc(50% - 1.5rem);
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    padding: 5rem;
    background: #fff;
    transition: all .3s ease-out;
}

.process__content_info:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 119, 195, 0.35);
}

.process__content_p {
    font: 400 2rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
}

.process__content_p:not(:first-of-type) {
    margin-top: 2rem;
}

.process__content_data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: calc(50% - 1.5rem);
}

.process__data_item {
    background: #fff;
    width: calc(50% - 1.5rem);
    height: calc(50% - 1.5rem);
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
}

.process__data_item:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 119, 195, 0.35);
}

.process__data_h4 {
    font: 900 6rem / 1 'Montserrat', sans-serif;
    color: #0077C3;
}

.process__data_p {
    font: 600 2rem / 1 'Montserrat', sans-serif;
    text-transform: capitalize;
    margin-top: 1.5rem;
    color: #ED3431;
}

.banner {
    padding: 0;
    padding-top: 3rem;
}

.banner__content {
    background: #0077C3;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.popular {
    
}

.banner__h2 {
    font: 900 3.3rem / 1 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.popular__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.popular__content_item {
    display: flex;
    margin-top: 3rem;
    width: calc(100% / 2 - 1.5rem);
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    transition: all .3s ease-out;
    background: #fff;
}

.popular__content_item:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 119, 195, 0.35);
}

.popular__content_image {
    width: 40%;
    background: #e2e2e2;
}

.popular__content_info {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}



.popular__content_h4 {
    font: 700 2rem / 1 'Montserrat', sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.popular__info_item {
    display: flex;
    align-items: baseline;
    margin-top: 1.5rem;
}

.popular__info_h5 {
    font: 700 1.55rem / 1 'Montserrat', sans-serif;
    width: 30%;
    flex-shrink: 0;
}

.popular__info_p {
    font: 400 1.55rem / 1.5 'Montserrat', sans-serif;
}

.events {
    padding-bottom: 3rem;
}

.events__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.events__content_item {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: calc(100% / 3 - 2rem);
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,0.1);
    background: #fff;
    transition: all .3s ease-out;
}

.events__content_item:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 119, 195, 0.35);
}

.events__content_image {
    height: 25rem;
}

.events__content_info {
    padding: 3rem;
}

.events__content_title {
    display: flex;
    align-items: center;
}

.events__content_date {
    background: #0077C3;
    height: 6rem;
    width: 6rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-shrink: 0;
}

.events__date_number {
    font: 800 2.4rem / 1 'Montserrat', sans-serif;
}

.events__date_month {
    font: 600 1.2rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: .25rem;
}

.events__content_h4 {
    font: 700 2.2rem / 1.3 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.events__content_p {
    font: 400 1.6rem / 1.5 'Montserrat', sans-serif;
    margin-top: 3rem;
}

.footer {
    position: relative;
    background: #0077C3;
    z-index: 2;
}

.footer__top_container {
    padding: 6rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 900 3rem / 1 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
    fill: #fff;
}

.footer__item:first-of-type .footer__p {
    width: 32rem;
}

.footer__social {
    display: flex;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    overflow: hidden;
    transition: all .3s ease-out;
    border: .25rem solid #fff;
}

.footer__social_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    background: #fff;
    
}

.footer__social_link:hover:before {
    left: 0;
    
}

.footer__social_pic {
    height: 1.8rem;
    width: 1.8rem;
}

.footer__social_link:hover {
    fill: #0077C3;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4rem;
    width: 23rem;
    padding: 0 4rem 0 1.75rem;
    border: .1rem solid #fff;
    border-right: none;
    font: 400 1.5rem / 1 'Montserrat', sans-serif;
    color: #82cfff;
    transition: all .3s ease-out;
    
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border-color: #82cfff;
    border-right: none;
}

.footer__form_button {
    height: 4rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    color: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,0);
}

.footer__form_button:hover {
}


.footer__contact_link {
    transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.footer__contact_link:hover {
    color: #82cfff;
    fill: #82cfff;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
}

.footer__bottom {
    padding: 3rem 0;
    background: #0067a8;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_link {
    position: relative;
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__bottom_link:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background-color: #F5F5F5;
    opacity: .25;
}

.footer__bottom_link:hover {
    color: #82cfff;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}