/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
   
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #FF8C00;
    color: #000;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(to top right, #FFD700, #FF4500);
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 15rem 0;
    background: #fff;
}

.anchor {
    position: absolute;
    top: 0rem;
}

.anchor02 {
    position: absolute;
    top: -20rem;
}

.anchor03 {
    position: absolute;
    top: -10rem;
}

.content {
    width: calc(50% - 3rem);
    display: flex;
    flex-shrink: 0;
}

.content-row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.content-column {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.h2-headline {
    font: 700 7rem / .9 'Oswald', sans-serif;
    text-transform: uppercase;
}

.h3-headline {
    font: 300 3.3rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: 3rem;
}

.h3-headline-blue {
/*    color: #030460;*/
}

.p-text {
    margin-top: 2rem;
    font: 400 1.8rem / 1.5 'Roboto Condensed', sans-serif;
    text-align: justify;
    color: #4a4a4a;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.button {
    position: relative;
    height: 5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    
    font: 700 2rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-radius: 5em;
    color: #fff;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.1);
    
}

.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    border-radius: 5em;*/
    background: linear-gradient(to top right, #FFD700, #FF4500);
    transition: all .3s ease-out;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: -.25rem;
    left: 0;
    height: 100%;
    width: 100%;
/*    border-radius: 5em;*/
    background: linear-gradient(to top right, #FFD700, #FF4500);
    -webkit-filter: blur(0.75rem);
    filter: blur(.75rem);
    opacity: 0;
    transition: all .3s ease-out;
}

.button:hover {
    transform: translateY(-.5rem);
}

.button:hover:after {
    opacity: .75;
}

.button-margin {
    margin-top: 3.5rem;
}

.page-title {
    position: fixed;
    top: 9rem;
    left: 0;
    right: 0;
    background: url(../images/page-top-bg03.png) 50% 50% / cover no-repeat;
}

.page-title__container {
    align-items: center;
}

.page-title__h2 {
    background: url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 900 5rem / 1 'Roboto Condensed', sans-serif;;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .75rem 1.5rem rgba(0,0,0,.05);
}


.header__container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 22.5%;
    height: 100%;
    width: 100vw;
    max-width: none;
    background: #fff;
}

.header__container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 77.5%;
    height: 100%;
    width: 100vw;
    max-width: none;
    background: #000;
}

.header__container {
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header__logo_link {
    display: flex;
    align-items: center;
}

.header__logo_image {
    height: 8rem;
    font: 400 2rem / 1 'Roboto Condensed', sans-serif;;
    text-align: center;
    color: #D9B854;
    -webkit-filter: drop-shadow(.1em .1em .2em rgba(0,0,0,.15));
    transition: all .3s ease-out;
}

.header__logo_image:hover {
}

.header__nav {
    height: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__menu_item:not(:last-of-type) {
    margin-right: 10rem;
}

.header__menu_link {
    position: relative;
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s ease-out;
    background: linear-gradient(to top right, #FFD700 0%, #FF4500 50%, #000 50%, #000 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.header__menu_link:hover {
    background-position: 0% 100%;
    padding-bottom: 1.5rem;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    height: 0rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom left, #FFD700, #FF4500);
    transition: all .3s ease-out;
}

.header__menu_link:hover:after {
    height: .2rem;
    bottom: 0rem;
}

.header__call {
    position: relative;
    z-index: 5;
    width: calc(22.5% - 1rem);
/*    background: rgba(39, 22, 19, 0.37);*/
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.header__call_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__call_top {
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-out;
    font: 600 1.4rem / 1 'Roboto Condensed', sans-serif;
    letter-spacing: .09em;
    word-spacing: .1em;
    background: linear-gradient(to top right, #FFD700 0%, #FF4500 50%, #fff 50%, #fff 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

.header__call_link:hover .header__call_top {
    background-position: 0% 100%;
}

.header__call_bottom {
    position: relative;
    font: 700 4rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: -.15rem;
    background: linear-gradient(to top right, #fff 0%, #fff 50%, #FFD700 50%, #FF4500 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    transition: all .3s ease-out;
}

.header__call_link:hover .header__call_bottom {
    background-position: 0% 100%;
}

.main {
    position: relative;
}

.home {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
}

.home__container {
    padding: 9rem 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 53%;
}

.home__h2 {
    z-index: 2;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    display: flex;
    flex-direction: column;
    position: relative;
/*        color: #3ba200;*/
    max-width: none;
    width: calc(100% + .75rem);
    text-transform: uppercase;
   
}

.home__h2_top {
    font: 700 14rem / .9 'Oswald', sans-serif;
}

.home__h2_middle {
    font: 700 14.8rem / .85 'Oswald', sans-serif;
}

.home__h2_bottom {
    font: 700 21.375rem / .85 'Oswald', sans-serif;
}


.home__p {
    font: 400 2.8rem / 1.3 'Roboto Condensed', sans-serif;
    z-index: 2;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    margin-top: 5rem;
    text-align-last: justify;
    
}

.home__button {
    margin-top: 4rem;
}

.home__button:hover {
}

.home__bg_dog {
    position: absolute;
    right: -10%;
    top: 16rem;
    height: 95vh;
    width: 95vh;
    background: url("../images/magazine03.png") 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    margin: auto;
    font: 800 5rem / 1.5 'Roboto Condensed', sans-serif;
    
}

.bg__circle {
    position: absolute;
/*    bottom: -0%;*/
    right: -50%;
    height: 400vh;
    width: 400vh;
    max-width: none;
    border-radius: 50%;
/*    overflow: hidden;*/
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home__bg_left {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    max-width: none;
    background: #eeeeee url(../images/home-bg08.png) 100% 50% / cover no-repeat;
    left: calc((100vw - 144rem) / 2 * (-1));
}

.home__bg_center {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-width: none;
    left: 77.5%;
    padding-right: calc(22.5% + ((100vw - 144rem) / 2));
    background: #fff;
}

.home__bg_right {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-width: none;
    left: 77.5%;
    padding-right: calc(22.5% + ((100vw - 144rem) / 2));
    -webkit-clip-path: ellipse(100% 100% at 0% 0%);
    clip-path: ellipse(70% 100% at 0% 0%);
}

.home__bg_02 {
    content: '';
    position: relative;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100vw;
    max-width: none;
    background: #3ba200 url("../images/home-bg16.png") 100% 50% / cover no-repeat;
}

.news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.news__list_link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: calc(100% / 4 - 2rem);
    height: 25rem;
    margin-top: 3rem;
    background: #d0d0d0;
    box-shadow: 0 1rem 2rem -.4rem rgba(0,0,0,0.5);
    overflow: hidden;
    transition: all .3s ease-out;
}

.news__list_link:hover {
    box-shadow: 0 1rem 2rem -.4rem rgba(255, 136, 0, 0.75);
    
}

.news__list_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    transform-origin: 50% 50%;
    filter: grayscale(0)brightness(1);
}

.news__list_link:hover .news__list_image {
    transform: scale(1.2)rotate(-5deg);
    filter: grayscale(100)brightness(.35);
}

.news__list_h4 {
    font: 500 2.75rem / 1.3 'Roboto Condensed', sans-serif;
    color: #fff;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: all .3s ease-out;
}

.news__list_link:hover .news__list_h4 {
    opacity: 1;
}

.news__button {
    margin-top: 5rem;
    align-self: center;
    width: calc(100% / 4 - 2rem);
}

.about {
    background: #eeeeee;
    height: 60rem;
    padding: 0;
    margin-top: 7.5rem;
    background: #eeeeee url("../images/about-bg102.png") 50% 50% / cover no-repeat;
/*    background: #fff;*/
}

.about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: #89b75c;*/
    opacity: .25;
}

.about__circle {
    position: absolute;
    top: -7.5rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 75rem;
    width: 75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about__circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    background: url("../images/about-bg05.png") 50% 50% / cover no-repeat;
}

.about__circle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 62%;
    width: 62%;
    background: url("../images/logo-big.png") 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.1em .1em .2em rgba(0,0,0,.5));
}

.about__circle_h2 {
    font: 800 2.2rem / 1 'Roboto Condensed', sans-serif;
    color: #fff;
    margin-top: 7.5rem;
}

.about__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
    padding: 7.5rem 0;
    z-index: 2;
    height: 60rem;
}

.about__list_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.about__list_item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 2.5rem;
    position: relative;
    height: calc(100% / 2 - 2.5rem);
    box-shadow: 0 1rem 2rem -.4rem rgba(0,0,0,0.25);
    overflow: hidden;
    transition: all .3s ease-out;
}

.about__list_item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, #FFD700 5%, #FF4500 100%);
    opacity: 0;
    transition: all .3s ease-out;
}

.about__list_item:hover {
    color: #fff;
}

.about__list_item:hover:before {
    opacity: 1;
}

.about__list_p {
    font: 600 1.95rem / 1.4 'Roboto Condensed', sans-serif;
    text-align: justify;
    z-index: 2;
}

.partitions {
    margin-top: 7.5rem;
}

.partitions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.partitions__list_link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: calc(100% / 3 - 1.66rem);
    height: 45rem;
    margin-top: 3rem;
    background: #d0d0d0;
    box-shadow: 0 1rem 2rem -.4rem rgba(0,0,0,0.5);
    overflow: hidden;
    transition: all .3s ease-out;
}

.partitions__list_link:hover {
    box-shadow: 0 1rem 2rem -.4rem rgba(255, 136, 0, 0.75);
    
}

.partitions__list_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    transform-origin: 50% 50%;
    filter: grayscale(100)brightness(.65);
}

.partitions__list_link:hover .partitions__list_image {
    transform: scale(1.2)rotate(-5deg);
    filter: grayscale(100)brightness(.55)contrast(125%);;
}

.partitions__list_h4 {
    font: 700 7rem / 1.15 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    text-align: center;
    transition: all .3s ease-out;
    -webkit-filter: drop-shadow(.1em .1em .2em rgba(0,0,0,.5));
    background: linear-gradient(to top right, #FFD700, #FF4500);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.news__list_link:hover .news__list_h4 {
    opacity: 1;
}


.footer {
    position: relative;
    background: #171717;
}

.footer__top_container {
    padding: 6rem 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 4rem / 1 'Oswald', sans-serif;
    letter-spacing: .1em;
    color: #fff;
    text-transform: uppercase;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 2rem / 1.4 'Roboto Condensed', sans-serif;
    letter-spacing: -.05em;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 27rem;
    text-align: justify;
}

.footer__data_link {
    display: flex;
    align-items: center;
    fill: #fff;
}

.footer__data_link:hover,
.footer__data_link:hover .footer__p {
    color: #FF8C00;
    fill: #FF8C00;
}

.footer__data_link .footer__p {
/*    padding-top: .1rem;*/
}

.footer__data_pic {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    transition: all .3s ease-out;
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__social_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    border-radius: 5em;*/
    background: linear-gradient(to top right, #FFD700, #FF4500);
    transition: all .3s ease-out;
}

.footer__social_link:after {
    content: '';
    position: absolute;
    z-index: -2;
    bottom: -.25rem;
    left: 0;
    height: 100%;
    width: 100%;
/*    border-radius: 5em;*/
    background: linear-gradient(to top right, #FFD700, #FF4500);
    -webkit-filter: blur(0.75rem);
    filter: blur(.75rem);
    opacity: 0;
    transition: all .3s ease-out;
}

.footer__social_link:hover {
    transform: translateY(-.5rem);
}

.footer__social_link:hover:after {
    opacity: .75;
}

.footer__social_pic {
    height: 1.75rem;
    width: 1.75rem;
    transition: all .3s ease-out;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 3.5rem;
    width: 20rem;
    padding: 0 1.5rem;
    border: .2rem solid #fff;
/*    border-right: none;*/
    font: 400 1.6rem / 1 'Roboto Condensed', sans-serif;
    color: #FF8C00;
    transition: all .3s ease-out;
    padding-bottom: .2rem;
    letter-spacing: -.05em;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #fff;
}

.footer__form_input:focus {
    border-color: #FF8C00;
}

.footer__form_button {
    height: 3.5rem;
    padding: 0 2.5rem;
    font: 700 1.6rem / 1 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.footer__bottom {
    padding: 3rem 0;
    background: #000;
}

.footer__bottom_container {
    align-items: center;
}

.footer__info {
    display: flex;
}

.footer__info_item {
    position: relative;
}

.footer__info_item:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__info_item:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background: #fff;
    opacity: .25;
}

.footer__bottom_h4 {
    font: 400 2rem / 1 'Roboto Condensed', sans-serif;
    letter-spacing: -.05em;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}