@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*   My normalize   */

:root {
    --main-color: #1E88E5;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #568973;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top right, #73c088, #235d3a);
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 15rem 0;
}

.anchor {
    position: absolute;
    top: -15rem;
}

.anchor02 {
    position: absolute;
    top: -10rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4.5rem;
    box-shadow: 0rem 0.75rem 2rem 0 rgba(249, 158, 51, 0.5);
    padding: 0 3rem;
    border-radius: .75rem;
    overflow: hidden;
    color: #fff;
    text-transform: uppercase;
    font: 700 1.5rem / .7 'Gilroy', sans-serif;
}

.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, #ffcc2f, #ef5734);
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom left, #ffcc2f, #ef5734);
    opacity: 0;
    transition: all .3s ease-out;
}

.button:hover:after {
    opacity: 1;
}

.h2-headline {
    font: 400 6.5rem / .9 'Gilroy', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
    word-spacing: .15em;
}

.h3-headline {
    margin: 1rem 0 2rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 5rem / 1 'Good Times', sans-serif;
    color: #D9B854;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Gilroy', sans-serif;
    text-align: justify;
}

.text-center {
    text-align: center;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    transition: all .3s ease-out;
    padding: 3rem;
}

.header__fixed {
    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.05);
    background: #fff;
    padding: 1.5rem;
    
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.header__logo_link {
    display: flex;
}

.header__logo_image {
    height: 8rem;
    transition: all .3s ease-out;
/*    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));*/
/*    -webkit-filter: grayscale(100%)drop-shadow(.05em .05em .1em rgba(0,0,0,.25))brightness(0);*/
}

.header__logo_fixed {
    height: 7rem;
}

.header__h2 {
    font: 400 3rem / .7 'Gilroy', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
/*    -webkit-filter: drop-shadow(.25em .25em .5em rgba(0,0,0,.15));*/
}

.header__button {
    height: 5rem;
    font: 700 1.8rem / .7 'Gilroy', sans-serif;
}

.home {
    height: 100vh;
    display: flex;
    padding: 0;
/*    background: #f5f5f5;*/
}

.home__container {
    padding: 12rem 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    z-index: 3;
    justify-content: space-between;
}

.home__h2 {
    font: 700 5.15rem / .8 'Gilroy', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #000;
    margin-top: 2rem;
    white-space: nowrap;
    background: linear-gradient(to top right, #73c088, #235d3a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    max-width: none;
}

.home__p {
    width: 100%;
    text-align: justify;
    text-align-last: justify;
    position: relative;
    display: flex;
    align-items: center;
    color: #000;
    font: 400 2.275rem / 1.55 'Gilroy', sans-serif;
    margin-top: 4rem;
}


.home__h4 {
    font: 400 2.325rem / .7 'Gilroy', sans-serif;
    margin-top: 3rem;
/*    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));*/
/*    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);*/
    margin-left: -.15rem;
    text-transform: uppercase;
    margin-top: 4.5rem;
    max-width: none;
    white-space: nowrap;
}

.home__form {
    display: flex;
    width: 100%;
    max-width: none;
    justify-content: space-between;
    margin-top: 4.5rem;
    position: relative;
    padding: 4rem;
    padding-left: 0;
}

.home__form_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -0.5rem;
    height: 100%;
    width: calc(100% + ((100vw - 142rem) / 2));
    background: url(../images/square02.svg) 0% 0 / cover repeat;
    background-size: 1.5rem 1.5rem;
    max-width: none;
/*    opacity: .25;*/
}

.form__item {
    display: flex;
    width: calc(100% / 3 - 1.66rem);
    
}

.subscribe__form_item {
    display: flex;
    width: calc(100% / 3 * 2 - 1rem);
    
    
}

.form__input {
    width: 100%;
    height: 4.5rem;
    padding: 0 2rem;
    font: 600 1.6rem / .7 'Gilroy', sans-serif;
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
    background: #fff;
    border: .25rem solid #fff;
    transition: all .3s ease-out;
    position: relative;
    display: flex;
    border-radius: .75rem;
    color: #568973;
}

.form__input::-webkit-input-placeholder {
    color: #000;
}

.form__input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.form__input:-ms-input-placeholder {
    color: #000;
}

.form__input:focus {
    border-color: #568973;
}

.home__form_button {
    width: calc(100% / 3 - 1.66rem);
}

.home__image {
    height: calc(100vh - 17.5rem);
    width: 50%;
    position: relative;
    position: absolute;
    margin: auto;
    right: 2rem;
    bottom: 0rem;
/*    background: url(../images/plus.svg) 0% 0 / cover repeat;*/
    background-size: 1.5rem 1.5rem;
    
    -webkit-filter: drop-shadow(0.5rem 0.5rem 3rem rgba(0,0,0,.25));
/*    -webkit-filter: drop-shadow(0rem 0rem .15rem rgba(0,0,0,.5));*/
}

.home__image_pic {
    position: absolute;
    bottom: 2rem;
    right: 0rem;
    margin: auto;
    height: calc(100% + 0rem);
    
    max-width: none;
    
}

.advantages {
    position: relative;
    padding-top: 5rem;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__list_item {
    
    width: calc(100% / 5 - 1.6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
   
}

.item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 3rem 3rem;
    transition: all .3s ease-out;
    background: #fff;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.075);
    border-radius: 1rem;
}

.item__content:hover {
    transform: scale(1.05);
}

.advantages__list_item {
    border-radius: 1rem;
    z-index: 2;
    background: #fff;
}

.advantages__list_item:nth-of-type(1) {
    background: linear-gradient(to top right, #73c088, #235d3a);
    margin-bottom: 16rem;
    padding: 3rem;
}

.advantages__list_item:nth-of-type(2) {
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.advantages__list_item:nth-of-type(3) {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.advantages__list_item:nth-of-type(4) {
    margin-top: 12rem;
    margin-bottom: 4rem;
}

.advantages__list_item:nth-of-type(5) {
    margin-top: 16rem;
}

.advantages__list_item:last-of-type {
    padding: 0;
}

.advantages__button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem;
    position: relative;
}

.advantages__title {
    align-items: flex-start;
    
    font: 700 3rem / .75 'Gilroy', sans-serif;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}

.advantages__title_item:not(:first-of-type) {
    margin-top: 2rem;
}

.advantages__list_h3 {
    font: 500 3rem / 1.4 'Gilroy', sans-serif;
    color: #fff;
    text-align: center;
}

.advantages__h4 {
    font: 700 4rem / .7 'Gilroy', sans-serif;
    text-transform: uppercase;
}

.advantages__list_pic {
    height: 9rem;
    width: 9rem;
    fill: url(#Gradient01);
}

.advantages__list_h4 {
    font: 700 2.5rem / .7 'Gilroy', sans-serif;
    text-align: center;
    margin-top: 2rem;
    text-transform: capitalize;
}

.advantages__list_p {
    font: 400 1.8rem / 1.4 'Gilroy', sans-serif;
    text-align: center;
    margin-top: 1.5rem;
    
}

.mobile {
    margin-top: -14rem;
}

.mobile__container {
    justify-content: flex-end;
}

.mobile__content {
    display: flex;
    flex-direction: column;
    width: calc(50% + 4rem);
    align-items: flex-start;
    padding-left: 10rem;
}

.mobile__content_h2 {
    font: 700 4.3rem / 1.1 'Gilroy', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background: linear-gradient(to top right, #73c088, #235d3a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.mobile__content_h2:not(:first-of-type) {
    margin-top: 3rem;
}

.mobile__content_p {
    font: 400 2rem / 1.4 'Gilroy', sans-serif;
    text-align: justify;
    margin-top: 2rem;
}

.mobile__button {
    margin-top: 4rem;
    height: 5rem;
    font-size: 1.7rem;
}

.mobile__image {
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    height: 60%;
    width: 100%;
    right: calc(50% + 8rem);
    margin: auto;
/*    -webkit-filter: drop-shadow(0rem 0rem .15rem rgba(0,0,0,.5));*/
}

.mobile__image_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/plus.svg) 0% 0 / cover repeat;
    background-size: 1.5rem 1.5rem;
}

.mobile__image_pic {
    position: absolute;
    right: 0;
    margin: auto;
    height: calc(100% + 22rem);
    position: absolute;
    top: -11rem;
    right: 0;
    margin: auto;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 3rem rgba(0,0,0,.35));
}

.generator {
    padding-top: 0;
}

.generator__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.generator__list_item {
    
    width: calc(100% / 5 - 1.6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
   
}

.item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 4rem 3rem;
    transition: all .3s ease-out;
    background: #fff;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.075);
    border-radius: 1rem;
}

.item__content:hover {
    transform: scale(1.05);
}

.generator__list_item {
    border-radius: 1rem;
    z-index: 2;
    background: #fff;
}

.generator__list_item:nth-of-type(5) {
    background: linear-gradient(to top right, #73c088, #235d3a);
    margin-bottom: 16rem;
    padding: 3rem;
}

.generator__list_item:nth-of-type(4) {
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.generator__list_item:nth-of-type(3) {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.generator__list_item:nth-of-type(2) {
    margin-top: 12rem;
    margin-bottom: 4rem;
}

.generator__list_item:nth-of-type(1) {
    margin-top: 16rem;
}

.generator__list_item:last-of-type {
    padding: 0;
}

.generator__button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem;
    position: relative;
}

.generator__title {
    align-items: flex-start;
    
    font: 700 3rem / .75 'Gilroy', sans-serif;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}

.generator__title_item:not(:first-of-type) {
    margin-top: 2rem;
}

.generator__list_h3 {
    font: 500 3.5rem / 1.4 'Gilroy', sans-serif;
    color: #fff;
    text-align: center;
    padding: 3rem;
}

.generator__h4 {
    font: 700 4rem / .7 'Gilroy', sans-serif;
    text-transform: uppercase;
}

.generator__list_pic {
    height: 9rem;
    width: 9rem;
    fill: url(#Gradient01);
}

.generator__list_h4 {
    font: 700 2.5rem / .7 'Gilroy', sans-serif;
    text-align: center;
    margin-top: 2rem;
    text-transform: capitalize;
}

.generator__list_p {
    font: 500 2.2rem / 1.4 'Gilroy', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    
}

.subscribe {
    padding-top: 0;
    margin-top: -15rem;
    padding-top: 5rem;
    overflow: hidden;
}

.subscribe__partners {
    display: flex;
    align-self: flex-end;
}

.subscribe__partners_item:not(:first-of-type) {
    margin-left: 8.5rem;
}

.subscribe__partners_link {
    display: flex;
    transition: all .3s ease-out;
}

.subscribe__partners_link:hover {
    transform: scale(1.1);
}


.subscribe__partners_image {
    height: 7.5rem;
}

.subscribe__content {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}

.subscribe__p {
    font: 400 2.2rem / 1.6 'Gilroy', sans-serif;
    flex-shrink: 0;
    padding-top: .5rem;
}

.subscribe__form {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 4rem;
    padding-right: 0;
    position: relative;
    margin-left: 6rem;
}

.subscribe__form_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + ((100vw - 142rem) / 2));
    background: url(../images/square02.svg) 0% 0 / cover repeat;
    background-size: 1.5rem 1.5rem;
    max-width: none;
}

.subscribe__form_input {
    width: 100%;
}

.subscribe__form_button {
    width: calc(100% / 3 - 1rem);
}

.footer {
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 15rem 0 7.5rem;
}

.footer__container {
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 4rem;
}

.footer__social_link {
    display: flex;
    height: 4rem;
    width: 4rem;
    fill: url(#Gradient01);
    transition: all .3s ease-out;
}

.footer__social_link:hover {
    transform: scale(1.15);
}

.footer__social_pic {
    height: 100%;
    width: 100%;
}

.footer__h4 {
    font: 400 2.215rem / 0.8 'Gilroy', sans-serif;
}


@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}