/*   My variables   */

:root {
    --color01-number01: 34;
    --color01-number02: 169;
    --color01-number03: 225;
    --color02-number01: 200;
    --color02-number02: 216;
    --color02-number03: 45;
    --color-first: rgb(var(--color01-number01), var(--color01-number02), var(--color01-number03));
    --color-second: rgb(var(--color02-number01), var(--color02-number02), var(--color02-number03));
    --width-container: 144rem;
    --shadow-content: 0 1rem 2rem rgba(0, 0, 0, 0.075);
    --font-first: 'Nunito Sans', sans-serif;
    --font-second: 'Orbitron', sans-serif;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
/*    background: #EBF7FF;*/
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--color-second);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-first);
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: var(--width-container);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding-bottom: 20rem;
    background: #fff;
    z-index: 2;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.content {
    position: relative;
    width: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h2-headline {
    font: 700 5rem / 1.2 var(--font-second);
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--color-first);
}

.h3-headline {
    font: 300 4.23rem / .8 var(--font-first);
    text-transform: uppercase;
    margin-top: 3rem;
}

.h4-headline {
    font: 700 2.75rem / 1.2 var(--font-first);
    text-transform: uppercase;
    margin-top: 3rem;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 var(--font-first);
    text-align: justify;
}

.main-color {
    color: var(--color-second);
}

.button__wrapper {
    
}

.button__content {
    display: flex;
    
}

.button {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
    background: var(--color-second);
    -webkit-filter: var(--shadow-content);
    white-space: nowrap;
    padding: 0 2rem;
    font: 700 1.6rem / 0.8 var(--font-first);
    box-shadow: var(--shadow-content);
}

.button:hover {
    background: var(--color-first);
}


.header {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    transition: all .3s ease-out;
    box-shadow: 0 0 1rem rgba(0,0,0,.025), 0 1rem 2rem rgba(0,0,0,.075);
    display: flex;
    flex-direction: column;
    background: #fff;
}

.header__top {
    background: var(--color-first);
    transition: all .3s ease-out;
    height: 4rem;
}

.header__fixed {
    position: fixed;
    top: -4rem;
    transition: all 0s ease-out;
}


.header__top_container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo_item:not(:first-of-type) {
    margin-top: 1.25rem;
}

.header__h2 {
    font: 800 2rem / .8 var(--font-second);
    color: #fff;
    text-transform: uppercase;
}

.header__panel {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding-left: 5rem;
}

.header__panel_item {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    padding-left: 5rem;
}

.header__panel_item:first-of-type {
    padding: 0;
}

.header__panel_link {
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
    color: #fff;
    fill: #fff;
}

.header__panel_link:hover {
    color: var(--color-second);
    fill: var(--color-second);
}

.header__panel_p {
    font: 600 1.55rem / .8 var(--font-first);
    
    
}

.header__panel_icon {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1.25rem;
    
}

.header__panel_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 40%;
    width: .1rem;
    margin: auto;
/*    background: #E0E0E0;*/
}

.header__bottom {
    padding: 2rem 0;
    background: #fff;
}

.header__bottom_container {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo_link {
    display: flex;
    transition: all .3s ease-out;
    height: 7rem;
}

.header__logo_picture {
    height: 100%;
}

.header__menu {
    display: flex;
}

.header__menu_item {
    flex: 1 0 auto;
    position: relative;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 7.5rem;
}

.header__menu_link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font: 600 1.4rem / 0.75 var(--font-first);
    transition: all .3s ease-out;
    height: 100%;
    text-transform: uppercase;
    color: #000;
    position: relative;
    z-index: 2;
}

.header__menu_link:hover {
    padding-top: 2.5rem;
    color: var(--color-first);
    
}

.header__menu_link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1rem;
    width: 1rem;
    max-width: none;
    background: var(--color-second);
    opacity: 0;
    transition: all .3s ease-out;
}

.header__menu_link:hover:before {
    opacity: 1;
}




.home-top {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    display: flex;
    overflow: hidden;
    z-index: 2;
}

/*
.home-top:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        url(../images/home-top__bg.webp) 0 50% no-repeat,
        #fff url(../images/home-top__bg17.png) 0 0% no-repeat;
    background-size: cover;
}
*/

.home-top__container {
    padding: 16rem 2rem 2rem;
    justify-content: center;
    align-items: flex-start;
/*    display: none;*/
    
}

.home-top__h2 {
    
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.home-top__h2_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #003765;
    opacity: 0.85;
}

.home-top__h2_item {
    position: relative;
    font: 800 4.5rem / 0.75 var(--font-second);
/*    color: #fff;*/
/*    text-shadow: 0.1em 0.1em .2em rgb(0, 90, 170);*/
    position: relative;
    color: var(--color-first);
/*    -webkit-text-stroke-width: .35rem;*/
/*    -webkit-text-stroke-color: var(--color-second);*/
/*    -webkit-text-stroke-color: #fff;*/
    color: #fff;
    padding: 2rem;
}

.home-top__h2_item:not(:first-of-type) {
    margin-top: 2rem;
}
.home-top__button {
/*    height: 6rem;*/
    padding: 0 3rem;
/*    font-size: 2rem;*/
    margin-top: 2rem;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

.site-wrapper {
    position: absolute;
    top: 0rem;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.site-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        var(--color-first) url(../images/home-top__bg13.png) 50% 50% no-repeat;
    background-size: cover;
    transform: scale(1.05);
}

canvas {
    position: absolute;
}

.home-about {
    overflow: hidden;
    padding-top: 20rem;
}

.home-about__list {
    position: relative;
    width: 50%;
    height: 100%;
}

.home-about__list_item {
    box-shadow: var(--shadow-content);
}

.home-about__list_item:nth-of-type(1) {
    position: absolute;
    top: 2rem;
    left: 0;
    height: 28rem;
    width: 28rem;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        var(--color-second) url(../images/about011.png) 0 0% no-repeat;
    background-size: cover;
}

.home-about__list_item:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 30rem;
    height: 28rem;
    width: 28rem;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        var(--color-first) url(../images/about021.png) 0 0% no-repeat;
    background-size: cover;
}

.home-about__list_item:nth-of-type(3) {
    position: absolute;
    top: 32rem;
    left: -2rem;
    height: 30rem;
    width: 30rem;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        var(--color-first) url(../images/about031.png) 0 0% no-repeat;
    background-size: cover;
}

.home-about__list_item:nth-of-type(4) {
    position: absolute;
    top: 30rem;
    left: 30rem;
    height: 30rem;
    width: 30rem;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        var(--color-second) url(../images/about041.png) 0 0% no-repeat;
    background-size: cover;
}

.home-about__list_item:nth-of-type(5) {
    position: absolute;
    top: 12rem;
    left: 10rem;
    height: 36rem;
    width: 36rem;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        url(../images/shell02.png) 0 0% no-repeat;
    background-size: cover;
    box-shadow: none;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.home-about__button {
    margin-top: 3.75rem;
}

.home-about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62rem;
    padding: 2rem 0;
}

.home-about_p {
    font-size: 2.2rem;
    font-weight: 400;
}

.home-services .h2-headline {
    text-align: center;
}

.home-services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;
}

.home-services__list_item {
    width: calc(100% / 4 - 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-services__list_item:nth-of-type(2n + 1) {
    margin-top: 2rem;
}

.home-services__list_picture {
    height: 25rem;
    width: 100%;
}

.home-services__list_info {
    background: #fff;
    padding: 2rem;
    width: calc(100% - 4rem);
    box-shadow: var(--shadow-content);
    margin-top: -5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.home-services__list_h4 {
    font: 700 2.5rem / .75 var(--font-first);
    color: var(--color-first);
}

.home-services__list_p {
    font: 400 1.5rem / 1.5 var(--font-first);
    margin-top: 1.5rem;
}

.home-services__list_button {
    position: absolute;
    right: 0;
    bottom: -2rem;
    box-shadow: var(--shadow-content);
    background: var(--color-second);
    height: 4rem;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font: 600 1.4rem / 1.5 var(--font-first);
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.home-services__list_button:hover {
    background: var(--color-first);
}

.home-testimonials {
    position: relative;
}

.home-testimonials .h2-headline{
    text-align: center;
}

.home-video__content {
    width: 100%;
    height: 70rem;
    position: relative;
    box-shadow: var(--shadow-content);
    margin-top: 4rem;
}

.home-video_picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: var(--content-shadow);
    
    display: flex !important;
}

.home-video__link {
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0%;
    margin: auto;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    border: .5rem solid var(--color-second);
    filter: drop-shadow(0rem 0rem 1.5rem rgba(255, 255, 255, 0.5));
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    fill: var(--color-second);
}

.home-video__content:hover .home-video__link {
    background: var(--color-second);
    fill: #fff;
}

.home-video__link:hover {
    transform: scale(1.15);
    filter: drop-shadow(0rem 0rem 1.5rem rgba(255, 255, 255, 0.75));
}

.home-video__link_pic {
    display: flex !important;
    height: 45%;
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
    
}

.testimonials__content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.testimonials__content_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 1.33rem);
    transition: all .3s ease-out;
}

.testimonials__content_blockquote {
    padding: 4rem;
    font: 400 2rem / 1.5 var(--font-first);
    color: #fff;
    text-align: center;
    padding-bottom: 13rem;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-out;
    position: relative;
}

.testimonials__content_blockquote:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    background: var(--color-first);
}

.testimonials__blockquote_top {
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: 0;
    height: 15rem;
    width: 15rem;
    fill: var(--color-first);
    opacity: .75;
    filter: brightness(90%);
}

.testimonials__content_info {
    padding: 4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 9rem;
    width: calc(100% - 4rem);
    margin-top: -4rem;
    box-shadow: var(--shadow-content);
}

.testimonials__content_info:before {
    content: '';
    position: absolute;
    top: -6rem;
    right: 0;
    left: 0;
    margin: auto;
    height: 12rem;
    width: 12rem;
    transition: all .3s ease-out;
    box-shadow: var(--shadow-content);
}

.testimonials__content_item:nth-of-type(1) .testimonials__content_info:before {
    background: url(../images/testimonials01.png) 50% 0 / cover no-repeat;
}

.testimonials__content_item:nth-of-type(2) .testimonials__content_info:before {
    background: url(../images/testimonials02.png) 50% 0 / cover no-repeat;
}

.testimonials__content_item:nth-of-type(3) .testimonials__content_info:before {
    background:  url(../images/testimonials03.png) 50% 0 / cover no-repeat;
}

.testimonials__content_h4 {
    font: 700 2.5rem / 1 var(--font-first);
    color: var(--color-first);
}

.testimonials__content_p {
    font: 300 2rem / 1 var(--font-first);
    text-transform: capitalize;
    margin-top: 1rem;
}

.home-partners {
/*    overflow: hidden;*/
}

.home-partners__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-partners__list_item {
    display: flex !important;
}

.home-partners__list_link {
    display: flex;
    transition: all .3s ease-out;
}

.home-partners__list_link:hover {
    transform: scale(1.15);
}

.home-partners__list_picture {
    height: 7.5rem;
    font: 600 2rem / 2.5 var(--font-first);
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.footer {
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: #fff;
}

.footer-subscribe {
    position: relative;
    z-index: 3;
}

.footer:before {
    content: '';
    position: absolute;
    top: 10rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-first);
    opacity: .1;
}

.footer-subscribe__content {
    padding: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-first);
    width: calc(100%);
    max-width: none;
    opacity: 1 !important;
    box-shadow: var(--shadow-content);
}

.footer-subscribe__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.footer-subscribe__h2 {
    font: 700 3.2rem / .75 var(--font-second);
    text-transform: uppercase;
}

.footer-subscribe__p {
    margin-top: 2rem;
    font: 400 2.35rem / .75 var(--font-first);
}

.footer-subscribe__form {
    margin-left: 7.5rem;
    display: flex;
    flex-shrink: 0;
    width: calc((100% + 15rem) * .4);
}

.footer-subscribe__form_input {
    height: 6rem;
    width: 100%;
    padding: 0 3rem;
    padding-left: 4rem;
    border: .3rem solid #fff;
    border-right: none;
    background: #fff;
    font: 600 1.8rem / .75 var(--font-first);
    color: #000;
    transition: all .3s ease-out;
}

.footer-subscribe__form_input::-webkit-input-placeholder {
    color: #000;
}

.footer-subscribe__form_input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.footer-subscribe__form_input:-ms-input-placeholder {
    color: #000;
}

.footer-subscribe__form_button {
    height: 6rem;
    padding: 0 3rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
    background: var(--color-second);
    font: 700 1.7rem / .75 var(--font-first);
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.footer-subscribe__form_button:hover {
    color: var(--color-first);
}

.footer__top_container {
    padding: 7.5rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 6rem;
    font: 700 3rem / .75 var(--font-second);
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--color-first);
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__data_list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__data_item {
    display: flex;
    align-items: center;
}

.footer__data_item:not(:first-of-type) {
    margin-top: 3rem;
}

.footer__data_link {
    display: flex;
    align-items: center;
}

.footer__p,
.footer__bottom_h4 {
    display: flex;
    align-items: center;
    font: 400 2rem / .75 var(--font-first);
    color: #000000;
    transition: all .3s ease-out;
}

.footer__data_link:hover .footer__p,
a:hover .footer__p {
    color: var(--color-first);
}

.footer__link_image {
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    box-shadow: var(--shadow-content);
    position: relative;
}

.footer__link_image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: var(--color-second);
    transition: all .3s ease-out;
}

.footer__link_pic {
    display: flex !important;
    height: 2rem;
    width: 2rem;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__data_link:hover .footer__link_image:before {
    background: var(--color-first);
}

.footer__bottom {
    padding: 4rem 0;
    position: relative;
}

.footer__bottom:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: .1rem;
    width: 100%;
    background: var(--color-first);
    opacity: .15;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_item {
    display: flex;
    align-items: center;
}

.footer__bottom_item:not(:last-of-type) {
    margin-right: 6rem;
}

.footer__bottom_link {
    display: flex;
    align-items: center;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home-top {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home-top {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}