/*      Affiliates Page      */

.page-headline__h2 {
    font-size: 6.35rem;
}

.p-text:first-of-type {
    margin-top: 0;
}

.about-page__what {
    background: #fff;
}

.about-page__what_container {
    justify-content: space-between;
}


.about-page__what_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 50%;
    width: calc(50% - 3rem);
}

.about-page__what_item {
    width: calc(100% / 2 - 1rem);
    height: calc(100% / 2 - 1rem);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    padding: 3rem;
    background: url(../images/gold11.png) 50% 50% / cover no-repeat;
    position: relative;
}

.about-page__what_image {
    height: 6rem;
    width: 6rem;
    background: #000;
    transform: rotate(45deg);
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.about-page__what_pic {
    height: 2.5rem;
    width: 2.5rem;
    transform: rotate(-45deg);
    fill: #fff;
}

.about-page__what_h4 {
    z-index: 2;
    font: 700 1.7rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 3.75rem;
}

.about-page__what_p {
    z-index: 2;
    margin-top: 1.5rem;
    font: 400 1.3rem / 1.5 'Montserrat', sans-serif;
}

.affiliates-page-advantages_h3 {
     font: 400 4.5rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
    text-align: center;
}

.affiliates-page-advantages {
    background: #252525 url(../images/numbers-bg05.png) 50% 50% / cover no-repeat;
}

.affiliates-page-advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    flex-direction: row;
}

.affiliates-page-advantages__list_item {
    width: calc(100% / 4 - 1.5rem);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    margin-top: 2rem;
    padding: 4rem 3rem;
    background: url(../images/gold11.png) 50% 50% / cover no-repeat;
    position: relative;
}

.affiliates-page-advantages__list_image {
    height: 12rem;
    width: 12rem;
    background: #000;
    transform: rotate(45deg);
    margin-top: 3rem;
    margin-bottom: 3rem;
/*
    border: .3rem solid #D9B854;
    border-image: url(../images/gold01.png) 10%;
*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.affiliates-page-advantages__list_pic {
    height: 7rem;
    width: 7rem;
    transform: rotate(-45deg);
    fill: #fff;
}

.affiliates-page-advantages__list_h4 {
    z-index: 2;
    font: 700 2.2rem / 1.25 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.affiliates-page-advantages__list_p {
    z-index: 2;
    margin-top: 2rem;
    font: 400 1.6rem / 1.5 'Montserrat', sans-serif;
}