/*      Hedge Fund Page      */

.home__content {
    align-items: center;
    text-align: center;
}

.home__h2 {
    font-size: 10.25rem;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
}

.home__h3 {
    font-size: 4.85rem;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
}

.home__bg {
    background: url(../images/hedge-fund-bg.png) 50% 50% / cover no-repeat;
}

.home__bg_video {
    filter: grayscale(100)brightness(55%)contrast(100%);
}

.home__p {
    text-align-last: center;
    width: 87%;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
}

.hedge-fund-page__advantages {
    background: #fff;
}

.hedge-fund-page__h3 {
    font: 400 4rem / 1.4 'Good Times', sans-serif;
    font: 700 4.4rem / 1.4 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-top: -1.25rem;
}

.hedge-fund-page__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    flex-direction: row;
}

.hedge-fund-page__list_item {
    width: calc(100% / 3 - 1.33rem);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    margin-top: 2rem;
    padding: 4rem 3rem;
    background: url(../images/gold11.png) 50% 50% / cover no-repeat;
    position: relative;
}

.hedge-fund-page__list_image {
    height: 12rem;
    width: 12rem;
    background: #000;
    transform: rotate(45deg);
    margin-top: 3rem;
    margin-bottom: 3rem;
/*
    border: .3rem solid #D9B854;
    border-image: url(../images/gold01.png) 10%;
*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.hedge-fund-page__list_pic {
    height: 7rem;
    width: 7rem;
    transform: rotate(-45deg);
    fill: #fff;
}

.hedge-fund-page__list_h4 {
    z-index: 2;
    font: 700 2.3rem / 1.4 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.hedge-fund-page__list_p {
    z-index: 2;
    margin-top: 1rem;
    font: 400 1.6rem / 1.5 'Montserrat', sans-serif;
}


