/*   My variables   */

:root {
    --color-first: #00a6dd;
    --color-second: #007abf;
    --color-third: #fff100;
    --color-fourt: #007ba3;
    --color-fifth: #007ba3;
    --width-container: 144rem;
    --shadow-content: 0.5rem 0.5rem 2rem rgba(var(--color01-number01), var(--color01-number02), var(--color01-number03), .1);
    --background-first: linear-gradient(to bottom left, var(--color-second), var(--color-third));
    --background-second: linear-gradient(to top right, var(--color-second), var(--color-third));
    --background-content: rgba(0,0,0,.95);
    --font-first: 'Quicksand', sans-serif;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--color-first);
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--main-color);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .25rem;
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: var(--width-container);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.h2-headline {
    font: 600 2.4rem / 1 'Good Times', sans-serif;
    letter-spacing: .2em;
}

.h3-headline {
    margin: 1rem 0 2rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 5rem / 1 'Good Times', sans-serif;
    color: #D9B854;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
}

.button {
    position: relative;
    height: 4.5rem;
    padding: 0 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid #D9B854;
    border-image: url(../images/gold01.png) 10%;
}

.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #D9B854 url(../images/gold01.png) 50% 50% / cover no-repeat;
    opacity: 0;
    transition: all .3s ease-out;
}

.button:hover:before {
    opacity: 1;
}

.button__text {
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 700 1.5rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #D9B854;
    transition: all .3s ease-out;
}

.button:hover .button__text {
    background: #000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #fff;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    transition: all .3s ease-out;
    overflow: hidden;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.header__logo {
}

.header__logo_link {
    display: flex;
    transition: all .3s ease-out;
}

.header__logo_picture {
    height: 6rem;
    filter: drop-shadow(.25rem .25rem .25rem rgba(0, 0, 0, 0.1));
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 5rem;
}

.header__menu_link {
    display: flex;
    align-items: center;
    font: 600 2.2rem / 0.75 var(--font-first);
    filter: drop-shadow(.25rem .25rem .25rem rgba(0, 0, 0, 0.1));
    transition: all .3s ease-out;
    color: #fff;
    position: relative;
}

.header__menu_item:nth-last-of-type(2) .header__menu_link{
    color: var(--color-third);
}

.header__menu_item:nth-last-of-type(1) .header__menu_link{
    color: var(--color-third);
    height: 5rem;
    text-transform: uppercase;
    border-radius: 5em;
    padding: 0 3rem;
    border: .2rem solid var(--color-third);
}

.header__menu_item:nth-last-of-type(1) .header__menu_link:hover {
    color: var(--color-first);
    background: var(--color-third);
}

.header__menu_link:before {
    content: '';
    position: absolute;
    top: -12rem;
    right: 0;
    left: 0;
    margin: auto;
    height: 5rem;
    width: .35rem;
    background: var(--color-third);
    transition: all .3s ease-out;
}

.header__menu_item:not(:last-of-type) .header__menu_link:hover:before {
    top: -6.5rem;
}

.header__menu_item:not(:last-of-type) .header__menu_link:hover {
    color: var(--color-third);
    transform: translateY(1rem);
}


.home {
    display: flex;
    padding: 0;
    background: url(../images/home__bg.png) 50% 50% / cover no-repeat;
}

.main {
    margin-top: 10rem;
    
}

.home {
    height: 100%;
}

.home__container {
    height: 100%;
}

.box {
    background: #fff;
    box-shadow: var(--shadow-content);
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.change {
    height: 100%;
    width: calc(60% - 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
}



.change__h2 {
    font: 700 calc((var(--width-container) * .029)) / 0.75 var(--font-first);
    text-transform: capitalize;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: var(--color-first);
}

.change__h2:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100%;
    right: -5rem;
    height: 300%;
    width: 150%;
    max-width: none;
    background: var(--color-first);
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    box-shadow: .75rem .75rem 1.5rem rgba(0, 123, 163, 0.35);
    opacity: 0.15;
    
}

.change__list {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.change__list_item {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    color: var(--color-first);
}

.change__list_picture {
    display: flex;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    filter: drop-shadow(.15rem .15rem .15rem rgba(0, 0, 0, 0.1))
}

.change__p {
    font: 500 3rem / .8 var(--font-first);
}

.change__button {
    margin-top: 7rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 2.2rem / .8 var(--font-first);
    text-transform: uppercase;
    letter-spacing: .1em;
    background: var(--color-third);
    border-radius: 6em;
    padding: 0 4rem;
    color: var(--color-first);
    box-shadow: .5rem .5rem 1rem rgba(255, 241, 0, 0.25);
}

.begin {
    height: 100%;
    width: calc(40% - 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
}

.begin__h3 {
    font: 700 2.5rem / 0.75 var(--font-first);
    text-transform: capitalize;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: var(--color-first);
    
}

.begin__h3:not(:first-of-type) {
    margin-top: 5rem;
}

.begin__h3:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100%;
    right: -3rem;
    height: 300%;
    width: 150%;
    max-width: none;
    background: var(--color-first);
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    box-shadow: .75rem .75rem 1.5rem rgba(0, 123, 163, 0.35);
    opacity: 0.15;
    
}

.begin__list {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    width: 100%;
}

.begin__list_item {
    width: calc(100% / 2 - 1.5rem);
    box-shadow: 0rem 0rem 2rem rgba(0, 166, 221, 0.15);
}

.begin__list_input {
    display: none;
}



.begin__list_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
/*    border: .2rem solid var(--color-first);*/
    color: var(--color-first);
    fill: var(--color-first);
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    background: #fff;
}

.begin__list_label:hover {
    background: rgba(255, 241, 0, 0.25);
}

.begin__list_input:checked + .begin__list_label {
    background: var(--color-first);
    color: #fff;
    fill: #fff;
    
}

.begin__list_icon {
    height: 5rem;
    width: 5rem;
    display: flex !important;
    
}

.begin__list_p {
    font: 700 1.6rem / 0.75 var(--font-first);
    margin-top: 2rem;
    
}

.begin__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.begin__form_input {
    width: 100%;
    height: 5rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 166, 221, 0.15);
    border-radius: 5em !important;
    margin-top: 3rem;
    font: 500 1.4rem / 0.75 var(--font-first);
    padding: 0 2.5rem;
    text-align: center;
    color: var(--color-first);
}

.begin__form_input::-webkit-input-placeholder {
    color: var(--color-first);
    opacity: .75;
}

.begin__form_input::-moz-placeholder {
    color: var(--color-first);
    opacity: .75;
}

.begin__form_input:-ms-input-placeholder {
    color: var(--color-first);
    opacity: .75;
}

.begin__button {
    width: 100%;
    margin-top: 3rem;
}


.footer {
    
}

.footer__container {
    height: 8rem;;
    align-items: center
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    border: .15rem solid #fff;
    border-radius: 50%;
    filter: drop-shadow(.25rem .25rem .25rem rgba(0, 0, 0, 0.1));
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__link_pic {
    height: 100%;
    width: 100%;
    display: flex !important;
    
}

.footer__social_link:hover {
    background: var(--color-third);
    border-color: var(--color-third);
    filter: drop-shadow(.25rem .25rem .25rem rgba(0, 0, 0, 0.1));
    fill: var(--color-first);
}

.footer__h4 {
    font: 600 2rem / 0.75 var(--font-first);
    color: #fff;
    filter: drop-shadow(.25rem .25rem .25rem rgba(0, 0, 0, 0.1));
}

@media screen and (max-width : 1680px) {
}

@media screen and (max-width : 1366px) {
    
}

@media screen and (max-width : 1280px) {
}

@media screen and (max-width : 1024px) {
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 7.5px;
    }
    
    .home__container {
        flex-direction: column;
    }
    
    .change {
        width: 100%;
    }
    
    .begin {
        width: 100%;
        margin-top: 3rem;
    }
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    background:
/*        url(../images/home-about__bg.webp) 0 50% no-repeat,*/
        url(../images/map.png) 50% 50% no-repeat;
    background-size: cover;
    opacity: 0.5
}

@media screen and (max-width : 640px) {
}

@media screen and (max-width : 480px) {
}

@media screen and (max-width : 420px) {
}

@media screen and (max-width : 320px) {
}