@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*   My normalize   */

:root {
    --main-color: #3864ab;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .25rem;
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 15rem 0;
}

.anchor {
    position: absolute;
    top: -5rem;
}

.h2-headline {
    font: 500 2.2rem / .8 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em;
    color: var(--main-color);
}

.h3-headline {
    margin: 2rem 0;
    font: 700 4.75rem / 1 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Play', sans-serif;
    text-align: justify;
}

.text-center {
    align-self: center;
    text-align: center;
}

.button {
    height: 5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .75rem 2rem rgba(56, 100, 171, 0.35);
    border-radius: .5rem;
    background: var(--main-color);
    font: 700 1.7rem / .8 'Play', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(56, 100, 171, 0.5);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 3rem 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    transition: all .3s ease-out;
}

.header__fixed {
    padding: 2rem 0;
    box-shadow: 0 0 .75rem rgba(0,0,0,.05), 0 .75rem 1.5rem rgba(0,0,0,.1);
    background: rgba(255, 255, 255, 0.975);
}

.header__container {
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo_link {
    display: flex;
}

.header__logo_image {
    height: 12rem;
    font: 600 2rem / 1 'Play', sans-serif;
/*    color: var(--main-color);*/
    transition: all .3s ease-out;
}

.header__logo_fixed {
    height: 8rem;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 7rem;
}

.header__menu_link {
    position: relative;
    display: flex;
    font: 500 1.4rem / 1 'Play', sans-serif;
    text-transform: uppercase;
    color: #000;
    transition: all .3s ease-out;
}

.header__menu_link:hover {
    padding-top: 1rem;
    color: var(--main-color);
}

.header__menu_link:after {
    content: '\2605';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    line-height: .75;
    color: var(--main-color);
    opacity: 0;
    transition: all .3s ease-out;
}

.header__menu_link:hover:after {
    bottom: 100%;
    opacity: 1;
}

.header__menu_button {
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25rem solid var(--main-color);
    background: transparent;
    font: 700 1.8rem / 1 'Play', sans-serif;
    color: var(--main-color);
    transition: all .3s ease-out;
}

.header__menu_button:hover {
    transform: translateY(-.5rem);
    background: var(--main-color);
    color: #fff;
}

.home-top {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
    color: #000;
    overflow: hidden;
}

.home-top__container {
    padding: 12rem 2rem 7.5rem;
    justify-content: flex-end;
    align-items: flex-start;
}

.home-top__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.home-top__content_h2 {
    font: 600 8.5rem / .7 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: var(--main-color);
}

.home-top__content_h3 {
    margin-top: 4rem;
    font: 600 5.5rem / .7 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.home-top__p {
    margin-top: 2.5rem;
    font: 400 3rem / 1.25 'Play', sans-serif;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex !important;
    background: #D0D0D0;
}

.video-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
}

.video-bg__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%)brightness(100%);
}

.home-services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-services__list_item {
    position: relative;
    width: calc(100% / 2 - 4rem);
    margin-top: 6rem;
    display: flex;
    align-items: center;
}

.home-services__list_pic {
    display: flex !important;
    height: 18rem;
    width: 18rem;
    background: #d6d6d6;
    font: 400 1.6rem / 7.5 'Play', sans-serif;
    filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
    border-radius: 1rem;
    margin-right: 4rem;
}

.home-services__list_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-services__list_h4 {
    font: 700 2.65rem / 1.2 'Play', sans-serif;
    text-transform: uppercase;
}

.home-services__list_p {
    margin-top: 1.5rem;
    font: 400 2rem / 1.5 'Play', sans-serif;
    color: #5d5d5d;
}

.home-about {
    color: #000;
    height: 125vh;
}

.home-about__container {
    justify-content: space-between;
    height: 100%;
}

.home-about__content_list {
    width: calc(100%);
    display: flex;
    justify-content: space-between;
}

.home-about__content_item {
    width: calc(100% / 3 - 5rem);
}

.home-about__content_title {
    display: flex;
    align-items: center;
}

.home-about__content_pic {
    margin-right: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex !important;
    fill: var(--main-color);
}

.home-about__content_h4 {
    padding-top: .1em;
    font: 600 2.75rem / .8 'Play', sans-serif;
    transition: all .3s ease-out;
}

.home-about__content_item:hover .home-about__content_h4 {
    color: var(--main-color);
}

.home-about__content_p {
    margin-top: 1.35rem;
    font: 400 2rem / 1.5 'Play', sans-serif;
    text-align: justify;
    opacity: .75;
}

.home-projects__slider {
    position: relative;
    width: calc(50% - 4rem);
    display: block !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.home-projects__slider:before {
    content: '';
    position: absolute;
    top: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    background: var(--main-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(50% + 13rem) 100%, calc(50% + 13rem) calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) calc(2rem), calc(2rem) calc(2rem), calc(2rem) calc(100% - 2rem), calc(50% - 13rem) calc(100% - 2rem), calc(50% - 13rem) calc(100%), 0 calc(100%));
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(50% + 13rem) 100%, calc(50% + 13rem) calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) calc(2rem), calc(2rem) calc(2rem), calc(2rem) calc(100% - 2rem), calc(50% - 13rem) calc(100% - 2rem), calc(50% - 13rem) calc(100%), 0 calc(100%));
    filter: grayscale(100%)opacity(.25);
    transition: all .3s ease-out;
}

.home-projects__slider:hover:before {
    filter: grayscale(0)opacity(.5);
}

.slick-list {
    position: relative;
    height: 100%;
}

.slick-track {
    position: absolute !important;
    height: 100%;
}

.home-projects__slider_item {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100%;
    transition: all 1.5s ease-out !important;
}

.home-projects__slider_video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4rem;
    left: 4rem;
    height: calc(100% - 4rem);
    width: 100%;
    border-radius: 2rem;
    background: #b3b3b3;
    object-fit: cover;
    box-shadow: -1rem 1rem 2rem  rgba(0,0,0,.1);
}

.slick-dots {
    position: absolute;
    z-index: 1001;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
}

.slick-dots li {
    position: relative;
    display: flex;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.slick-dots li:not(:first-of-type) {
    margin-left: 2rem;
}

.slick-dots li button {
    height: 2rem;
    width: 2rem;
    color: transparent;
}

.slick-dots li button:before {
    content: '\2605' !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: .75;
    color: var(--main-color);
    filter: grayscale(100%)brightness(0)opacity(.1);
    transition: all .3s ease-out;
}

.slick-dots li button:hover:before {
    filter: grayscale(0)brightness(100%)opacity(.5);
}

.slick-dots li.slick-active button:before {
    filter: grayscale(0)brightness(100%)opacity(1);
}

.home-numbers {
    padding-bottom: 0;
}

.home-numbers__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 7.5rem;
}

.home-about__numbers_item {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.home-about__numbers_item:not(:first-of-type) {
    margin-left: 4rem;
}

.home-about__numbers_h4 {
    font: 700 12rem / .7 'Play', sans-serif;
    text-transform: uppercase;
    color: var(--main-color);
    margin-right: 2rem;
}

.home-about__numbers_p {
    font: 300 2.4rem / 1.25 'Play', sans-serif;
    text-align: left;
}

.home-projects__content {
    width: calc(50% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-projects .h3-headline {
    font: 700 4.7rem / 1 'Play', sans-serif;
}

.home-projects__content_p {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Play', sans-serif;
    text-align: justify;
}

.home-projects__content_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-projects__list_item {
    min-width: 45%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.home-projects__list_icon {
    margin-right: 1.5rem;
    display: flex !important;
    font-size: 2.75rem;
    line-height: .85;
    color: var(--main-color);
}

.home-projects__list_h4 {
    font: 700 1.7rem / 1 'Play', sans-serif;
    text-transform: uppercase;
}

.home-projects__list_item:hover {
    color: var(--main-color);
}

.home-team {
    height: 125vh;
}

.home-team__container {
    justify-content: space-between;
    height: 100%;
}

.home-team__list {
    width: 100%;
    margin-top: 5.5rem;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
}

.home-team__list_item {
    height: 30rem;
    width: calc(100% / 4 - 3rem);
    border-radius: 2rem;
    overflow: hidden;
}

.home-team__list_item:nth-of-type(2n) {
    margin-top: 3rem;
}

.home-team__list_image {
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.25);
    font: 500 2rem / 20 'Play', sans-serif;
    object-fit: cover;
    transition: all .3s ease-out;
}

.home-team__list_item:hover .home-team__list_image {
    transform: scale(1.2);
}

.home-testimonials {
    color: #000;
}

.home-testimonials__list {
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
}

.home-testimonials__list_item {
    width: calc(100% / 3 - 2.66rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-testimonials__list_blockquote {
    position: relative;
    width: 100%;
    padding: 5rem;
    flex: 1 0 auto;
    font: 500 2rem / 1.5 'Play', sans-serif;
}

.home-testimonials__list_blockquote:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    background: var(--main-color);
    -webkit-clip-path: polygon(0 0, 70% 0, 70% 2rem, 2rem 2rem, 2rem calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) 2rem, calc(90%) 2rem, calc(90%) 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 70% 0, 70% 2rem, 2rem 2rem, 2rem calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) 2rem, calc(90%) 2rem, calc(90%) 0, 100% 0, 100% 100%, 0 100%);
    filter: grayscale(100%)opacity(.25);
    transition: all .3s ease-out;
}

.home-testimonials__list_item:hover .home-testimonials__list_blockquote:before {
    filter: grayscale(0)opacity(.5);
}

.home-testimonials__list_blockquote:after {
    content: '\2605';
    position: absolute;
    z-index: -1;
    top: 0;
    right: calc((40% - 2rem) / 2);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: .75;
    color: var(--main-color);
}

.home-testimonials__list_info {
    width: 100%;
    padding-left: 4rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.home-testimonials__list_image {
    display: flex !important;
    height: 10rem;
    width: 10rem;
    margin-top: -3rem;
    margin-right: 3rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    border-radius: 50%;
    background: rgba(0,0,0,.1);
    font: 500 1.5rem / 5 'Play', sans-serif;
    object-fit: cover;
    filter: grayscale(100%);
    overflow: hidden;
    transition: all .3s ease-out;
}

.home-testimonials__list_item:hover .home-testimonials__list_image {
    filter: grayscale(0);
}

.home-testimonials__list_writer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.home-testimonials__list_h4 {
    font: 700 2.4rem / 1 'Play', sans-serif;
}

.home-testimonials__list_p {
    margin-top: 1rem;
    font: 500 1.8rem / 1 'Play', sans-serif;
    color: #8a8a8a;
}

.home-subscribe {
    padding: 7.5rem 0;
    background: var(--main-color);
}

.home-subscribe__container {
    align-items: center;
}

.home-subscribe__h2 {
    flex-shrink: 0;
    font: 700 2.75rem / 1.25 'Play', sans-serif;
    color: #fff;
}

.home-subscribe__form {
    padding-left: 7.5rem;
    display: flex;
    flex: 1 0 auto;
    filter: drop-shadow(0rem .75rem 2rem rgba(0,0,0,.15));
}

.home-subscribe__form_item {
    flex: 1 0 auto;
}

.home-subscribe__form_input {
    height: 6rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    border: .3rem solid #fff;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: none;
    background: #fff;
    font: 600 2rem / 1 'Play', sans-serif;
    transition: all .3s ease-out;
}

.home-subscribe__form_input:focus {
    border-color: #000;
    color: #000;
}

.home-subscribe__form_input::-webkit-input-placeholder {
    color: #000;
}

.home-subscribe__form_input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.home-subscribe__form_input:-ms-input-placeholder {
    color: #000;
}

.home-subscribe__form_link {
    flex-shrink: 0;
}

.home-subscribe__form_button {
    height: 6rem;
    padding: 0 3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: #000;
    font: 700 1.8rem / 1 'Play', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.home-subscribe__form_button:hover {
    color: var(--main-color);
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer__top {
    background: #0b0b0b;
}

.footer__top_container {
    padding: 8rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 6rem;
    font: 700 3rem / .75 'Play', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__data_list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__data_item {
    display: flex;
    align-items: center;
}

.footer__data_item:not(:first-of-type) {
    margin-top: 2.5rem;
}

.footer__data_link {
    display: flex;
    align-items: center;
}

.footer__p,
.footer__bottom_h4 {
    display: flex;
    align-items: center;
    font: 400 2rem / 1 'Play', sans-serif;
    color: #bababa;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 47.5rem;
    margin: -.4em 0;
    line-height: 2;
    text-align: justify;
}

.footer__data_link:hover .footer__p {
    color: var(--main-color);
}

.footer__link_pic {
    display: flex !important;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2.5rem;
    fill: var(--main-color);
}

.footer__bottom {
    padding: 4rem 0;
    background: #000;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_item {
    display: flex;
    align-items: center;
}

.footer__bottom_item:not(:last-of-type) {
    margin-right: 6rem;
}

.footer__bottom_link {
    display: flex;
    align-items: center;
}

.footer__bottom_link:hover .footer__p {
    color: var(--main-color);
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home-top {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home-top {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}