

:root {
    --color-first: #ecd6bd;
    --color-first-hover: #ddc2a3;
    --color-second: #0c60d4;
    --color-second-hover: #0e73ff;
    --color-third: #b0b0b1;
    --width-container: 144rem;
    --shadow-content: 0 0 2rem rgba(0,0,0,.1), 0 1rem 3rem rgba(0,0,0,.1);
    --background-first: linear-gradient(to bottom left, var(--color-second), var(--color-third));
    --background-second: linear-gradient(to top right, var(--color-second), var(--color-third));
    --background-content: rgba(0,0,0,.95);
    --font-first: 'Montserrat', sans-serif;
}


/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--color-second);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    object-fit: contain;
}

body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: #F5F5F5 url(../images/pattern03.png) 50% 50% / contain repeat;*/
    background-size: 60rem 60rem;
}

.main {
    position: relative;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

section {
    position: relative;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.button {
    z-index: 2;
    font: 700 1.6rem / 1 var(--font-first);
    color: #fff;
    margin-top: 2.25rem;
    align-self: flex-start;
    text-transform: uppercase;
    padding: .75em 1.5em;
    transition: all .3s ease-out;
    background: #00BFA5;
    color: #fff;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 0 3rem 0rem rgba(0,0,0,0.05);
}

.button:hover {
    background: #00796B;
}

.m-t2 {
    margin-top: 2rem;
}



.shadow {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}



.shadow02 {
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.15));
}

.shadow-hover:hover {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    background: #fff;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.15);

    
/*    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.1);*/
}

.header__top_container {
    align-items: center;
    justify-content: space-between;
}

.logo__headline {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.logo__link {
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    transition: all .3s ease-out;
    margin-right: 5rem;
    position: relative;
    padding: 1.5rem 0;
}

.logo__link-small {
    height: 10rem;
}

.logo__link:hover:before {
    opacity: 1;
}

.logo__image {
    height: 100%;
}

.logo__text {
    font: 300 3rem / 1 'Unica One', cursive;
    text-transform: uppercase;
    color: #9c6b7e;
}

.header__menu {
    display: flex;
    
}

.header__panel {
    display: flex;
    height: 100%;
    position: relative;
    flex: 1 0 auto;
}

.header__panel_item {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    padding-left: 5rem;
}

.header__panel_item:first-of-type {
    padding: 0;
}

.header__panel_item:first-child {
    flex: 1 0 auto;
}

.header__panel_link {
    font: 500 1.6rem / 1 var(--font-first);
    color: #000;
    fill: transparent;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.header__panel_link:hover {
    fill: var(--color-second);
}

.header__panel_icon {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
}

.header__panel_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 40%;
    width: .1rem;
    margin: auto;
/*    background: #E0E0E0;*/
}

.header__form {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    height: 4.5rem;
}


.header__form_input {
    border: .1rem solid #E0E0E0;
    height: 100%;
    width: 100%;
    padding: 0 4.55rem 0 2rem;
    display: flex;
    align-items: center;
    font: 500 1.6rem / 1 var(--font-first);
    color: var(--color-second);
    transition: all .3s ease-out;
}

.header__form_input:focus {
    border-color: var(--color-second);
}

.header__form_input::-webkit-input-placeholder {
    color: #000;
    opacity: .5;
}

.header__form_input::-moz-placeholder {
    color: #000;
    opacity: .5;
}

.header__form_input:-ms-input-placeholder {
    color: #000;
    opacity: .5;
}

.header__form_button {
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease-out;
    fill: transparent;
}

.header__form_button:hover {
    fill: var(--color-second);
}

.header__form_image {
    height: 2rem;
    width: 2rem;
    display: flex;
}

.header__form_icon {
    height: 100%;
    width: 100%;
}

.header__bottom {
    height: 4rem;
    display: flex;
    border-top: .1rem solid #E0E0E0;
    background: var(--color-first);
}

.header__nav {
    flex: 1 0 auto;
    display: flex;
    
}

.header__menu {
    height: 100%;
    flex: 1 0 auto;
    position: relative;
}

.header__menu:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: .1rem;
    margin: auto;
    background: var(--color-first-hover);
}

.header__menu_item {
    flex: 1 0 auto;
    position: relative;
}

.header__menu_link {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    font: 600 1.2rem / .8 var(--font-first);
    letter-spacing: .05em;
    color: #000;
    transition: all .3s ease-out;
    text-transform: uppercase;

    
}

.header__menu_link:hover {
    color: #000;
    fill: #000;
}

.header__nav .header__menu_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: .1rem;
    margin: auto;
    background: var(--color-first-hover);
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.1rem;
    left: -.1rem;
    height: calc(100% + .1rem);
    max-width: none;
    width: calc(100% + .1rem);
    margin: auto;
    background: var(--color-first-hover);
    transition: all .3s ease-out;
    opacity: 0;
}

.header__menu_link:hover:after {
    opacity: 1;
}

.header__menu_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
}

.nav__phone {
    display: flex;
    flex-shrink: 0;
    font: 600 1.6rem / 1 var(--font-first);
    color: #fff;
    align-items: center;
    padding: 0 2rem;
}

.header__menu_phone {
    font: 700 1.5rem / .8 var(--font-first);
    color: #000;
    fill: #000;
}

.color-green {
    
}

.color-red {
    color: #FF9BAA;
}

.text-uppercase {
   text-transform: uppercase;
}

.main {
    padding-top: 16.5rem;
    padding-bottom: 2rem;
}

.promition {
    height: calc(100vh - 16.5rem - 14rem)
}

.promition__container {
    height: 100%;
}

.promition__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promition__column:first-of-type {
    width: calc(65% - 1rem);
}

.promition__column:last-of-type {
    width: calc(35% - 1rem);
}

.promition__banner01 {
    padding: 10.5rem 6rem 10rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-out;
    background: #fff3d3;
}


.promition__banner01:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 7.5rem;
    margin: auto;
    height: 80%;
    width: 100%;
    background: url(../images/banner01.png) 100% 100% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.promition__banner01_title {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.promition__banner_h2 {
    font: 900 4.75rem / .8 var(--font-first);
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .1em rgba(92, 47, 16, 0.5);
    position: relative;
    z-index: 2;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(121, 85, 72, 0.3));
}

.promition__banner_h2:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2.25rem;
    right: -5rem;
    height: 8rem;
    width: 200%;
    max-width: none;
    background: #795548;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2.5rem) 100%, 0% 100%);
}

.promition__banner_h3 {
    font: 700 5.4rem / .8 var(--font-first);
    text-transform: uppercase;
    text-shadow: .025em .025em .1em rgba(92, 47, 16, 0.5);
    margin-top: 3rem;
}

.promition__banner01_p {
    font: 300 2.65rem / 1.5 var(--font-first);
    z-index: 2;
}

.promition__banner01_link {
    font: 600 1.8rem / 1 var(--font-first);
    color: #795548;
    align-self: flex-start;
    text-transform: uppercase;
    border: .2rem solid #795548;
    transition: all .3s ease-out;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .1em;
    padding: 0 5rem;
    z-index: 2;
    
}

.promition__banner01_link:hover {
    background: #795548;
    color: #fff;
}

.promition__banner_h2:not(:first-of-type) {
    margin-top: 2.5rem;
}

.promition__banner {
    padding: 4rem 3rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-out;
}

.promition__banner02 {
    background: #E1F5FE;
}

.promition__banner02:hover {
    background: #ddf4f4;
}

.promition__banner02:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 1rem;
    height: 80%;
    width: 100%;
    background: url(../images/banner02.png) 100% 100% / contain no-repeat;
    -webkit-filter: drop-shadow(.3rem .3rem .5rem rgba(0,0,0,.15));
}

.promition__banner03 {
    background: #FCE4EC;
}

.promition__banner03:hover {
    background: #f7eae9;
}

.promition__banner03:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -40%;
    right: -7rem;
    margin: auto;
    height: 80%;
    width: 100%;
    background: url(../images/banner03.png) 100% 100% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
    transform: rotate(-20deg)
}

.promition__banner_info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17.5rem;
    flex: 1 0 auto;
    margin-top: 0.5rem;
}

.promition__banner_h4 {
    font: 900 2.25rem / .75 var(--font-first);
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .05em #039BE5;
    position: relative;
    display: flex;
    align-items: center;
    height: 4rem;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0, 143, 149, 0.3));
    
}


.promition__banner_h4:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.5rem;
    right: -4rem;
    height: 5rem;
    width: 200%;
    max-width: none;
    background: #4FC3F7;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2.5rem) 100%, 0% 100%);
}

.promition__banner03 .promition__banner_h4 {
    font: 900 2.25rem / .75 var(--font-first);
    text-shadow: .025em .025em .05em #C2185B;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(168, 119, 104, 0.3));
}

.promition__banner03 .promition__banner_h4:before {
    background: #F06292;
}

.promition__banner_discount {
    display: flex;
    align-items: center;
    color: #000;
    margin-top: 1rem;
}

.promition__discount_number {
    font: 700 5.5rem / .8 var(--font-first);
}

.promition__discount_percent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    height: 100%;
    padding-bottom: 1.1rem;
    
}

.promition__percent_top {
    font: 800 5rem / .8 var(--font-first);
}

.promition__percent_bottom {
    font: 800 3rem / .8 var(--font-first);
}

.promition__banner_p {
    font: 300 1.75rem / 1 var(--font-first);
    color: #000;
    margin-top: 3.5rem;
    text-align: center;
    letter-spacing: .14em;
}

.promition__banner_link {
    font: 600 1.4rem / 1 var(--font-first);
    color: #4FC3F7;
    align-self: flex-start;
    text-transform: uppercase;
    border: .15rem solid #4FC3F7;
    transition: all .3s ease-out;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.promition__banner03 .promition__banner_link {
    border-color: #F06292;
    color: #F06292;
}

.promition__banner_link:hover {
    background: #4FC3F7;
    color: #fff;
}

.promition__banner03 .promition__banner_link:hover {
    background: #F06292;
}

.promition__banner_image {
    position: absolute;
    height: 35rem;
    width: 30rem;
    right: -6rem;
    top: 0.5rem;
    bottom: 0;
    margin: auto;
}

.footer__advantages_list {
    display: flex;
    padding: 0rem 2rem;
    height: 10rem;
}

.footer__advantages_item {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    flex: 1 0 auto;
}

.footer__advantages_image {
    position: relative;
    margin-right: 2.5rem;
}

.footer__advantages_icon {
    height: 6rem;
    width: 6rem;
    position: relative;
    fill: var(--color-second);
}

.footer__advantages_h4 {
    font: 700 2rem / 1 var(--font-first);
    text-transform: uppercase;
}

.footer__advantages_p {
    font: 300 1.8rem / 1 var(--font-first);
    margin-top: .85rem;
}

.brands {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.brands__content {
    display: flex;
    align-items: center;
    background: #fff;
    height: 10rem;
    width: 100%;
}

.brands__content_item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.brands__content_link {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
/*    transition: all .3s ease-out;*/
    
}

.brands__content_image:hover {
}

.brands__content_image {
    height: 3.5rem;
    transition: all .3s ease-out;
    position: relative;
    filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));

    
}

.brands__content_link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: #00ff00;
    transition: all .3s ease-out;
    opacity: 0;
    
}

.brands__content_item:nth-of-type(5) .brands__content_link:before {
    left: 20%;
    
}

.brands__content_link:hover:before {
    opacity: 1;
    
}

.brands__content_item:not(:last-of-type) {
    border-right: .1rem solid #e2e2e2;
}

.advantages__list_item:hover .advantages__list_icon {
    transform: scale(1.2);
}


.advantages__list_icon {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 3rem;
    fill: #000;
    transition: all .3s ease-out;
/*    background: linear-gradient(to bottom, #20be55, #1b833f);*/
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background: #fff;
}

.section__title__h2 {
    font: 700 3.5rem / .7 var(--font-first);
    text-transform: uppercase;
    width: 100%;
}

.section__title_link {
    font: 600 1.5rem / 1 var(--font-first);
    color: var(--color-second);
    fill: #fff;
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    height: 4.5rem;
    padding: 0 2.5rem;
    border: .15rem solid var(--color-second);
    
}

.section__title_link:hover {
    color: #fff;
    background: var(--color-second);
}

.section__title_icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
    flex-shrink: 0;
}

.categories__data {
    display: flex;
    width: 100%;
}


.categories__wrapper {
    display: flex;
    flex-direction: column;
    background: #ededed;
    width: 100%;
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.categories__content_item {
    width: calc(100% / 4 - .15rem);
    display: flex;
    flex-direction: column;
    position: relative;
/*    box-shadow: 0 0 0 .25rem #ededed;*/
    transition: all .3s ease-out;
    margin-top: .2rem;
}

.categories__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.1);
}

.categories__content_link {
    background: #fff;
    padding: 3rem 3rem;
    transition: all .3s ease-out;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
}




.categories__content_image {
    height: 30rem;
    width: 100%;
    position: relative;
}

.categories__content_image .image-contain {
    position: relative;
    z-index: 2;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.categories__content_h5 {
    font: 700 4rem / .75 var(--font-first);
    text-align: center;
    margin-top: 3rem;
    color: #000;
    transition: all .3s ease-out;
    
}

.categories__content_p {
    font: 400 1.5rem / 1.4 var(--font-first);
    text-align: center;
    color: #545454;
    margin-top: 2rem;
}

.categories__content_info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.categories__info_item {
    font: 300 1.3rem / 1 var(--font-first);
    text-align: center;
    color: #545454;
}

.categories__info_item:not(:first-of-type) {
    margin-top: 1rem;
}

.categories__content_choose {
    display: flex;
    margin-top: 2rem;
    top: 0;
    justify-content: space-between;
}

.categories__content_icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: transparent;
    transition: all .3s ease-out;
}

.categories__content_icon:not(:first-of-type) {
    margin-left: 3rem;
}

.categories__content_icon:hover {
    fill: var(--color-second);
}

.banner {
    
}

.banner__content {
    padding: 8rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: repeating-linear-gradient(
        -45deg,
        #E1F5FE,
        #E1F5FE 1rem,
        #0c60d4 1rem,
        #0c60d4 2rem
    );
}

.banner__content:before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 0rem;
    bottom: 3rem;
    left: 0rem;
    background-color: #E1F5FE;
}

.banner__h2 {
    font: 700 4.6rem / .75 var(--font-first);
    text-align: center;
    text-transform: uppercase;
    transform: translateX(.115em);
    z-index: 2;
    margin-top: .75rem;
    color: #0c60d4;
}

.banner__p {
    font: 400 3.5rem / 1.25 var(--font-first);
    margin-top: 2rem;
    z-index: 2;
    color: #0c60d4;
    text-align: center;
}


.banner__images {
    display: flex;
    margin-left: 2rem;
    flex-shrink: 0;
}

.banner__image {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-right: 5rem;
    overflow: hidden;
    -webkit-filter: drop-shadow(0rem 0rem 2rem rgba(0,0,0,.25));
}

.banner__image img {
    transition: all .3s ease-out;
}

.banner__image:hover img {
    transform: scale(1.2)rotate(-7.5deg);
}

.banner__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.banner__data_h2 {
    font: 400 3.45rem / 1 var(--font-first);
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_p {
    font: 300 2.1rem / 1.4 var(--font-first);
    color: #fff;
    margin-top: 1rem;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_link {
    font: 400 2rem / 1 var(--font-first);
    transition: all .3s ease-out;
    color: #fff;
    fill: #fff;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
}

.banner__data_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.footer {
    position: relative;
    background: var(--color-first);
    z-index: 2;
}



.footer__top {
}

.footer__top_container {
    padding: 6rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 3rem / 1 var(--font-first);
    text-transform: uppercase;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__data_item:not(:first-of-type) {
    margin-top: 2rem;
}

.footer__pay {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    width: 100%;
}

.footer__pay_item:not(:first-of-type) {
}

.footer__pay_link {
    filter: grayscale(100%);
    transition: all .3s ease-out;
}

.footer__pay_link:hover {
    filter: grayscale(0%);
}

.footer__pay_image {
    height: 3rem;
}



.footer__p,
.footer__bottom_h4 {
    display: flex;
    align-items: center;
    font: 500 1.8rem / 1.5 var(--font-first);
    transition: all .3s ease-out;
}

a:hover .footer__p {
    color: var(--color-second);
}

.footer__item:first-of-type .footer__p {
    width: 32rem;
    line-height: 1.75;
    text-align: justify;
}

.footer__link {
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.footer__p_pic {
    height: 4rem;
    width: 4rem;
    margin-right: 1.5rem;
    fill: #fff;
    background: var(--color-second);
    padding: 0.95rem;

}

.footer__social {
    display: flex;
    margin-top: 1.5rem;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    background: var(--color-second);
    transition: all .3s ease-out;
}

.footer__social_link:hover {
    background: var(--color-second-hover);
    
}

.footer__social_pic {
    height: 55%;
    width: 55%;
}

.footer__form {
    margin-bottom: .8rem;
    display: flex;
    margin-top: 1.5rem;
}

.footer__form_input {
    height: 4.5rem;
    width: 26rem;
    padding: 0 4rem 0 1.75rem;
    border: .15rem solid #000;
    border-right: none;
    font: 500 1.6rem / 1 var(--font-first);
    color: var(--color-second);
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #000;
    opacity: .5
}

.footer__form_input::-moz-placeholder {
    color: #000;
    opacity: .5;
}

.footer__form_input:-ms-input-placeholder {
    color: #000;
    opacity: .5;
}

.footer__form_input:focus {
    border-color: var(--color-second);
    border-right: none;
}

.footer__form_button {
    height: 4.5rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 0;
    background: var(--color-second);
    padding: 0 3rem;
}

.footer__form_button:hover {
    background: var(--color-second-hover);
}




.footer__contact_button {
    height: 4rem;
    background-color: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 800 1.6rem / 1 var(--font-first);
    text-transform: uppercase;
    padding: 0 3rem;
}

.footer__bottom {
    padding: 3rem 0;
    border-top: .1rem solid var(--color-first-hover);
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom .footer__link:not(:last-of-type) {
    margin-right: 7.5rem;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}