/*   My normalize   */

:root {
    --main-color: #F4760D;
    --main-background: linear-gradient(to right top, #ef6900, #ff9023);
    --content-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    object-fit: contain;
}

.section {
    position: relative;
    padding: 7.5rem 0;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.h2-headline {
    font: 700 5rem / .8 'Assistant', sans-serif;
    text-transform: uppercase;
    height: 7.5rem;
    
}

.marker {
    background: var(--main-background);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.h3-headline {
    font: 700 3.2rem / 1.3 'Assistant', sans-serif;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Assistant', sans-serif;
    text-align: justify;
}

.main-color {
    color: var(--main-color);
}

.text-center {
    align-self: center;
    text-align: center;
}

.button {
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .75rem 2rem rgba(255, 78, 0, 0.5);
    background: var(--main-background);
    font: 700 1.7rem / .8 'Assistant', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(255, 78, 0, 0.75);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 4.5rem 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    transition: all .3s ease-out;
}

.header__fixed {
    padding: 3rem 0;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: rgba(0,0,0,.95);
}

.header__container {
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo_link {
    display: flex;
}

.header__logo_image {
    height: 6rem;
    font: 600 2rem / 1 'Assistant', sans-serif;
    color: var(--main-color);
    transition: all .3s ease-out;
}

.header__logo_fixed {
    height: 5rem;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 7.5rem;
}

.header__menu_link {
    position: relative;
    display: flex;
    font: 600 1.6rem / 1 'Assistant', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.header__menu_link:hover {
    padding-bottom: 1rem;
    color: var(--main-color);
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    height: .1em;
    width: 0;
    background: var(--main-color);
    transition: width .3s ease-out;
}

.header__menu_link:hover:after {
    left: 0;
    width: 100%;
}

.header__menu_button {
    padding: 0 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-background);
    font: 700 1.75rem / .7 'Assistant', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.header__menu_button:hover {
    transform: translateY(-.5rem);
}

.home-top {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
    color: #fff;
    background: #000 url(../images/home-top__bg21.png) 50% 50% / cover no-repeat;
    overflow: hidden;
}

.home-top__container {
    padding: 12rem 2rem 15rem;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.home-top__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.home-top__content_h2 {
    font: 700 10rem / .7 'Assistant', sans-serif;
    text-transform: uppercase;
    margin-left: -.035em;
    max-width: none;
    position: relative;
}

.home-top__content_marker {
    position: absolute;
    bottom: -.2rem;
    right: -4rem;
    height: 2rem;
    width: 2rem;
    background: var(--main-background);
}

.home-top__content_h2:not(:first-of-type) {
    margin-top: 5rem;
}

.home-top__direct {
    position: relative;
    padding-left: 3rem;
}



.home-top__h3 {
    font: 300 2.5rem / 1.5 'Assistant', sans-serif;
    text-align-last: right;
    color: var(--main-color);
}

.home-top__direct_direct{
    position: absolute;
    top: .8rem;
    left: 0.3rem;
    width: .1rem;
    height: 22rem;
}

.home-top__direct_line {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: .15rem;
    height: 22rem;
    background: #fff;
    background: var(--main-background);
    transition: all 1s ease-out;
}

.home-top__direct:hover .home-top__direct_line {
    top: 6rem;
}

.home-goal {
    margin-top: 7.5rem;
    overflow: hidden;
}

.home-goal__container {
    position: relative;
}

.home-goal__container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7.35rem;
    right: 2rem;
    bottom: 7.5rem;
    width: calc(50vw + (144rem / 2));
    max-width: none;
    background: #D0D0CE url(../images/home-goal__bg07.png) 50% 0% / cover no-repeat;
}

.home-goal__h2 {
    font: 700 3.7rem / 0.75 'Assistant', sans-serif;
    text-transform: uppercase;
    height: 7.5rem;
}

.home-goal__content {
    width: 40%;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 5rem 7.5rem 7.5rem;
    box-shadow: var(--content-shadow);
    margin-right: 7.5rem;
}

.home-goal__button {
    margin-top: 3.75rem;
}

.home-goal__description {
    position: absolute;
    bottom: 12.5rem;
    left: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-goal__description_h4 {
    font: 700 3rem / 0.7 'Assistant', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.home-goal__description_p {
    font: 400 1.8rem / 0.7 'Assistant', sans-serif;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.home-services {
    overflow: hidden;
}

.home-services__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(80% - .25rem);
}

.home-services__list:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 8rem;
    left: calc(100% + 3rem);
    width: calc((100vw - 144rem) / 2 + (144rem * .8 / 4));
    max-width: none;
    background: #D0D0CE url(../images/home-services__bg01.png) 50% 50% / cover no-repeat;
    box-shadow: var(--content-shadow);
}

.home-services__list_item {
    width: calc(100% / 3 - 2rem);
    color: #fff;
    padding: 7.5rem;
    box-shadow: var(--content-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem 5rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.home-services__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    transition: all .3s ease-out;
    --main-background: linear-gradient(to right top, #ef6900, #ff9023);
}

.home-services__list_item:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--main-background);
    transition: all .3s ease-out;
    opacity: 0;
}

.home-services__list_item:hover:after {
    opacity: 1;
}


.home-services__list_item:nth-of-type(4),
.home-services__list_item:nth-of-type(5),
.home-services__list_item:nth-of-type(6) {
    margin-top: 3rem;
}

.home-services__list_h4 {
    font: 700 3rem / 0.7 'Assistant', sans-serif;
}

.home-services__list_pic {
    display: flex !important;
    height: 13rem;
    width: 13rem;
    fill: url(#Gradient01);
    margin-top: 5rem;
    transition: all .3s ease-out;
}

.home-services__list_item:hover .home-services__list_pic {
    filter: grayscale(100%)brightness(0);
}

.home-services__list_p {
    font: 400 1.7rem / 1.5 'Assistant', sans-serif;
    margin-top: 4rem;
}

.home-services__list_button {
    position: relative;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 10rem;
    transition: all .3s ease-out;
}

.home-services__list_item:hover .home-services__list_button {
    margin-left: 0;
}

.home-services__list_link {
    text-transform: uppercase;
    font: 700 1.6rem / 0.75 'Assistant', sans-serif;
    color: var(--main-color);
    display: flex;
    position: relative;
    max-width: none;
    transform: translateX(calc(-100% + 3rem));
    transition: all .3s ease-out;
    white-space: nowrap;
}

.home-services__list_item:hover .home-services__list_link {
    transform: translateX(0);
    width: auto;
    color: #000;
}

.home-services__list_link:after {
    content: '';
    height: .3rem;
    background: var(--main-color);
    width: 3rem;
    display: flex;
    align-self: center;
    margin-left: 1.75rem;
    transition: all .3s ease-out;
}

.home-services__list_item:hover .home-services__list_link:after {
    background: #000;
}

.home-services__list_item .home-services__list_link:hover {
    color: #fff;
}

.home-services__list_item .home-services__list_link:hover:after {
    background: #fff;
}

.home-services__button {
    margin-top: 3rem;
    width: calc(100% / 3 - 2rem);
}

.home-testimonials {
}

.home-testimonials .home-goal__container:before {
    background: #D0D0CE url(../images/home-testimonials__bg02.png) 0% 30% / cover no-repeat;
    
}

.home-testimonials__list {
    position: absolute;
    bottom: 0;
    left: 2rem;
    width: calc(52.5% - 2rem);
    display: flex;
    justify-content: space-between;
}

.home-testimonials__list_item {
    width: calc(100% / 2 - 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    padding: 3rem;
    box-shadow: var(--content-shadow);
    overflow: hidden;
    position: relative;
}

.home-testimonials__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    transition: all .3s ease-out;
    --main-background: linear-gradient(to right top, #ef6900, #ff9023);
}

.home-testimonials__list_item:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--main-background);
    transition: all .3s ease-out;
    opacity: 0;
}

.home-testimonials__list_item:hover:after {
    opacity: 1;
}

.home-testimonials__list_title {
    display: flex;
    align-items: center;
}

.home-testimonials__list_image {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
    overflow: hidden;
    filter: grayscale(100%);
    border: .25rem solid rgba(255, 255, 255, 0.25);
    transition: all .3s ease-out;
}

.home-testimonials__list_item:hover .home-testimonials__list_image {
    filter: grayscale(0);
}

.home-testimonials__list_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-testimonials__list_h4 {
    font: 700 2.2rem / 0.75 'Assistant', sans-serif;
}

.home-testimonials__list_h5 {
    font: 400 1.6rem / .75 'Assistant', sans-serif;
    opacity: .75;
    margin-top: 1.35rem;
}

.home-testimonials__list_p {
    font: 400 1.7rem / 1.5 'Assistant', sans-serif;
    margin-top: 2rem;
    text-align: justify;
}

.home-testimonials__list_button {
    position: relative;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home-testimonials__list_link {
    text-transform: uppercase;
    font: 700 1.4rem / 0.75 'Assistant', sans-serif;
    color: var(--main-color);
    display: flex;
    position: relative;
    
    transform: translateX(calc(-100% + 1.5rem));
    transition: all .3s ease-out;
}

.home-testimonials__list_item:hover .home-testimonials__list_link {
    transform: translateX(0);
}

.home-testimonials__list_link:after {
    content: '';
    height: .25rem;
    background: var(--main-color);
    width: 1.5rem;
    display: flex;
    align-self: center;
    margin-left: 1.25rem;
}

.home-projects {
    overflow: hidden;
}

.home-projects__container {
    position: relative;
}

.home-projects__list {
    display: flex;
    justify-content: space-between;
    width: calc(80% - .25rem);
}

.home-projects__list_column01 {
    width: calc(100% / 3 - 2rem);
}

.home-projects__list_column02 {
    width: calc(100% / 3 * 2 - 1rem);
}

.home-projects__list_column01 {
}


.home-projects__list_row {
    height: 30rem;
    display: flex;
    justify-content: space-between;
}

.home-projects__list_row:not(:first-of-type) {
    margin-top: 3rem;
}

.home-projects__list_item {
    height: 100%;
    width: 100%;
    display: flex;
    
}

.home-projects__list_column01  .home-projects__list_item {
    height: calc(100% - 8rem)
}

.home-projects__list_column02 .home-projects__list_row:first-of-type .home-projects__list_item {
    width: calc(100% / 2 - 1.5rem);
}

.home-projects__list_image {
    height: 100%;
    width: 100%;
    box-shadow: var(--content-shadow);
    overflow: hidden;
    
}

.home-projects__list_image img {
    filter: grayscale(100%);
    transition: all .3s ease-out;
}

.home-projects__list_image:hover img{
    filter: grayscale(0);
    transform: scale(1.15);
}



.home-projects__list_column03 {
    position: absolute;
    top: 7.5rem;
    bottom: 0rem;
    left: calc(80% + 1.5rem);
    width: calc((100vw - 144rem) / 2 + (144rem * .8 / 4) - 2rem);
    max-width: none;
    background: #000 url(../images/home-services__bg01.png) 50% 100% / cover no-repeat;
}

.home-projects__list_button {
    margin-top: 3rem;
}

.home-projects__list_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 2rem;
}

.home-projects__list_info {
    display: flex;
    align-items: center;
    
}

.home-projects__list_date {
    background: #fff;
    flex-shrink: 0;
    margin-right: 2rem;
    color: #000;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.home-projects__list_day {
    font: 800 2rem / 0.7 'Assistant', sans-serif;
}

.home-projects__list_month {
    font: 700 1.3rem / 0.7 'Assistant', sans-serif;
    margin-top: .75rem;
}

.home-projects__list_h4 {
    font: 700 1.5rem / 1.4 'Assistant', sans-serif;
}

.home-partners {
    margin-top: 7.5rem;
}

.home-partners__list_item {
}

.home-partners__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home-partners__list_link {
    display: flex;
    filter: grayscale(100%);
    transition: all .3s ease-out;
}



.home-partners__list_link:hover {
    filter: grayscale(0);
}

.home-partners__list_image {
    height: 7.5rem;
    width: auto;
    display: flex;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.home-subscribe {
    padding: 7.5rem 0;
    background: var(--main-background);
    margin-top: 15rem;
}

.home-subscribe__container {
    align-items: center;
}

.home-subscribe__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.home-subscribe__h2 {
    flex-shrink: 0;
    font: 700 4rem / .7 'Assistant', sans-serif;
    
}

.home-subscribe__h3 {
    font: 400 2.5rem / .7 'Assistant', sans-serif;
    margin-top: 1.5rem;
}

.home-subscribe__form {
    margin-left: 7.5rem;
    display: flex;
    flex: 1 0 auto;
    
}

.home-subscribe__form_item {
    flex: 1 0 auto;
}

.home-subscribe__form_input {
    height: 6rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    border: .3rem solid #fff;
    border-right: none;
    background: #fff;
    font: 600 2rem / 1 'Assistant', sans-serif;
    transition: all .3s ease-out;
    box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.15);
}

.home-subscribe__form_input:focus {
    border-color: #000;
    color: #000;
}

.home-subscribe__form_input::-webkit-input-placeholder {
    color: #000;
}

.home-subscribe__form_input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.home-subscribe__form_input:-ms-input-placeholder {
    color: #000;
}

.home-subscribe__form_link {
    flex-shrink: 0;
}

.home-subscribe__form_button {
    height: 6rem;
    padding: 0 4rem;
    background: #000;
    font: 700 1.8rem / 1 'Assistant', sans-serif;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    transition: all .3s ease-out;
}

.home-subscribe__form_button:hover {
    color: var(--main-color);
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer__top {
    background: #0b0b0b;
}

.footer__top_container {
    padding: 8rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 6rem;
    font: 700 3rem / .75 'Assistant', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__data_list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__data_item {
    display: flex;
    align-items: center;
}

.footer__data_item:not(:first-of-type) {
    margin-top: 2.5rem;
}

.footer__data_link {
    display: flex;
    align-items: center;
}

.footer__p,
.footer__bottom_h4 {
    display: flex;
    align-items: center;
    font: 400 2rem / 1 'Assistant', sans-serif;
    color: #bababa;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 51rem;
    margin: -.4em 0;
    line-height: 2;
    text-align: justify;
}

.footer__data_link:hover .footer__p {
    color: var(--main-color);
}

.footer__link_pic {
    display: flex !important;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2.5rem;
    fill: var(--main-color);
}

.footer__bottom {
    padding: 4rem 0;
    background: #000;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_item {
    display: flex;
    align-items: center;
}

.footer__bottom_item:not(:last-of-type) {
    margin-right: 6rem;
}

.footer__bottom_link {
    display: flex;
    align-items: center;
}

.footer__bottom_link:hover .footer__p {
    color: var(--main-color);
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home-top {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home-top {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}