/*   My variables   */

:root {
    --main-background01: linear-gradient(to bottom left, #b78628, #e9d370);
    --main-background02: linear-gradient(to top right, #b78628, #e9d370);
    --content-background: rgba(0,0,0,0.95);
    --content-shadow: 0 0 2rem rgba(0,0,0,.05), 0 1rem 3rem rgba(0,0,0,.05);
    --main-font: 'Montserrat', sans-serif;
    --main-color: #f05f40;
    --second-color: #dd4a2a;
    --container-width: 128rem;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--main-color);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 7.5rem 0;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.content {
    width: 40%;
    margin-right: 7.5rem;
    padding: 5rem 7.5rem 7.5rem;
    box-shadow: var(--content-shadow);
    background: var(--content-background);
    color: #fff;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: .5rem;
    width: 100%;
    background: var(--main-background02);
}

.h2-headline {
    height: 7.5rem;
    font: 700 5.5rem / .8 var(--main-font);
    text-transform: uppercase;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 var(--main-font);
    text-align: justify;
}

.main-color {
    background: var(--main-background02);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.button {
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .75rem 2rem rgba(217,184,84,.35);
    background: var(--main-background02);
    font: 700 1.7rem / .8 var(--main-font);
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(217,184,84,.5);
}

.header {
    padding: 3rem 0;
}

.header__h2 {
    font: 700 3rem / 1.25 var(--main-font);
    text-transform: capitalize;
    text-align: center;
    color: var(--main-color);
}

.header__container {
    align-items: center;
}

.main {
}

.main__container {
    height: 100%;
}

.main__content {
    box-shadow: var(--content-shadow);
    height: 100%;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.main__content_top {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.main__content_title {
    display: flex;
    align-items: center;
}

.main__content_picture {
    display: flex !important;
    height: 8rem;
}

.main__title_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.main__title_h4 {
    font: 600 2.5rem / 1.5 var(--main-font);
    text-transform: capitalize;
}

.main__title_p {
    font: 500 1.6rem / 1.5 var(--main-font);
    opacity: .5;
}

.main__content_p {
    font: 400 2rem / 1.5 var(--main-font);
    margin-top: 3rem;
    
}

.main__content_item {
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.main__content_h5 {
    font: 700 2.5rem / 1.5 var(--main-font);
    text-transform: uppercase;
    position: relative;
    color: var(--main-color);
    flex-shrink: 0;
}

.main__content_stars {
    display: flex;
    margin-left: 3rem;
}

.main__stars_item {
    display: flex !important;
    transition: all .3s ease-out;
    
}

.main__stars_item:not(:first-of-type){
    margin-left: 1.5rem;
}

.main__stars_item:hover {
    filter: drop-shadow(0rem 0rem 1rem rgba(0, 0, 0, 0.15));
}

.main__stars_pic {
    height: 2.75rem;
    width: 2.75rem;
    fill: transparent;
    transition: all .3s ease-out;
    cursor: pointer;
}

.main__stars_pic:hover {
    fill: var(--main-color);
}

.main__content_form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    flex: 1 0 auto;
}

.form__textarea {
    margin-top: 0.5rem;
    flex: 1 0 auto;
    padding: 2rem 3rem;
    display: flex;
    border: .1rem solid rgba(0, 0, 0, 0.15);
    font: 400 1.8rem / 1.5 var(--main-font);
    resize: none;
    color: #000;
    transition: all .3s ease-out;
}

.form__textarea:hover {
    border-color: var(--main-color);
}

.form__textarea:focus {
    box-shadow: 0 0 2rem rgba(240, 95, 64, 0.15), 0 1rem 3rem rgba(240, 95, 64, 0.15);
}

.form__textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.35);
}

.form__textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.35);
    opacity: 1;
}

.form__textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.35);
}

.form__button {
    flex-shrink: 0;
    background: var(--main-color);
    margin-top: 3rem;
    color: #fff;
    text-transform: uppercase;
    align-self: flex-start;
    padding: 2rem 5rem;
    font: 700 1.6rem / 1.25 var(--main-font);
    transition: all .3s ease-out;
    box-shadow: 0 0 2rem rgba(240, 95, 64, 0.25), 0 1rem 3rem rgba(240, 95, 64, 0.25);
    transition: all .3s ease-out;
}

.form__button:hover {
    background: var(--second-color);
}

.main__content_h6 {
    font: 600 1.8rem / 1.5 var(--main-font);
    margin-top: 5rem;
}

.main__parners {
    display: flex;
}

.main__partners_item {
    margin-top: 3rem;
    display: flex !important;
}

.main__partners_item:not(:first-of-type) {
    margin-left: 5rem;
}

.main__partners_link {
    display: flex;
    filter: grayscale(100%);
    
    transition: all .3s ease-out;
}

.main__partners_link:hover {
    filter: grayscale(0%);
}

.main__partners_picture {
    height: 6rem;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.footer {
    position: relative;
    padding: 2.5rem;
}

.footer__h4 {
    font: 600 1.6rem / 1.5 var(--main-font);
}

@media screen and (max-width : 768px) {
    
    :root {
        --container-width: 100%;
    }
    
    .main__content_title {
        flex-direction: column;
    }
    
    .main__title_info {
        margin-top: 2rem;
        margin-left: 0;
    }
    
    .main__title_p {
        margin-top: 1rem;
    }
    
    .main__content_item {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .main__content_stars {
        margin-left: 0;
        margin-top: 1rem;
    }
    
    .main__content {
        padding: 3rem;
    }
    
    .main__parners {
        display: flex;
        flex-direction: column;
    }
    
    .main__partners_item:not(:first-of-type) {
        margin-left: 0rem;
    }
}