@font-face {
    font-family: 'ITC Avant Garde Gotic';
    src: url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Light.woff') format('woff'),
    url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Light.woff2') format('woff2'),
    url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'ITC Avant Garde Gotic';
    src: url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Demi.woff') format('woff'),
    url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Demi.woff2') format('woff2'),
    url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Demi.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'ITC Avant Garde Gotic';
    src: url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Bold.woff') format('woff'),
    url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Bold.woff2') format('woff2'),
    url('../fonts/ITCAvantGardeGotic/ITCAvantGardeGotic-Bold.ttf') format('truetype');
    font-weight: 600;
}



/*   my normalize   */


html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #00BFA5;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #00BFA5;
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: #F5F5F5 url(../images/pattern03.png) 50% 50% / contain repeat;*/
    background-size: 60rem 60rem;
}

.main {
    position: relative;
    padding-bottom: 2rem;
}

.main:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #F5F5F5 url(../images/pattern03.png) 50% 50% / contain repeat;
    background-size: 60rem 60rem;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

section {
    position: relative;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.button {
    z-index: 2;
    font: 700 1.6rem / 1 'Lato', sans-serif;
    color: #fff;
    margin-top: 2.25rem;
    align-self: flex-start;
    text-transform: uppercase;
    padding: .75em 1.5em;
    transition: all .3s ease-out;
    background: #00BFA5;
    color: #fff;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 0 3rem 0rem rgba(0,0,0,0.05);
}

.button:hover {
    background: #00796B;
}

.shadow {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 .5rem rgba(0,0,0,.075), 0 .5rem 1rem rgba(0,0,0,.15);
}

.header__top {
    background: #fff;
}

.header__top_container {
    height: 8.5rem;
    align-items: center;
    justify-content: space-between;
}

.logo__link {
    width: 29rem;
    height: 5.5rem;
    display: flex;
    justify-content: flex-start;
    transition: all .3s ease-out;
    margin-right: 3rem;
}

.logo__image {
    height: 5.5rem;
    margin-right: 2rem;
}

.logo__text {
    font: 300 6rem / 1 'Unica One', cursive;
    text-transform: uppercase;
    color: #9c6b7e;
}

.logo__headline {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font: 500 3rem / 1 'ITC Avant Garde Gotic', sans-serif;
    color: #023d21;
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.15));
}

.header__menu {
    display: flex;
}

.header__panel {
    display: flex;
    height: 100%;
    position: relative;
    flex: 1 0 auto;
}

.header__panel_item {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    
    padding: 0 3rem;
}

.header__panel_item:first-of-type {
    padding: 0;
}

.header__panel_item:first-child {
    flex: 1 0 auto;
}

.header__panel_link {
    font: 400 2rem / 1 'Lato', sans-serif;
    color: #023d21;
    fill: #023d21;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.header__panel_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.header__panel_icon {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

.header__panel_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: .1rem;
    margin: auto;
    background: #E0E0E0;
}

.header__form {
    width: 100%;
    position: relative;
}

.header__form_input {
    border: .1rem solid #023d21;
    height: 4rem;
    width: 100%;
    padding: 0 4.55rem 0 1.5rem;
    display: flex;
    align-items: center;
    font: 300 1.8rem / 1 'Lato', sans-serif;
    color: #00BFA5;
    transition: all .3s ease-out;
}

.header__form_input:focus {
    border: .1rem solid #00BFA5;
}

.header__form_input::-webkit-input-placeholder {
    color: #c5c5c5;
}

.header__form_input::-moz-placeholder {
    color: #c5c5c5;
    opacity: 1;
}

.header__form_input:-ms-input-placeholder {
    color: #c5c5c5;
}

.header__form_button {
    position: absolute;
    right: 1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease-out;
    fill: #023d21;
}

.header__form_button:hover {
    fill: #00BFA5;
}

.header__form_image {
    height: 2rem;
    width: 2rem;
    display: flex;
}

.header__form_icon {
    height: 100%;
    width: 100%;
}

.header__bottom {
    background: #004D40;
    height: 5rem;
}

.header__products {
    position: relative;
    width: 29rem;
    height: 5rem;
    flex: 0 0 auto;
}

.header__products_menu {
    background: #eee;
    z-index: 100;
    position: relative;
}

.header__curtain {
    position: fixed;
    top: 13.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    max-width: none;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity .3s ease-out, height 0s ease-out .3s, width 0s ease-out .3s;
    
}

.header__products:hover + .header__curtain {
    opacity: 1;
    height: 100vh;
    width: 100vw;
    transition: opacity .3s ease-out;
}

.header__nav {
    height: 100%;
    height: 5rem;
    flex: 1 0 auto;
    display: flex;
}

.header__menu {
    height: 100%;
    flex: 1 0 auto;
}

.header__menu_item {
    flex: 1 0 auto;
}

.header__menu_link {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
    text-transform: capitalize;
}

.header__menu_item:last-of-type .header__menu_link {
    font-weight: 800;
}

.header__products:hover .header__menu_link {
    background: #00796B;
}

.header__nav .header__menu_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: .1rem;
    margin: auto;
    background: #00796B;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.1rem;
    height: 100%;
    max-width: none;
    width: calc(100% + .1rem);
    margin: auto;
    background: #00796B;
    transition: all .3s ease-out;
    opacity: 0;
}

.header__menu_link:hover:after {
    opacity: 1;
}


.header__menu_headline {
    background: #00695C;
    justify-content: flex-start;
}

.header__menu_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
    fill: #fff;
}

.icon__rotate {
    transform: rotateX(180deg)
}

.header__products_menu {
    position: absolute;
    z-index: 2;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 0;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
    transition: all .3s ease-out;
}

.header__products:hover .header__products_menu {
    transform: scaleY(1);
}

.header__products_link {
    display: flex;
    align-items: center;
    height: 5rem;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    background: #fff;
    width: 100%;
    padding: 0 3rem;
    margin-top: .2rem;
    color: #333;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

.header__products_link:hover {
    background: #E0F2F1;
    color: #023d21;
}

.nav__phone {
    display: flex;
    flex-shrink: 0;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    color: #fff;
    align-items: center;
    padding: 0 2rem;
}

.home {
    height: calc(100vh - 14rem);
    display: flex;
    padding: 0;
    padding-top: 15.5rem;
}

.home:before {
    content: '';
    top: 0;
    right: 35%;
    bottom: 0rem;
    left: 0;
    position: absolute;
    display: flex;
    padding: 0;
    
}

.home__container {
    padding: 0rem 2rem 0rem;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
}

.home__slider {
    height: 100%;
    width: calc(68% - 1rem);
    flex-shrink: 0;
    margin-right: 2rem;
    display: flex;
    overflow: hidden;
    transition: all .3s ease-out;
}

.slide__01:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: linear-gradient(to right, #9c6b7e, rgba(0, 0, 0, 0) 70%);*/
}

.slide__01 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

.slide__01:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #F5F5F5 url(../images/home__bg05.png) 100% 100% / cover no-repeat;
    transition: all .3s ease-out;
}

.home__slider:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 105, 92, 0.35);
}

.home__slider:hover .slide__01:before {
    transform: scale(1.1);
}


.slide__itle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.home__h2 {
    font: 400 7.5rem / 1 'Unica One', sans-serif;
    font: 500 8rem / 1 'ITC Avant Garde Gotic', sans-serif;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    background: #004D3F;
/*    background: #297374;*/
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.25));
        
}

.home__h2:not(:first-of-type) {
    margin-top: 1.75rem;
        
}

.home__h3 {
    font: 400 2.5rem / 1.5 'Lato', sans-serif;
/*    text-transform: uppercase;*/
    color: #fff;
    margin-top: 1rem;
    z-index: 2;
    background: #9c6b7e;
    background: #00796B;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.25));
}

.home__button {
    margin-top: 5rem;
    position: absolute;
    z-index: 2;
    right: 6rem;
    bottom: 6rem;
    background: #297374;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    border: none;
}

.home__button .button__text {
    padding: 0 1.5em;
}

.home__banners {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: calc(32% - 1rem);
}

.home__banner {
    position: relative;
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-out;
}

.home__banner:hover {
}

.home__banner01 {
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    background: #F5F5F5 url(../images/banner11.png) 0% 50% / cover no-repeat;
    
}

.home__banner02 {
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    background: #F5F5F5 url(../images/banner14.png) 0% 50% / cover no-repeat;
    
}

.home__banner01:before,
.home__banner02:before {
    content: '';
    position: absolute;
    top: 0%;
    left: %;
    height: 100%;
    width: 100%;
    max-width: none;
    background: #00695C;
    transition: all .3s ease-out;
    clip-path: polygon(100% 40%, 100% 100%, 40% 100%);
}

.home__banner:hover:before {
    clip-path: polygon(100% 25%, 100% 100%, 25% 100%);
}

.home__banner:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 105, 92, 0.35);
}

.home__banner_info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.home__banner_h4 {
    font: 400 3rem / 1 'ITC Avant Garde Gotic', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    position: relative;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.25));
    
}


.home__banner_h4:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -3.5rem;
    top: -25%;
    height: 150%;
    width: 200%;
    max-width: none;
    background: #00FFFF;
    background: #00695C;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 1.5rem) 50%, 100% 100%, 0% 100%);
    

    
}

.home__banner_discount {
    display: flex;
    align-items: center;
    
    color: #fff;
}

.home__discount_number {
    font: 800 12rem / 1 'Lato', sans-serif;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.home__discount_percent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5rem;
    
}

.home__percent_top {
    font: 800 5rem / 1 'Lato', sans-serif;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.home__percent_bottom {
    font: 800 4rem / 1 'Lato', sans-serif;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.home__banner_p {
    font: 400 2rem / 1 'Lato', sans-serif;
    color: #fff;
    width: 75%;
    margin-top: 2rem;
    text-align: center;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.home__banner_link {
    font: 400 1.35rem / 1 'Lato', sans-serif;
    color: #fff;
    margin-top: 1rem;
    align-self: flex-start;
    text-transform: uppercase;
    border: .1rem solid #fff;
    padding: .75em 2.1em;
    transition: all .3s ease-out;
}

.home__banner_link:hover {
    border-color: #00BFA5;
    background: #00BFA5;
}

.home__banner_image {
    position: absolute;
    height: 30rem;
    width: 30rem;
    right: -6rem;
    top: 0.5rem;
    bottom: 0;
    margin: auto;
}

.advantages {
    height: 14rem;
    display: flex;
    align-items: center;
}

.advantages__list {
    display: flex;
    align-items: center;
    
    width: 100%;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 0rem;
}

.advantages__list_item {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.advantages__list_item:not(:last-of-type) {
    border-right: .1rem solid #e2e2e2;
}

.advantages__list_h4 {
    font: 800 2rem / 1.3 'Lato', sans-serif;
    color: #023d21;
}


.advantages__list_item:hover .advantages__list_icon {
    transform: scale(1.2);
}


.advantages__list_icon {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 3rem;
    fill: #023d21;
    transition: all .3s ease-out;
/*    background: linear-gradient(to bottom, #20be55, #1b833f);*/
}

.about__content {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.about__info {
    width: calc(50% - 1rem);
    padding: 5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.about__info_p {
    font: 400 2rem / 1.5 'Lato', sans-serif;
    text-align: justify;
}

.about__info_p:not(:first-of-type) {
    margin-top: 2rem;
}

.about__list {
    width: calc(50% - 1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.about__list_item {
    height: calc(50% - 1rem);
    width: calc(50% - 1rem);
    background: #fff;
    overflow: hidden;
}

.about__list_item img {
    transition: all .3s ease-out;
}

.about__list_item:hover img {
    transform: scale(1.2)rotate(-7.5deg);
}

.about__list_item:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 105, 92, 0.35);
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    background: #00695C;
}

.h2__headline {
    font: 500 4rem / .75 'ITC Avant Garde Gotic', sans-serif;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
}

.section__title_link {
    font: 400 2.2rem / 1 'Lato', sans-serif;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    
}

.section__title_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.section__title_icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
    flex-shrink: 0;
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.categories__content_item {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 0 .25rem #ededed;
    transition: all .3s ease-out;
    
}

.categories__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 2rem 1rem rgba(2, 61, 33, 0.15);
}

.categories__content_link {
    background: #fff;
    padding: 5rem 3rem;
    transition: all .3s ease-out;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.categories__content_image {
    height: 25rem;
    width: 25rem;
    
    position: relative;
    overflow: visible;
    transform: translateY(-5%);
}


.categories__content_image:before {
    content: '';
    position: absolute;
    height: 90%;
    width: 90%;
    right: 0;
    bottom: -15%;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: #F5F5F5 url(../images/products-bg02.png) 50% 50% / cover no-repeat;
}

.categories__content_image .image__height {
    position: relative;
    z-index: 2;
}

.categories__content_h4 {
    font: 700 1.8rem / 1 'Lato', sans-serif;
    text-align: center;
    margin-top: 6.5rem;
    transition: all .3s ease-out;
    text-transform: uppercase;
}

.categories__content_h5 {
    font: 500 5rem / .75 'ITC Avant Garde Gotic', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    color: #023d21;
    transition: all .3s ease-out;
    
}

.categories__content_link:hover .categories__content_h5 {
    color: #00695C;
}

.categories__content_p {
    font: 300 1.6rem / 1.4 'Lato', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    color: #545454;
}

.banner {
    margin-top: 2rem;
}

.banner__container {
    position: relative;
    height: 28rem;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.banner__container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    background: #F5F5F5 url(../images/pattern06.png) 50% 50% / cover no-repeat;
}

.banner__images {
    display: flex;
    margin-left: 2rem;
    flex-shrink: 0;
}

.banner__image {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-right: 5rem;
    overflow: hidden;
    -webkit-filter: drop-shadow(0rem 0rem 2rem rgba(0,0,0,.25));
}

.banner__image img {
    transition: all .3s ease-out;
}

.banner__image:hover img {
    transform: scale(1.2)rotate(-7.5deg);
}

.banner__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.banner__data_h2 {
    font: 400 3.45rem / 1 'ITC Avant Garde Gotic', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_p {
    font: 300 2.1rem / 1.4 'Lato', sans-serif;
    color: #fff;
    margin-top: 1rem;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_link {
    font: 400 2rem / 1 'Lato', sans-serif;
    transition: all .3s ease-out;
    color: #fff;
    fill: #fff;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
}

.banner__data_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.popular {
    margin-top: 2rem;
}

.popular:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 20rem;
    width: 100%;
    background: #9c6b7e;
}

.popular__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.popular__content_item {
    width: calc(100% / 4 - 1.5rem);
    background: #fff;
    position: relative;
    transition: all .3s ease-out;
    overflow: hidden;
    transform: translate3d(0,0,0);
    background: #297374;
    display: flex;
    margin-top: 2rem;
}

.popular__content_link {
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__item_image {
    height: 30rem;
}

.popular__content_item:hover {
}

.popular__content_h4 {
    position: relative;
    z-index: 3;
    color: #fff;
    font: 400 3.5rem / 1 'Unica One', sans-serif;
}

.blog {
    margin-top: 2rem;
}

.blog:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 20rem;
    width: 100%;
    background: #9c6b7e
}

.brands {
    margin-top: 2rem;
}

.brands__content {
    display: flex;
    align-items: center;
    background: #fff;
    height: 14rem;
    width: 100%;
}

.brands__content_item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    filter: grayscale(100);
    transition: all .3s ease-out;
}

.brands__content_item:hover {
    filter: grayscale(0);
}

.brands__content_image {
    height: 6rem;
}

.brands__content_item:not(:last-of-type) {
    border-right: .1rem solid #e2e2e2;
}

.events {
   margin: 2rem 0;
}

.events__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.events__content_item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: calc(100% / 4 - 1.5rem);
    background: #fff;
    transition: all .3s ease-out;
    overflow: hidden;
}

.events__content_item:hover {
    box-shadow: 0 .75rem 3rem 0 rgba(0, 105, 92, 0.35);
}

.events__content_item img {
    transition: all .3s ease-out;
}

.events__content_item:hover img {
    transform: scale(1.2)rotate(-7.5deg);
}

.events__content_image {
    height: 25rem;
    overflow: hidden;
}

.events__content_info {
    padding: 3rem;
}

.events__content_title {
    display: flex;
    align-items: center;
}

.events__content_date {
    background: #023d21;
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-shrink: 0;
    transition: all .3s ease-out;
}

.events__content_item:hover .events__content_date {
    background: #00695C;
}

.events__date_number {
    font: 800 2.5rem / 1 'Lato', sans-serif;
}

.events__date_month {
    font: 400 1.3rem / 1 'Lato', sans-serif;
    text-transform: uppercase;
    margin-top: .25rem;
}

.events__content_h4 {
    font: 800 1.8rem / 1.3 'Lato', sans-serif;
    text-transform: uppercase;
}

.events__content_p {
    font: 400 1.7rem / 1.4 'Lato', sans-serif;
    margin-top: 3rem;
}

.why__content_button {
    overflow: hidden;
    display: flex;
}


.why__content_link {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    left: -11rem;
    transition: all .3s ease-out;
    position: relative;
}

.why__link_text {
    position: relative;
    transition: all .3s ease-out;
    font: 700 1.5rem / 1 'Lato', sans-serif;
    text-transform: uppercase;
    color: #00695C;
}

.why__link_marker {
    position: relative;
    font: 900 3rem / 0 'Lato', sans-serif;
    margin-left: 2rem;
    color: #00BFA5;
    padding-bottom: .25rem;
}

.events__content_item:hover .why__content_link {
    left: 0rem;
}

.why__content_link:hover .why__link_text {
    color: #00BFA5;
}

.footer {
    position: relative;
    background: #005848;
    z-index: 2;
}

.footer__top_container {
    padding: 6rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 600 3rem / 1 'ITC Avant Garde Gotic', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Lato', sans-serif;
    color: #fff;
    fill: #fff;
}

.footer__item:first-of-type .footer__p {
    width: 25rem;
    line-height: 1.75
}

.footer__social {
    display: flex;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    overflow: hidden;
    transition: all .3s ease-out;
    border: .2rem solid #fff;
}

.footer__social_link:hover {
    border-color: #00BFA5;
    background: #00BFA5;
    box-shadow: 0 0 2rem rgba(0,0,0,0);
}

.footer__social_pic {
    height: 1.8rem;
    width: 1.8rem;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4rem;
    width: 23rem;
    padding: 0 4rem 0 1.75rem;
    border: .2rem solid #fff;
    border-right: none;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    color: #00BFA5;
    transition: all .3s ease-out;
    
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #fff;
}

.footer__form_input:focus {
    border-color: #00BFA5;
    border-right: none;
}

.footer__form_button {
    height: 4rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 0;
    background: none;
    border: 0.2rem solid #fff;
    padding: 0 2rem;
}

.footer__form_button:hover {
    border-color: #00BFA5;
    background: #00BFA5;
    box-shadow: 0 0 2rem rgba(0,0,0,0);
}


.footer__contact_link {
    transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.footer__contact_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
}

.footer__bottom {
    padding: 3rem 0;
    background: #004D3F;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_link {
    position: relative;
    font: 400 1.8rem / 1.5 'Lato', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__bottom_link:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background-color: #F5F5F5;
    opacity: .25;
}

.footer__bottom_link:hover {
    color: #00BFA5;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1.5 'Lato', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}