@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Robotothin.woff') format('woff'),
    url('../fonts/roboto/Robotothin.woff2') format('woff2'),
    url('../fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Robotothinitalic.woff') format('woff'),
    url('../fonts/roboto/Robotothinitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}