@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Thin.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.woff2') format('woff2'),
         url('../fonts/Gilroy/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/*   My normalize   */

:root {
    --main-color: #ad6f7d;
    --content-background: rgba(0, 0, 0, 0.95);
    --content-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.container-image {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    object-fit: contain;
}

.section {
    position: relative;
    padding: 7.5rem 0;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.h2-headline {
    font: 600 5rem / .8 'Gilroy', sans-serif;
    text-transform: uppercase;
    height: 7.5rem;
    
}

.marker {
    font-family: 'Muli', sans-serif;
    background: url(../images/gold-bg12.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.h3-headline {
    font: 700 3.2rem / 1.3 'Gilroy', sans-serif;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Gilroy', sans-serif;
    text-align: justify;
}

.main-color {
    background: url(../images/gold-bg12.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.color-blue {
    color: var(--main-color);
}


.text-center {
    align-self: center;
    text-align: center;
}

.button {
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .75rem 2rem rgba(255, 186, 0, 0.25);
    background: url(../images/gold-bg11.png) 50% 50% / cover no-repeat;
    font: 700 1.7rem / .8 'Gilroy', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
    text-shadow: .05em .05em .25em rgba(0, 0, 0, 0.15);
}

.button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(255, 186, 0, 0.5);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 4.5rem 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    transition: all .3s ease-out;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));

    
}

.header__fixed {
    padding: 2.5rem 0;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: rgba(0,0,0,.95);
}

.header__container {
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo_link {
    position: relative;
}

.header__logo_left {
    font: 600 3rem / .7 'Gilroy', sans-serif;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    border-right: none;
    transition: all .3s ease-out;
    background: url(../images/gold-bg11.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header__logo_left:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: .3rem solid #D9B854;
    border-image: url(../images/gold-bg12.png) 1%;
    transition: all .3s ease-out;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, calc(82.5%) 100%, calc(82.5%) calc(100% - 2rem), calc(100% - 2rem) calc(100% - 2rem), calc(100% - 2rem) calc(2rem), calc(2rem) calc(2rem), calc(2rem) calc(100% - 2rem), calc(17.5%) calc(100% - 2rem), calc(17.5%) calc(100%), 0 calc(100%));
}

.header__logo_right {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font: 900 1.2rem / .8 'Gilroy', sans-serif;
    background: url(../images/gold-bg12.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    transition: all .3s ease-out;
    letter-spacing: .2em;
}

.header__logo_link {
    display: flex;
}

.header__logo_image {
    height: 5rem;
    font: 600 2rem / 1 'Gilroy', sans-serif;
    color: var(--main-color);
    transition: all .3s ease-out;
}

.header__logo_fixed {
    height: 5rem;
}

.header__menu {
    display: flex;
}

.header__menu_item {
    display: flex;
    align-items: center;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 7.5rem;
}

.header__menu_link {
    position: relative;
    display: flex;
    align-items: center;
    font: 300 1.4rem / .75 'Gilroy', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
    height: 4rem;
}

.header__menu_link:hover {
    padding-top: 2rem;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0rem;
    left: 0;
    right: 0;
    margin: auto;
    height: .25em;
    width: 3rem;
    background: url(../images/gold-bg12.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
    opacity: 0;
}

.header__menu_link:hover:after {
    opacity: 1;
    top: 0rem;
}

.header__menu_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-background);
    font: 700 1.8rem / .75 'Gilroy', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
    text-transform: uppercase;
    padding-bottom: 1.75rem;
    background: url(../images/gold-bg11.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
}


.header__menu_button:hover {
    padding-bottom: 0;
    padding-top: 1.75rem;
}


.header__menu_button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: .3rem;
    width: 100%;
    opacity: 0;
    background: url(../images/gold-bg11.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
}

.header__menu_button:hover:before {
    opacity: 1;
}

.header__menu_button:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: .3rem;
    width: 100%;
    opacity: 1;
    background: url(../images/gold-bg12.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
}

.header__menu_button:hover:after {
    opacity: 0;
}




.home-top {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
    color: #000;
    background: #000 url(../images/home-top__bg14.png) 0% 100% / cover no-repeat;
    overflow: hidden;
}

.home-top__container {
    padding: 12rem 2rem 15rem;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.home-top__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.home-top__content_h2 {
    font: 700 7rem / .7 'Gilroy', sans-serif;
    text-transform: uppercase;
    margin-left: -.035em;
    max-width: none;
    position: relative;
    color: #fff;
    text-shadow: .15em .15em .3em rgba(0, 0, 0, 0.25);
}

.home-top__content_p {
    font: 300 3rem / 1.4 'Gilroy', sans-serif;
    text-transform: uppercase;
    margin-left: -.035em;
    max-width: none;
    position: relative;
    color: #fff;
    margin-top: 4.5rem;
    text-shadow: .15em .15em .3em rgba(0, 0, 0, 0.25);
}

.home-top__content_marker {
    position: absolute;
    bottom: -.2rem;
    right: -4rem;
    height: 2rem;
    width: 2rem;
    background: var(--main-background);
}

.home-top__content_h2:not(:first-of-type) {
    margin-top: 2rem;
}

.home-top__content_h2:nth-of-type(2) {
}

.home-top__direct {
    position: relative;
    padding-right: 2rem;
    margin-bottom: -.5rem;
}

.home-top__direct_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-top__direct_item {
    font: 300 1.5rem / 0.7 'Gilroy', sans-serif;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-transform: uppercase;
    padding: .75rem;
}

.home-top__direct_item:not(:first-of-type) {
    margin-top: .75rem;
}

.home-top__direct_direct{
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: .2rem;
    height: 27rem;
    
}

.home-top__direct_line {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: .2rem;
    height: 27rem;
    background: #000;
    transition: all 1s ease-out;
}

.home-top__direct:hover .home-top__direct_line {
    top: 4.5rem;
}

.home-goal {
    margin-top: 7.5rem;
    overflow: hidden;
}

.home-goal__container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7.35rem;
    right: 2rem;
    bottom: 7.5rem;
    width: calc(50vw + (144rem / 2));
    max-width: none;
    background: #D0D0CE url(../images/home-goal__bg05.png) 0% 50% / cover no-repeat;
}

.home-goal__h2 {
    font: 700 3.7rem / 0.75 'Gilroy', sans-serif;
    text-transform: uppercase;
    height: 7.5rem;
}

.home-goal__content {
    width: 40%;
    background: var(--content-background);
    color: #fff;
    padding: 5rem 7.5rem 7.5rem;
    box-shadow: var(--content-shadow);
    margin-right: 7.5rem;
}

.home-goal__button {
    margin-top: 3.75rem;
    width: 100%;
}

.home-services {
    overflow: hidden;
}

.home-services__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: none;
    width: calc((100vw - 144rem) / 2 + 142rem - 3rem);
}

.home-services__list_item {
    width: calc(100% / 4 - 2rem);
    color: #fff;
    box-shadow: var(--content-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 7.5rem 5rem;
}

.home-services__list_item:hover {
    color: #000;
    transition: all .3s ease-out;
}

.home-services__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background: #000;
    transition: all .3s ease-out;
}

.home-services__list_item:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/gold-bg11.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
    opacity: 0;
}

.home-services__list_item:hover:after {
    opacity: 1;
}

.home-services__list_h4 {
    font: 700 2.2rem / 0.7 'Gilroy', sans-serif;
}

.home-services__list_pic {
    display: flex !important;
    height: 12rem;
    width: 12rem;
    fill: url(#Gradient01);
    margin-top: 5.5rem;
}

.home-services__list_item:hover .home-services__list_pic {
    filter: grayscale(100%)brightness(0%);
}

.home-services__list_p {
    margin-top: 4.5rem;
    font: 500 1.6rem / 1.5 'Gilroy', sans-serif;
}

.home-culture__container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7.35rem;
    right: 2rem;
    bottom: 7.5rem;
    width: calc(50vw + (144rem / 2));
    max-width: none;
    background: #D0D0CE url(../images/home-culture__bg02.png) 0% 100% / cover no-repeat;
}

.home-culture__list {
    display: flex;
    flex-direction: column;
}

.home-culture__list_item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.home-culture__list_title {
    display: flex;
    align-items: center;
}

.home-culture__list_pic {
    display: flex !important;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
    fill: url(#Gradient01);
}

.home-culture__list_h4 {
    font: 600 2rem / 0.75 'Gilroy', sans-serif;
    padding-top: .2em;
}

.home-culture__list_p {
    font: 400 1.6rem / 1.5 'Gilroy', sans-serif;
    margin-top: 1rem;
    opacity: .85;
}




.home-testimonials {
    overflow: hidden;
}

.home-testimonials__container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7.35rem;
    left: 2rem;
    bottom: 7.5rem;
    width: calc(50vw + (144rem / 2));
    max-width: none;
    background: #D0D0CE url(../images/home-testimonials__bg03.png) 50% 100% / cover no-repeat;
    
}

.home-testimonials .h2-headline{
    flex: 1 0 auto;
}

.home-testimonials__list {
    width: 40%;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    flex-shrink: 0;
}

.home-testimonials__list_item {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    padding: 3rem;
    box-shadow: var(--content-shadow);
    overflow: hidden;
    position: relative;
    transition: all .3s ease-out;
}

.home-testimonials__list_item:hover {
    color: #000;
}

.home-testimonials__list_item:not(:first-of-type) {
    margin-top: 3rem;
}

.home-testimonials__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--content-background);
    opacity: .95;
    transition: all .3s ease-out;
}

.home-testimonials__list_item:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/gold-bg11.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
    opacity: 0;
}

.home-testimonials__list_item:hover:after {
    opacity: 1;
}

.home-testimonials__list_title {
    display: flex;
    align-items: center;
}

.home-testimonials__list_image {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-right: 3rem;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all .3s ease-out;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
}

.home-testimonials__list_item:hover .home-testimonials__list_image {
    filter: grayscale(0);
}

.home-testimonials__list_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-testimonials__list_h4 {
    font: 600 2.5rem / 0.75 'Gilroy', sans-serif;
}

.home-testimonials__list_h5 {
    font: 400 1.8rem / .75 'Gilroy', sans-serif;
    opacity: .75;
    margin-top: 1.5rem;
}

.home-testimonials__list_p {
    font: 400 1.75rem / 1.5 'Gilroy', sans-serif;
    margin-top: 2rem;
    text-align: justify;
}

.home-testimonials__list_button {
    position: relative;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home-testimonials__list_link {
    text-transform: uppercase;
    font: 700 1.4rem / 0.75 'Gilroy', sans-serif;
    color: var(--main-color);
    display: flex;
    position: relative;
    
    transform: translateX(calc(-100% + 1.5rem));
    transition: all .3s ease-out;
}

.home-testimonials__list_item:hover .home-testimonials__list_link {
    transform: translateX(0);
}

.home-testimonials__list_link:after {
    content: '';
    height: .25rem;
    background: var(--main-color);
    width: 1.5rem;
    display: flex;
    align-self: center;
    margin-left: 1.25rem;
}

.home-partners {
    margin-top: 7.5rem;
}

.home-partners__list_item {
}

.home-partners__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home-partners__list_link {
    display: flex;
    filter: grayscale(100%);
    transition: all .3s ease-out;
}



.home-partners__list_link:hover {
    filter: grayscale(0);
}

.home-partners__list_image {
    height: 5rem;
    width: auto;
    display: flex;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.home-subscribe {
    padding: 7.5rem 0;
    background: url(../images/gold-bg12.png) 50% 50% / cover no-repeat;
    margin-top: 15rem;
}

.home-subscribe__container {
    align-items: center;
}

.home-subscribe__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.home-subscribe__h2 {
    flex-shrink: 0;
    font: 600 3.5rem / .7 'Gilroy', sans-serif;
    
}

.home-subscribe__h3 {
    font: 400 2.5rem / .7 'Gilroy', sans-serif;
    margin-top: 1.5rem;
}

.home-subscribe__form {
    margin-left: 7.5rem;
    display: flex;
    flex: 1 0 auto;
    
}

.home-subscribe__form_item {
    flex: 1 0 auto;
}

.home-subscribe__form_input {
    height: 6rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    border: .3rem solid #fff;
    border-right: none;
    background: #fff;
    font: 600 2rem / 1 'Gilroy', sans-serif;
    transition: all .3s ease-out;
    box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.15);
}

.home-subscribe__form_input:focus {
    border-color: #000;
    color: #000;
}

.home-subscribe__form_input::-webkit-input-placeholder {
    color: #000;
}

.home-subscribe__form_input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.home-subscribe__form_input:-ms-input-placeholder {
    color: #000;
}

.home-subscribe__form_link {
    flex-shrink: 0;
}

.home-subscribe__form_button {
    height: 6rem;
    padding: 0 4rem;
    background: #000;
    font: 700 1.8rem / 1 'Gilroy', sans-serif;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    transition: all .3s ease-out;
}

.home-subscribe__form_button:hover {
    color: var(--main-color);
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer__top {
    background: #0b0b0b;
}

.footer__top_container {
    padding: 8rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 6rem;
    font: 600 3rem / .75 'Gilroy', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__data_list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__data_item {
    display: flex;
    align-items: center;
}

.footer__data_item:not(:first-of-type) {
    margin-top: 2.5rem;
}

.footer__data_link {
    display: flex;
    align-items: center;
}

.footer__p,
.footer__bottom_h4 {
    display: flex;
    align-items: center;
    font: 400 2rem / 1 'Gilroy', sans-serif;
    color: #bababa;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 42rem;
    margin: -.4em 0;
    line-height: 2;
    text-align: justify;
}

.footer__data_link:hover .footer__p {
    color: #dcbc59;
}

.footer__link_pic {
    display: flex !important;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2.5rem;
    fill: url(#Gradient01);
}

.footer__bottom {
    padding: 4rem 0;
    background: #000;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_item {
    display: flex;
    align-items: center;
}

.footer__bottom_item:not(:last-of-type) {
    margin-right: 6rem;
}

.footer__bottom_link {
    display: flex;
    align-items: center;
}

.footer__bottom_link:hover .footer__p {
    color: #dcbc59;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home-top {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home-top {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}