@font-face {
    font-family: 'Kaiju';
    src: url('../fonts/kaiju/Kaiju-medium.woff') format('woff'),
    url('../fonts/kaiju/Kaiju-medium.woff2') format('woff2'),
    url('../fonts/kaiju/Kaiju-medium.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kaiju';
    src: url('../fonts/kaiju/Kaiju-bold.woff') format('woff'),
    url('../fonts/roboto/kaiju/Kaiju-bold.woff2') format('woff2'),
    url('../fonts/roboto/kaiju/Kaiju-bold.ttf') format('truetype');
    font-weight: 600;
}

/*   my normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #EDEDED;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image__height {
    height: 100%;
    max-width: none;
}

.image__width {
    width: 100%;
}

button,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #68f3f4;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c0c0c0;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9E9E9E;
}

.container__row {
    margin: 0 auto;
    display: flex;
}

.container__column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      content      */

body:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #F5F5F5 url(../images/pattern16.png) 50% 50% / cover no-repeat;
}

.container__row,
.container__column {
    position: relative;
    z-index: 2;
    width: 144rem;
    padding: 0 2rem;
}

section {
    position: relative;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.button {
    z-index: 2;
    font: 400 1.4rem / 1 'Lato', sans-serif;
    color: #fff;
    margin-top: 2.25rem;
    align-self: flex-start;
    text-transform: uppercase;
    border: .1rem solid #fff;
    padding: .75em 1.5em;
    transition: all .3s ease-out;
}

.button:hover {
    border-color: #297374;
    background: #297374;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
}

.header__top {
    
    background: #fff;
}

.header__top_container {
    height: 8.5rem;
    align-items: center;
    justify-content: space-between;
}

.logo__link {
    width: 30rem;
    height: 5.5rem;
    display: flex;
    justify-content: flex-start;
    transition: all .3s ease-out;
}

.logo__image {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 2rem;
}

.logo__text {
    font: 300 6rem / 1 'Unica One', cursive;
    text-transform: uppercase;
    color: #9c6b7e;
}

.header__menu {
    display: flex;
}

.header__panel {
    display: flex;
    height: 100%;
    position: relative;
    flex: 1 0 auto;
}

.header__panel_item {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    
    padding: 0 3rem;
}

.header__panel_item:first-of-type {
    padding: 0;
}

.header__panel_item:first-child {
    flex: 1 0 auto;
}

.header__panel_link {
    font: 400 2rem / 1 'Lato', sans-serif;
    color: #9c6b7e;
    fill: #9c6b7e;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.header__panel_link:hover {
    color: #297374;
    fill: #297374;
}

.header__panel_icon {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

.header__panel_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: .1rem;
    margin: auto;
    background: #E0E0E0;
}

.header__form {
    width: 100%;
    position: relative;
}

.header__form_input {
    border: .1rem solid #bdbdbd;
    height: 4rem;
    width: 100%;
    padding: 0 4.55rem 0 1.5rem;
    display: flex;
    align-items: center;
    font: 300 1.8rem / 1 'Lato', sans-serif;
    color: #9c6b7e;
    transition: all .3s ease-out;
}

.header__form_input:focus {
    border: .1rem solid #9c6b7e;
}

.header__form_input::-webkit-input-placeholder {
    color: #c5c5c5;
}

.header__form_input::-moz-placeholder {
    color: #c5c5c5;
    opacity: 1;
}

.header__form_input:-ms-input-placeholder {
    color: #c5c5c5;
}

.header__form_button {
    position: absolute;
    right: 1.5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease-out;
    fill: #bdbdbd;
}

.header__form_button:hover {
    fill: #30649a;
}

.header__form_image {
    height: 2rem;
    width: 2rem;
    
}

.header__bottom {
    background: #297374;
    height: 5rem;
}

.header__products {
    position: relative;
    width: 30rem;
    height: 5rem;
    flex: 0 0 auto;
}

.header__products_menu {
    background: #eee;
}

.header__nav {
    height: 100%;
    height: 5rem;
    flex: 1 0 auto;
    display: flex;
}

.header__menu {
    height: 100%;
    flex: 1 0 auto;
}

.header__menu_item {
    flex: 1 0 auto;
}

.header__menu_link {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
    text-transform: capitalize;
}

.header__products:hover .header__menu_link {
    background: #348283;
}

.header__nav .header__menu_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: .1rem;
    margin: auto;
    background: #348283;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.1rem;
    height: 100%;
    max-width: none;
    width: calc(100% + .1rem);
    margin: auto;
    background: #348283;
    transition: all .3s ease-out;
    opacity: 0;
}

.header__menu_link:hover:after {
    opacity: 1;
}


.header__menu_headline {
    background: #9c6b7e;
    background: #206768;
    justify-content: flex-start;
}

.header__menu_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
    fill: #fff;
}

.icon__rotate {
    transform: rotateX(180deg)
}

.header__products_menu {
    position: absolute;
    z-index: -1;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 0;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
    transition: all .3s ease-out;
}

.header__products:hover .header__products_menu {
    transform: scaleY(1);
}

.header__products_link {
    display: flex;
    align-items: center;
    height: 4.5rem;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    background: #fff;
    width: 100%;
    padding: 0 3rem;
    margin-top: .2rem;
    color: #333;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

.header__products_link:hover {
    background: #fff4f8;
    color: #348283;
}

.nav__phone {
    display: flex;
    flex-shrink: 0;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    color: #fff;
    align-items: center;
    padding: 0 2rem;
}

.home {
    height: calc(100vh - 14rem);
    display: flex;
    padding: 0;
    padding-top: 15.5rem;
}

.home:before {
    content: '';
    top: 0;
    right: 35%;
    bottom: 0rem;
    left: 0;
    position: absolute;
    display: flex;
    padding: 0;
    
}

.home__container {
    padding: 0rem 2rem 0rem;
    justify-content: center;
    align-items: flex-start;
}

.home__slider {
    height: 100%;
    width: 68%;
    flex-shrink: 0;
    margin-right: 2rem;
    display: flex;
}

.slide__01:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: linear-gradient(to right, #9c6b7e, rgba(0, 0, 0, 0) 70%);*/
}

.slide__01 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem;
    height: 100%;
    width: 100%;
    background: #F5F5F5 url(../images/home__bg04.png) 50% 50% / cover no-repeat;
}

.slide__itle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.home__h2 {
    font: 400 7.5rem / 1 'Unica One', sans-serif;
    text-transform: uppercase;
    margin-top: 1.75rem;
    color: #fff;
    z-index: 2;
    background: #9c6b7e;
    background: #297374;
        
}

.home__h3 {
    font: 400 2.5rem / 1.5 'Lato', sans-serif;
/*    text-transform: uppercase;*/
    color: #fff;
    margin-top: 1rem;
    z-index: 2;
    background: #9c6b7e;
}

.home__button {
    margin-top: 5rem;
    position: absolute;
    z-index: 2;
    right: 6rem;
    bottom: 6rem;
    background: #297374;
    font: 400 1.6rem / 1 'Lato', sans-serif;
    border: none;
}

.home__button .button__text {
    padding: 0 1.5em;
}

.home__banners {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.home__banner {
    position: relative;
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    background: linear-gradient(to top right, #fefcea, #f1da36);
    overflow: hidden;
    transition: all .3s ease-out;
}

.home__banner:hover {
    transform: scale(1.03);
}

.home__banner01 {
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    background: #9c6b7e;
    background: #F5F5F5 url(../images/banner11.png) 0% 50% / cover no-repeat;
    
}

.home__banner01:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 47.5%;
    height: 100%;
    width: 100%;
    max-width: none;
    background: #297374;
    transform: rotate(-45deg);
    background: #F5F5F5 url(../images/banner01.png) 100% 100% / cover no-repeat;
}

.home__banner02 {
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    background: linear-gradient(to top right, #3cb371, #006400);
    background: linear-gradient(to top right, #FFD700, #FF4500);
    
}

.home__banner02:before {
    content: '';
    position: absolute;
    top: -92.5%;
    left: -60%;
    height: 150%;
    width: 220%;
    max-width: none;
    background: linear-gradient(to top right, #FFD700, #FF4500);
    background: linear-gradient(to top right, #3cb371, #006400);
    transform: rotate(-45deg)
}

.home__banner_info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.home__banner_h4 {
    font: 400 3.4rem / 1 'Unica One', sans-serif;
    text-transform: uppercase;
    color: #fff;
    
}

.home__banner_h6 {
    font: 600 8rem / 1 'Unica One', sans-serif;
    color: #fff;
    margin-top: 2.25rem;
}

.home__banner_p {
    font: 300 1.8rem / 1.4 'Lato', sans-serif;
    color: #fff;
    width: 55%;
    margin-top: 2.25rem;
}

.home__banner_link {
    font: 400 1.35rem / 1 'Lato', sans-serif;
    color: #fff;
    margin-top: 2.25rem;
    align-self: flex-start;
    text-transform: uppercase;
    border: .1rem solid #fff;
    padding: .75em 1.5em;
    transition: all .3s ease-out;
}

.home__banner_link:hover {
    border-color: #297374;
    background: #297374;
}

.home__banner_image {
    position: absolute;
    height: 22rem;
    width: 22rem;
    right: -2rem;
    top: 5.5rem;
    bottom: 0;
    margin: auto;
}

.h2__headline {
    font: 400 5rem / 1 'Unica One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transform: translateX(-.1em);
}

.advantages {
    height: 14rem;
    display: flex;
    align-items: center;
}

.advantages__list {
    display: flex;
    align-items: center;
    
    width: 100%;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 0;
}

.advantages__list_item {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.advantages__list_item:not(:last-of-type) {
    border-right: .1rem solid #e2e2e2;
}

.advantages__list_h4 {
    font: 800 2rem / 1.3 'Lato', sans-serif;
    color: #297374;
}



.advantages__list_icon {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 2.5rem;
    fill: #297374;
/*    background: linear-gradient(to bottom, #20be55, #1b833f);*/
}

.categories:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 20rem;
    width: 100%;
    background: linear-gradient(to top right, #FFD700, #FF4500);
    background: #9c6b7e;
}

.section__title {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 4rem;
    align-items: baseline;
}

.section__title_link {
    font: 400 2rem / 1 'Lato', sans-serif;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    
}

.section__title_link:hover {
    color: #6dfeff;
    fill: #6dfeff;
}

.section__title_icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories__content_item {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 0 .25rem #ededed;
    transition: all .3s ease-out;
    
}

.categories__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 2rem 1rem rgba(41, 115, 116, 0.15);
}

.categories__content_link {
    background: #F5F5F5;
    padding: 5rem 3rem;
    transition: all .3s ease-out;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}



.categories__content_image {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
}

.categories__content_h4 {
    font: 700 2.5rem / 1 'Lato', sans-serif;
    text-align: center;
    margin-top: 3rem;
    transition: all .3s ease-out;
}

.categories__content_h5 {
    font: 400 7rem / 1 'Unica One', sans-serif;
    text-align: center;
    margin-top: 1.5rem;
    color: #297374;
    
}

.categories__content_p {
    font: 300 1.6rem / 1 'Lato', sans-serif;
    text-align: center;
    margin-top: 1rem;
    color: #545454;
}

.banner {
    margin-top: 2rem;
}

.banner__container {
    position: relative;
    height: 22rem;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.banner__container:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    background: #297374 url(../images/pattern05.png) 100% 100% / cover no-repeat;
}

.banner__images {
    display: flex;
    margin-left: 2rem;
}

.banner__image {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    margin-right: 8rem;
}

.banner__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.banner__data_h2 {
    font: 400 6rem / 1 'Unica One', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.banner__data_p {
    font: 300 1.6rem / 1.4 'Lato', sans-serif;
    color: #fff;
    margin-top: .5rem;
}

.banner__data_link {
    font: 400 2rem / 1 'Lato', sans-serif;
    transition: all .3s ease-out;
    color: #fff;
    fill: #fff;
    text-transform: uppercase;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.banner__data_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
}

.banner__data_link:hover {
    color: #6dfeff;
    fill: #6dfeff;
}

.popular {
    margin-top: 2rem;
}

.popular:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 20rem;
    width: 100%;
    background: #9c6b7e;
}

.popular .section__title {
    padding-bottom: 2rem;
}

.popular__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.popular__content_item {
    width: calc(100% / 3 - 1.33rem);
    background: #fff;
    position: relative;
    transition: all .3s ease-out;
    overflow: hidden;
    transform: translate3d(0,0,0);
    background: #297374;
    display: flex;
    height: 30rem;
    margin-top: 2rem;
}

.popular__content_link {
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 2rem 1rem rgba(41, 115, 116, 0.15);
}

.popular__content_item:nth-of-type(1):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    background: url(../images/popular01.png) 50% 0% / cover no-repeat;
}

.popular__content_item:nth-of-type(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    background: url(../images/popular02.png) 50% 0% / cover no-repeat;
}

.popular__content_item:nth-of-type(3):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    background: url(../images/popular03.png) 50% 0% / cover no-repeat;
}

.popular__content_item:nth-of-type(4):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    background: url(../images/popular04.png) 50% 0% / cover no-repeat;
}

.popular__content_item:nth-of-type(5):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    background: url(../images/popular05.png) 50% 0% / cover no-repeat;
}

.popular__content_item:nth-of-type(6):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    background: url(../images/popular06.png) 50% 0% / cover no-repeat;
}

.popular__content_item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: rgba(41, 115, 116, 0.75);*/
/*    background: linear-gradient(to top right, rgba(41, 115, 116, 0.85), rgba(41, 115, 116, 0.25));*/
}

.popular__content_h4 {
    position: relative;
    z-index: 3;
    color: #fff;
    font: 400 3.5rem / 1 'Unica One', sans-serif;
}

.blog {
    margin-top: 2rem;
}

.blog:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 20rem;
    width: 100%;
    background: #9c6b7e
}

.brands {
    margin-top: 2rem;
}

.brands__content {
    display: flex;
    align-items: center;
    background: #fff;
    height: 14rem;
    width: 100%;
}

.brands__content_item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    filter: grayscale(100);
    transition: all .3s ease-out;
}

.brands__content_item:hover {
    filter: grayscale(0);
}

.brands__content_image {
    height: 6rem;
}

.brands__content_item:not(:last-of-type) {
    border-right: .1rem solid #e2e2e2;
}

.footer {
    margin-top: 2rem;
}

.footer__top {
    padding: 7rem 0;
    background: #297374;
}

.footer__container {
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 3rem;
    font: 400 3.5rem / 1 'Unica One', cursive;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #fff;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__p {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Lato', sans-serif;
    color: #F5F5F5;
    fill: #F5F5F5;
}

.footer__social {
    margin-top: 1.5rem;
    display: flex;
}

.footer__social_link {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 2rem;
    padding: .95rem;
    display: flex;
    fill: #fff;
    overflow: hidden;
    transition: all .3s ease-out;
    fill: #fff;
    background: #9c6b7e;
}

.footer__social_link:hover {
    background: #895468;
}

.footer__form {
    margin-top: 1.5rem;
    display: flex;
    border-radius: 5em;
}

.footer__form_input {
    height: 3.5rem;
    width: 23rem;
    padding: 0 1.5rem;
    border: .1rem solid #F5F5F5;
    border-right: none;
    font: 400 1.4rem / 1 'Lato', sans-serif;
    color: #6dfeff;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input::-moz-placeholder {
    color: #F5F5F5;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border: .1rem solid #6dfeff;
    border-right: none;
}

.footer__form_button {
    position: relative;
    height: 3.5rem;
    padding: 0 2rem;
    font: 600 1.4rem / 1 'Lato', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    background: #9c6b7e;
    color: #fff;
    transition: all .3s ease-out;
}

.footer__form_button:hover {
    background: #895468;
    color: #fff;
}

.footer__contact_link {
    align-self: flex-start;
    transition: all .3s ease-out;
}

.footer__contact_link:hover {
    color: #6dfeff;
    fill: #6dfeff;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
}

.icon__right {
    transform: rotate(90deg);
}

.footer__bottom {
    background: #206768;
}

.footer__bottom_container {
    justify-content: space-between;
    align-items: center;
}

.footer__h4 {
    font: 400 2.5rem / 1 'Unica One', cursive;
    text-transform: uppercase;
    padding: 3rem 0;
    color: #fff;
}

.footer__h5 {
    font: 400 1.8rem / 1 'Lato', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}