/*   my normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    margin: 0;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none; 
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image__height {
    height: 100%;
    max-width: none;
}

.image__width {
    width: 100%;
}

button,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;    
    border: none;
    background-color: transparent;
    text-transform: none; 
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
     outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    color: #fff;
    background: #FF8C00;
}

.container__row {
    margin: 0 auto;
    display: flex;
}

.container__column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*      content      */

.container__row,
.container__column {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 0 8rem;
    justify-content: center;
    width: 50%;
}

.section {
    position: relative;
    padding-left: 10rem;
    overflow: hidden;
    padding-left: 8rem;
    display: flex;
}

.button {
    position: relative;
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    font: 700 1.6rem / 1 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    word-spacing: .2em;
    letter-spacing: .1em;
    color: #fff;
    transition: all .3s ease-out;
    border-radius: 5em;
    background-color: #ffa700;
    height: 5rem;
    overflow: hidden;
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #FF8C00;
    border-radius: 5em;
    transition: all .3s ease-out;
}

.button:hover:before {
    width: 100%;
}

.button__image {
    height: 5rem;
    width: 5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    padding: 1.15rem;
    display: flex;
    fill: #fff;
    transition: all .3s ease-out;
    z-index: 2;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
}

.button__image01 {
    padding: 1.5rem;
}

.button:hover .button__image {
    background-color: #ffa700;
}

.button__text {
    margin-top: .3em;
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    z-index: 2;
}

.main__color {
    color: #ffa700;
}

.text__bold {
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
}

.header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 8rem;
    transform: translate3d(0,0,0);
    background-color: #fff;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .08), 0 .4rem .8rem rgba(0,0,0,.16);
    transition: all .3s ease-out;
    padding: 2rem 1rem;
}

.header__container {
    position: relative;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo__link {
    position: relative;
    display: flex;
    height: 5rem;
    width: 5rem;
    transform: translate3d(0,0,0);
/*    max-width: none;*/
   
}

.header__logo01 {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    max-width: none;
/*    transform: translate3d(0,0,0);*/
}

.header__logo02 {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    opacity: 0;
/*    transform: translate3d(0,0,0);*/
    transition: all .3s ease-out;
    
}

.header__logo02:before {
    content: '';
    position: absolute;
/*    z-index: 2;*/
    top: -1rem;
    left: -1rem;
    height: 7rem;
    width: 0rem;
    transition: all .3s ease-out;
    background: #fff;
    border-radius: 5em;
    max-width: none;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    
}

.logo__link:hover .header__logo02 {
    opacity: 1;
    max-width: none;
    height: 5rem;
}

.logo__link:hover .header__logo02:before {
    opacity: 1;
    width: 16.5rem;
}



.header__nav {
    display: flex;
    justify-content: flex-start;
}

.header__menu {
    display: flex;
    flex-direction: column;
    max-width: none;
    
}

.header__menu_item {
    display: flex;
    max-width: none;
}

.header__menu_item:not(:last-of-type) {
    margin-bottom: 1.25rem;
}

.header__menu_link {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 3em;
    max-width: none;
    height: 4.5rem;
    width: 4.5rem;
    
    border-radius: 50%;
    overflow: hidden;
}

.header__menu_link:hover {
    overflow: visible;
}

.header__menu_image {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all .3s ease-out;
}

.header__menu_icon {
    height: 2.5rem;
    width: 2.5rem;
    
    
    
    
}

.header__menu_text {
    position: absolute;
    z-index:-1;
    margin-left: 1rem;
    align-items: center;
    font: 600 1.7rem / 1 'Josefin Sans', sans-serif;
    letter-spacing: .15em;
    width: 0;
    transition: all .3s ease-out;
    color: #fff;
    padding-right: 1.5rem;
    height: 4.5rem;
    width: 0rem;
    top: 0;
    left: 0;
    padding-left: 4.75rem;
    padding-top: .3em;
    
    opacity: 0;
    display: flex;
    padding-right: 1.75rem;
    width: auto;
    max-width: none;
}

.header__menu_text:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #ffa700;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    border-radius: 5em;
    transition: all .3s ease-out;
}

.header__menu_link:hover {
    
}

.header__menu_item.active .header__menu_link {
    border-radius: 3em;
    
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    background-color: #FF8C00;
    fill: #fff;
    
}

.header__menu_link:hover .header__menu_image {
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    background-color: #FF8C00;
    fill: #fff;
    
}

.header__menu_link:hover .header__menu_text:before {
    width: 100%;
}

.header__menu_link:hover .header__menu_text {
    opacity: 1;
}



.header__social {
    display: flex;
    flex-direction: column;
}

.header__social_link {
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    transition: all .3s ease-out;
    fill: #000;
}

.header__social_link:hover {
    border-radius: 50%;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    fill: #fff;
}

.header__social_link:nth-child(1):hover {
    background-color: #3b5998;
}

.header__social_link:nth-child(2):hover {
    background-color: #0077B5;
}

.header__social_link:nth-child(3):hover {
    background-color: #1DA1F2;
}

.header__social_link:nth-child(4):hover {
    background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%);
}

.header__social_link:not(:last-of-type) {
    margin-bottom: 1.25rem;
}

.header__social_icon {
    height: 2rem;
    width: 2rem;
}

/*
#page01:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0rem;
    left: calc(50% - 4rem);
    height: 100%;
    background: url(../images/page01__bg01.png) 50% 50% / cover no-repeat;
}
*/

#page01:after {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    background: url(../images/page01__bg01.png) 100% 50% / cover no-repeat;
}

.page01__container {
    background: url(../images/page01__bg27.png) 50% / cover no-repeat;
}

.page01__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page01__h2 {
    font: 700 9.25rem / 1.2 'Josefin Sans', sans-serif;
    text-shadow: .05em .05em .1em rgba(0, 31, 62, 0.15);
    letter-spacing: .05em;
/*    color: #fff;*/
    text-transform: uppercase;
}

.page01__p {
    margin-top: 3rem;
    font: 400 2.4rem / 1.6 'Montserrat', sans-serif;
    text-align: justify;
    word-spacing: .25rem;
    letter-spacing: .05rem;
/*    color: #fff;*/
    text-shadow: .05em .05em .1em rgba(0, 31, 62, 0.15);
}

.page01__button {
    margin-top: 5rem;
}

#page02 {
    position: relative;
}

#page02:before {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    background: url(../images/page02__bg03.png) 50% / cover no-repeat;
}

.page02__container {
    background: url(../images/page02__bg26.png) 50% 50% / cover no-repeat;
}

.page02__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
}

.h2__headline {
    font: 800 6.5rem / 1.4 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    word-spacing: 1.5rem;
    letter-spacing: .05em;
/*    color: #fff;*/
    text-shadow: .05em .05em .1em rgba(0, 31, 62, 0.15);
}

.page02__p {
    margin-top: 3rem;
    font: 400 1.8rem / 1.6 'Montserrat', sans-serif;
    text-align: justify;
    word-spacing: .25rem;
    letter-spacing: .05rem;
/*    color: #fff;*/
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
/*    text-align-last: right;*/
}

.Page02__button {
    margin-top: 4rem;
}

#page03 {
    position: relative;
}

#page03:after {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    background: url(../images/page03__bg01.png) 100% 50% / cover no-repeat;
}

.page03__container {
    background: #fff url(../images/page03__bg24.png) 100% 50% / cover no-repeat;
}

.page03__content {
    margin: 3rem 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services__item {
    display: flex;
    align-items: center;
}

.services__item:not(:last-of-type) {
    margin-bottom: 5rem;
}

.services__icon {
    height: 14rem;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 50%;
    flex-shrink: 0;
}

.services__image {
    height: 11rem;
    width: 11rem;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    background-color: #FF8C00;
    fill: #fff;
    border-radius: 50%;
}

.services__pic {
    height: 65%;
    width: 65%;
}

.services__pic01 {
    margin-bottom: 1rem;
}

.services__pic02 {
    margin-top: 1rem;
}

.services__pic03 {
    margin-bottom: 1rem;
}

.pic__big {
    height: 65%;
    width: 65%;
    margin: 0 .5rem .5rem 0;
}

.advantages__info {
    margin-left: 2.5rem;
    padding-bottom: .75rem;
}

.services__h3 {
    font: 700 2.5rem / 1.5 'Montserrat', sans-serif;
    word-spacing: .5rem;
    letter-spacing: .05em;
/*    color: #fff;*/
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
}

.advantages__p {
    margin-top: .5rem;
    font: 400 1.6rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
    word-spacing: .25rem;
    letter-spacing: .05rem;
/*    color: #fff;*/
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
}

#page04 {
}

#page04:before {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    background: url(../images/page04__bg02.png) 50% / cover no-repeat;
}

.page04__container {
    justify-content: center;
    background: url(../images/page06__bg21.png) 50% / cover no-repeat;
}

.page04__h3 {
    font: 300 3rem / 1.5 'Montserrat', sans-serif;
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
    letter-spacing: .05em;
/*    color: #fff;*/
    font-style: italic;
}

.page04__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page04__content_item {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.page04__content_image {
    height: 9rem;
    width: 9rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 2rem;
    box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, .1);
    border: .5rem solid #FF8C00;
    background-color: #fff;
}

.page04__content_h4 {
    font: 700 2rem / 1.5 'Montserrat', sans-serif;
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
    letter-spacing: .05em;
}

.page04__content_p {
    font: 400 1.35rem / 1.5 'Montserrat', sans-serif;
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
    letter-spacing: .05em;
/*    color: #fff;*/
    margin-bottom: .5rem;
}

#page05:after {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    background: url(../images/page05__bg01.png) 100% 50% / cover no-repeat;
}

.page05__container {
    background: #fff url(../images/page05__bg23.png) 100% 50% / cover no-repeat;
    align-items: flex-start;
}

.page05__h3 {
    font: 700 1.8rem / 1.5 'Montserrat', sans-serif;
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
    letter-spacing: .05em;
/*    color: #fff;*/
    font-style: italic;
    margin-top: 3rem;
}

#page06:before {
    content: '';
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    background: url(../images/page06__bg01.png) 50% / cover no-repeat;
}

.page06__container {
    justify-content: center;
    background: url(../images/page04__bg21.png) 50% / cover no-repeat;
}

.contact__item {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.page06__h3 {
    font: 300 2.4rem / 1.5 'Montserrat', sans-serif;
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
    letter-spacing: .05em;
/*    color: #fff;*/
    font-style: italic;
    margin-top: 2rem;
}

.contact__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.contact__icon {
    height: 6rem;
    width: 6rem;
}

.contact__image {
    height: 4.5rem;
    width: 4.5em;
}

.contact__pic {
    height: 55%;
    width: 55%;
}

.contact__h3 {
    font: 700 3.5rem / 1.5 'Montserrat', sans-serif;
    word-spacing: .5rem;
    letter-spacing: .05em;
    text-shadow: .025em .025em .05em rgba(0, 31, 62, .15);
    margin-top: .5rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contact__form_input {
    font: 400 1.6rem / 1 'Montserrat', sans-serif;
    margin-top: 1.5rem;
    font-style: italic;
    transition: all .3s ease-out;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
    border-radius: 2.5rem;
    background-color: #fff;
    padding: 1.5rem 1.75rem;
}

.contact__form_input:focus {
    box-shadow: 0 .5rem 2rem rgba(255, 140, 0, 0.75);
    color: #FF8C00;
}

.contact__form_textarea {
    resize: none;
    height: 15rem;
}

.contact__form_input::-webkit-input-placeholder {
    color: #474747;
}

.contact__form_input::-moz-placeholder {
    color: #474747;
    opacity: 1;
}

.contact__form_input:-ms-input-placeholder {
    color: #474747;
}

.contact__button {
    align-self: flex-start;
}

.footer {
    position: absolute;
    z-index: 5;
    right: 8rem;
    bottom: 4rem;
    font: 700 2rem / 1 'Josefin Sans', sans-serif;
    text-shadow: .05em .05em .1em rgba(0, 31, 62, 0.15);
    letter-spacing: .1em;
/*    color: #fff;*/
    text-transform: uppercase;
}

@media screen and (max-width : 1200px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 992px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 7px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 6px;
    }
}

@media screen and (max-width : 320px) {
    
    html {
        font-size: 5px;
    }
}