/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #171c2e, #1d1d1c);
    color: #fff;;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #ffa500;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #ffa500;
    border-radius: 1rem;
}

/*      Content      */

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background: linear-gradient(to top, #333233, #555555);
}

.header__logo_link {
    display: flex;
}

.header__logo_picture {
    height: 2.2rem;
}

.header__logo_image {
    height: 100%;
}

.page__wrapper {
    position: relative;
    padding: 4.5rem 1rem 1rem;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

.main {
    width: calc(100% - 46rem - .5rem);
    border-radius: .5rem;
    background: #303030;
}

.aside {
    width: calc(46rem - .5rem);
    border-radius: .5rem;
    background: #303030;
    overflow: hidden;
}

.match-tracker__title_h4 {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffa500;
    font: 700 1.6rem / .75 'Roboto', sans-serif;
    text-transform: uppercase;
}

.match-tracker__score {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.match-tracker__score_item {
    width: calc(50% - .5rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.match-tracker__score_item:last-of-type {
    justify-content: flex-start;
}

.match-tracker__score_number {
    position: relative;
    height: 3.5rem;
    min-width: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: rgb(0, 0, 0);
    font: 700 2.2rem / .75 'Roboto', sans-serif;
    overflow: hidden;
}

.match-tracker__score_item:first-of-type .match-tracker__score_number {
    padding-left: 1.3rem;
}

.match-tracker__score_item:last-of-type .match-tracker__score_number {
    padding-right: 1.3rem;
}

.match-tracker__score_number:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: .3rem;
}

.match-tracker__score_item:first-of-type .match-tracker__score_number:after {
    left: 0;
    background: #C0392B;
}


.match-tracker__score_item:last-of-type .match-tracker__score_number:after {
    right: 0;
    background: #2980b9;
}

.match-tracker__score_h3 {
    font: 700 1.5rem / .75 'Roboto', sans-serif;
    text-transform: uppercase;
}

.match-tracker__score_item:first-of-type .match-tracker__score_h3 {
    margin-right: 1.5rem;
}

.match-tracker__score_item:last-of-type .match-tracker__score_h3 {
    margin-left: 1.5rem;
    order: 2;
}

.match-tracker__field {
    position: relative;
    height: 32rem;
    width: 100%;
    margin-top: 1rem;
    display: flex !important;
}

.match-tracker__field:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(
        90deg,
        #006f00,
        #006f00 1.75rem,
        #006400 1.75rem,
        #006400 3.5rem
    );
}

.match-tracker__field:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(../images/soccer-field01.svg) 50% 50% / contain no-repeat;
}

.match-tracker__clock {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.match-tracker__clock_h3 {
    height: 2.75rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: rgba(0,0,0,.75);
    font: 700 1.4rem / .75 'Roboto', sans-serif;
    color: #ffa500;
}

.match-tracker__scene {
    position: absolute;
    top: 2.85rem;
    right: 3.25rem;
    bottom: 2.85rem;
    left: 3.25rem;
}

.match-tracker__scene_attack {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.match-tracker__attack_left {
    position: absolute;
    top: -25%;
    left: -50%;
    height: 150%;
    width: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(to right, rgba(255,255,255,0), #C0392B);
    opacity: 0;
    animation: attack-left 9s ease-in 10s forwards;
}

@keyframes attack-left {
    0% {
        left: -75%;
        opacity: .75;
    }
    25% {
        left: -50%;
    }
    50% {
        left: -25%;
    }
    75% {
        left: -10%;
    }
    99% {
        left: 0%;
        opacity: .75;
    }
    100% {
        left: 0%;
        opacity: 0;
    }
}

.match-tracker__attack_right {
    position: absolute;
    top: -25%;
    right: -75%;
    height: 150%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(to left, rgba(255,255,255,0), #2980b9);
    opacity: .75;
    animation: attack-right 8s ease-in 2s forwards;
}

@keyframes attack-right {
    0% {
        right: -75%;
        opacity: .75;
    }
    25% {
        right: -50%;
    }
    50% {
        right: -25%;
    }
    75% {
        right: -10%;
    }
    90% {
        right: -10%;
        opacity: .75;
    }
    100% {
        right: -10%;
        opacity: 0;
    }
}

.match-tracker__locations {
    position: absolute;
    z-index: 2;
    top: 2.85rem;
    right: 3.25rem;
    bottom: 2.85rem;
    left: 3.25rem;
    display: flex !important;
}

.match-tracker__locations_ball {
    position: absolute;
    top: 45%;
    right: 6.5%;
    height: 3rem;
    width: 3rem;
    animation: ball-move01 1s linear infinite, ball-move02 10s forwards linear 2s;
}

@keyframes ball-move01 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes ball-move02 {
    0% {
        top: 45%;
        right: 6.5%;
    }
    20% {
        top: 10%;
        right: 25%;
    }
    25% {
        top: 10%;
        right: 25%;
    }
    45% {
        top: 10%;
        right: 60%;
    }
    50% {
        top: 10%;
        right: 60%;
    }
    70% {
        top: 45%;
        right: 75%;
    }
    75% {
        top: 45%;
        right: 75%;
        opacity: 1;
    }
    80% {
        top: 45%;
        right: 75%;
        opacity: 0;
    }
    100% {
        top: 45%;
        right: 75%;
        opacity: 0;
    }
}

.match-tracker__locations_ball03 {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 45%;
    right: 6.5%;
    opacity: 0;
    animation: ball-move01 1s linear infinite, ball-move03 9s forwards linear 10s;
}

@keyframes ball-move03 {
    0% {
        top: 45%;
        left: 20%;
        opacity: 1;
    }
    20% {
        top: 75%;
        left: 25%;
    }
    25% {
        top: 75%;
        left: 25%;
    }
    45% {
        top: 75%;
        left: 60%;
    }
    50% {
        top: 75%;
        left: 60%;
    }
    70% {
        top: 45%;
        left: 75%;
    }
    75% {
        top: 45%;
        left: 75%;
        opacity: 1
    }
    95% {
        top: 45%;
        left: 100%;
    }
    99% {
        bottom: 45%;
        left: 100%;
        opacity: 1;
    }
    100% {
        bottom: 45%;
        left: 100%;
        opacity: 0;
    }
}

.match-tracker__goal {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-tracker__goal_content {
    position: relative;
    padding: 1.5rem;
    display: flex;
    opacity: 0;
    animation: goal-move01 4s forwards linear 19s;
}

.match-tracker__goal_content:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: rgba(0,0,0,.75);
    animation: goal-move02 2s infinite linear 20s;
}

.match-tracker__goal_info {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match-tracker__goal_headline {
    font: 900 2.5rem / .75 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #C0392B;
}

.match-tracker__goal_member {
    margin-top: 1rem;
    font: 400 1.2rem / .75 'Roboto', sans-serif;
    text-transform: uppercase;
}

.match-tracker__goal_time {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: #ffa500;
    font: 700 2rem / .75 'Roboto', sans-serif;
}

@keyframes goal-move01 {
    0% {
        opacity: 0;
        transform: translateX(150%)scale(0);
    }
    25% {
        opacity: 1;
        transform: translateX(0)scale(1);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes goal-move02 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.match-tracker__events {
    padding: 0 2rem;
    margin-top: 4rem;
    display: flex !important;
}

.match-tracker__events_scale {
    position: relative;
    height: 1.5rem;
    padding: 0 .4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    background: #000;
}

.match-tracker__events_time {
    height: .7rem;
    width: 35%;
    border-radius: .7rem;
    background: #006f00;
}

.match-tracker__events_item {
    position: absolute;
    height: 2rem;
    width: 2rem;
}

.match-tracker__events_item01 {
    top: -1rem;
    left: 25%;
}

.match-tracker__events_item02 {
    bottom: -1rem;
    left: 15%;
}

.match-tracker__events_icon {
    height: 100%;
    width: 100%;
}

.match-tracker__statistic {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.match-tracker__statistic_item {
    margin-top: .5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.match-tracker__statistic_h4 {
    font: 400 1.4rem / .75 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    opacity: .5;
}

.match-tracker__statistic_info {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.match-tracker__statistic_scale {
    height: 1.2rem;
    width: 70%;
    padding: 0 .4rem;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    background: #000;
}

.match-tracker__scale_left {
    height: .6rem;
    border-radius: .6rem;
    background: #C0392B;
}

.match-tracker__scale_right {
    height: .6rem;
    border-radius: .6rem;
    background: #2980b9;
}

.match-tracker__statistic_item:nth-of-type(1) .match-tracker__scale_left {
    width: calc(100% / 11 * 9 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(1) .match-tracker__scale_right {
    width: calc(100% / 11 * 2 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(2) .match-tracker__scale_left {
    width: calc(100% / 6 * 5 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(2) .match-tracker__scale_right {
    width: calc(100% / 6 * 1 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(3) .match-tracker__scale_left {
    width: calc(100% );
}

.match-tracker__statistic_item:nth-of-type(3) .match-tracker__scale_right {
    width: calc(100% / 3 * 0 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(4) .match-tracker__scale_left {
     width: calc(100% / 160 * 115 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(4) .match-tracker__scale_right {
    width: calc(100% / 160 * 45 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(5) .match-tracker__scale_left {
     width: calc(100% / 100 * 75 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(5) .match-tracker__scale_right {
    width: calc(100% / 100 * 25 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(6) .match-tracker__scale_left {
     width: calc(100% / 100 * 70 - .2rem);
}

.match-tracker__statistic_item:nth-of-type(6) .match-tracker__scale_right {
    width: calc(100% / 100 * 30 - .2rem);
}

.match-tracker__statistic_number {
    width: calc(15% - 1.5rem);
    font: 700 1.6rem / .75 'Roboto', sans-serif;
}

.match-tracker__statistic_item .match-tracker__statistic_number:first-of-type {
    text-align: right;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home-top {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home-top {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}