/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--color-first);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */


.main {
    background: #000 url(../images/main-bg02.png) 50% 50% / cover no-repeat;
    height: 960px;
}

.footer {
    position: relative;
}

.footer-subscribe {
    position: relative;
    z-index: 100;
    margin-top: -120px;
}

.footer-subscribe__container,
.footer__top_container,
.footer__bottom_container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-subscribe__content {
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #3FAB43;
    border-radius: 3px;
    box-shadow: 0 60px 60px rgba(0,0,0,0.1);
    height: 240px;
}

.footer-subscribe__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 20px;
}

.footer-subscribe__h2 {
    font: 700 36px / .75 'Poppins', sans-serif;
    color: #fff;
}

.footer-subscribe__p {
    font: 300 26px / .75 'Poppins', sans-serif;
}

.button {
    background: #fff;
    border-radius: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 20px / .75 'Poppins', sans-serif;
    overflow: hidden;
    padding: 22px 45px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    color: #3FAB43;
    height: 100%;
    margin-left: 30px;
}

.button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(255,255,255,.25);
}

.footer__top {
}

.footer__top_container {
    padding: 75px 0;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 60px;
    font: 600 26px / .75 'Poppins', sans-serif;
    color: #000;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__data_list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__data_item {
    display: flex;
    align-items: center;
    
}

.footer__data_item:not(:first-of-type) {
    margin-top: 40px;
}

.footer__data_link {
    display: flex;
    align-items: center;
}

.footer__data_link:not(:first-of-type) {
    margin-left: 75px;
}

.footer__p,
.footer__bottom_h4 {
    display: flex;
    align-items: center;
    font: 400 19px / .75 'Poppins', sans-serif;
    color: #000;
    transition: all .3s ease-out;
}

.footer a:hover .footer__p {
    color: #3FAB43;
}

.footer__link_pic {
    display: flex !important;
    height: 25px;
    width: 25px;
    margin-right: 25px;
    fill: #3FAB43;
}

.footer__bottom {
    padding: 40px 0;
    border-top: .1px solid rgb(201, 201, 201);
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    transition: all .3s ease;
}

.footer__logo:hover {
    transform: scale(1.15);
}

.footer__logo_image {
    height: 50px;
    
}

.footer__logo {
}

.footer__bottom_link {
    color: #3FAB43;
    transition: all .3s ease;
}

.footer__bottom_link:hover {
    transform: translateY(-5px);
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home-top {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home-top {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}