/*   my normalize   */


html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #ff0000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #ff0000, #ab0101);
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: #F5F5F5 url(../images/pattern03.png) 50% 50% / contain repeat;*/
    background-size: 60rem 60rem;
}

.main {
    position: relative;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

section {
    position: relative;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.button {
    z-index: 2;
    font: 700 1.6rem / 1 'Nunito Sans', sans-serif;
    color: #fff;
    margin-top: 2.25rem;
    align-self: flex-start;
    text-transform: uppercase;
    padding: .75em 1.5em;
    transition: all .3s ease-out;
    background: #00BFA5;
    color: #fff;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 0 3rem 0rem rgba(0,0,0,0.05);
}

.button:hover {
    background: #00796B;
}

.m-t2 {
    margin-top: 2rem;
}



.shadow {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}



.shadow02 {
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.15));
}

.shadow-hover:hover {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 .5rem rgba(0,0,0,.075), 0 .5rem 1rem rgba(0,0,0,.15);
}

.header__top {
    background: #fff;
}

.header__top_container {
    height: 10rem;
    align-items: center;
    justify-content: space-between;
}

.logo__headline {
    flex-shrink: 0;
    margin-right: 4rem;
}

.logo__link {
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    transition: all .3s ease-out;
    position: relative;
    align-items: center;
}

.logo__image {
    height: 6rem;
    -webkit-filter: drop-shadow(.1rem .1rem .2rem rgba(0,0,0,.25));
}

.logo__text {
    font: 700 6rem / 0.8 'Unica One', cursive;
    text-transform: uppercase;
    color: #000;
    margin-left: 1rem;
    -webkit-filter: drop-shadow(.1rem .1rem .2rem rgba(0,0,0,.25));
    display: flex;
}

.logo__text-left {
    color: #ab0101;
    background: linear-gradient(to bottom, #c20000, #c20000 33%, #ab0101 33%, #ab0101 66%, #930000 66%, #930000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all .3s ease-out;
}

.logo__text-right {
    color: #ab0101;
    background: linear-gradient(to bottom, #c20000, #c20000 33%, #ab0101 33%, #ab0101 66%, #930000 66%, #930000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: grayscale(100%);
    transition: all .3s ease-out;
}

.logo__link:hover .logo__text-left {
    filter: grayscale(100%);
}

.logo__link:hover .logo__text-right {
    filter: grayscale(0%);
}

.logo__headline {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
}

.header__panel {
    display: flex;
    height: 100%;
    flex-shrink: 0;
}

.header__panel_item {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    padding-top: .25rem;
    padding-left: 4rem;
}

.header__panel_h4 {
    font: 900 4.5rem / .8 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    margin-right: 1.5rem;
    background: linear-gradient(to bottom, #c20000, #c20000 33%, #ab0101 33%, #ab0101 66%, #930000 66%, #930000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header__panel_p {
    font: 700 1.65rem / 1.2 'Nunito Sans', sans-serif;
    padding-bottom: .4rem;
}


.header__form {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.header__form_input {
    border: .1rem solid #acacac;
    height: 40%;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    font: 300 1.5rem / .8 'Nunito Sans', sans-serif;
    color: #000;
    transition: all .3s ease-out;
    border-right: none;
}

.header__form_input:focus {
    border-color: #c20000;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.header__form_input::-webkit-input-placeholder {
    color: #737373;
}

.header__form_input::-moz-placeholder {
    color: #737373;
    opacity: 1;
}

.header__form_input:-ms-input-placeholder {
    color: #737373;
}

.header__form_button {
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease-out;
    white-space: nowrap;
    padding: 0 2rem;
    height: 4rem;
    text-transform: uppercase;
    font: 700 1.4rem / .8 'Nunito Sans', sans-serif;
    
/*    background: #ff0000;*/
    color: #fff;
    position: relative;
    color: #c20000;
    border: .1rem solid #c20000;
}

.header__form_button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ab0101);
    opacity: 0;
    transition: all .3s ease-out;
}

.header__form_button:hover:before {
    opacity: 1;
}

.header__form_button:hover {
    color: #fff;
}

.header__bottom {
    background: #000;
    height: 4.5rem;
    display: flex;
}


.header__nav {
    flex: 1 0 auto;
    display: flex;
}

.header__menu {
    height: 100%;
    flex: 1 0 auto;
    position: relative;
}

.header__menu:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: .1rem;
    margin: auto;
    background: #484848;
}

.header__menu_item {
    flex: 1 0 auto;
}

.header__menu_link {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    font: 600 1.5rem / .8 'Nunito Sans', sans-serif;
    letter-spacing: .05em;
    color: #fff;
    transition: all .3s ease-out;
    text-transform: uppercase;
}

.header__menu_link:hover {
/*    color: #000;*/
/*    fill: #000;*/
}

.header__nav .header__menu_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: .1rem;
    margin: auto;
    background: #484848;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: -.1rem;
    height: 100%;
    max-width: none;
    width: calc(100% + .1rem);
    margin: auto;
    background: #c20000;
    transition: all .3s ease-out;
    opacity: 0;
    -webkit-filter: drop-shadow(0rem 0.5rem 1rem rgba(194, 0, 0, 0.3));
}

.header__menu_link:hover:after {
    opacity: 1;
}

.header__menu_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.text-uppercase {
   text-transform: uppercase;
}

.color-red {
    color: #ff0000;
}

.main {
    padding-top: 16.5rem;
}

.banner {
    flex-shrink: 0;
}

.banner__content {
    padding: 2rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: repeating-linear-gradient(
        -45deg,
        #c20000,
        #c20000 .75rem,
        #930000 .75rem,
        #930000 1.5rem
    );
}

.banner__content:before {
    content: '';
    position: absolute;
    top: 1rem;
    right: 0rem;
    bottom: 1rem;
    left: 0rem;
    background-color: #c20000;
}

.banner__h3 {
    font: 400 1.7rem / 1.4 'Nunito Sans', sans-serif;
    text-align: center;
    text-shadow: .05em .05em .1em #930000;
    z-index: 2;
    margin-top: .75rem;
    color: #fff;
}


.promition {
    height: calc(100vh - 33.5rem);
    display: flex;
    flex-direction: column;
}

.promition__container {
    height: 100%;
}

.promition__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 6.5rem 6rem 6rem;
    background: #fff;
    justify-content: space-between;
    position: relative;
    background: url(../images/home-bg03.png) 100% 50% / cover no-repeat;
    align-items: flex-start;
}


.promition__content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.promition__banner01_title {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.promition__banner_h2 {
    font: 700 9rem / .7 'Unica One', cursive;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .1em rgba(92, 47, 16, 0.5);
}

.promition__banner01_p {
    font: 300 2rem / 1.4 'Nunito Sans', sans-serif;
    z-index: 2;
    color: #fff;
}

.promition__button {
    transition: all .3s ease-out;
    white-space: nowrap;
    padding: 0 6rem;
    height: 4.5rem;
    text-transform: uppercase;
    font: 700 1.8rem / .8 'Nunito Sans', sans-serif;
    
/*    background: #ff0000;*/
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}

.promition__button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ab0101);
    transition: all .3s ease-out;
}

.promition__button:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #ff0000, #ab0101);
    opacity: 0;
    transition: all .3s ease-out;
}

.promition__button:hover:after {
    opacity: 1;
}

.promition__banner_h2:not(:first-of-type) {
    margin-top: 2.5rem;
}

.brands {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.brands__content {
    display: flex;
    align-items: center;
    background: #fff;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands__content_item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    height: 13rem;
}

.brands__content_item:not(:first-of-type) {
    margin-left: 2rem;
}

.brands__content_link {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    transition: all .3s ease-out;
    
}

.brands__content_link:hover {
    transform: scale(1.15);
    
}

.brands__content_h4 {
    font: 800 1.35rem / .8 'Nunito Sans', sans-serif;
    margin-top: 1.5rem;
}

.brands__content_icon {
    height: 6rem;
    width: 6rem;
    fill: url(#Gradient1);
}

.brands__content_image:hover {
}

.brands__content_image {
    height: 3.5rem;
    transition: all .3s ease-out;
    position: relative;
    filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.brands__content_link:hover:before {
    opacity: 1;
    
}

.advantages__list_item:hover .advantages__list_icon {
    transform: scale(1.2);
}


.advantages__list_icon {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 3rem;
    fill: #000;
    transition: all .3s ease-out;
/*    background: linear-gradient(to bottom, #20be55, #1b833f);*/
}

.categories__data {
    display: flex;
    width: 100%;
}

.categories__wrapper {
    display: flex;
    flex-direction: column;
}

.categories__title {
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-headline {
    font: 700 5rem / .75 'Unica One', cursive;
    text-transform: uppercase;
    display: flex;
}

.categories__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ededed;
    width: 100%;
}


.categories__content_item {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fff;
    transition: all .3s ease-out;
    text-align: center;
    display: flex;
}

.categories__content_data {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-out;
    position: relative;
    padding: 3rem 2rem;
    flex: 1 0 auto;
}

.categories__content_data:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .1rem;
    background: #eaeaea;
    transition: all .3s ease-out;
}

.categories__content_item:first-of-type .categories__content_data:before {
    background: transparent;
    
}

.categories__content_data:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: .1rem;
    background: #eaeaea;
    transition: all .3s ease-out;
}

.categories__content_item:last-of-type .categories__content_data:after {
    background: transparent;
}

.categories__content_item:hover .categories__content_data:before,
.categories__content_item:hover .categories__content_data:after {
    background: transparent;
    
}

.categories__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 2rem 2rem rgba(170, 1, 1, 0.1);
}

.categories__item_title {
    padding: 4rem 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.categories__item_title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: url(../images/logo-white03.png) 0% 50% / contain no-repeat;
    opacity: 0.15;
}

.categories__content_item:nth-of-type(1) .categories__item_title:before {
    opacity: 0.25;
}

.categories__content_item:nth-of-type(2) .categories__item_title:before {
    opacity: 0.225;
}

.categories__content_item:nth-of-type(3) .categories__item_title:before {
    opacity: 0.2;
}

.categories__content_item:nth-of-type(4) .categories__item_title:before {
    opacity: 0.175;
}

.categories__content_item:nth-of-type(5) .categories__item_title:before {
    opacity: 0.15;
}

.categories__content_item:nth-of-type(1) .categories__item_title {
    background: #ff0000;
}

.categories__content_item:nth-of-type(2) .categories__item_title {
    background: #c20000;
}

.categories__content_item:nth-of-type(3) .categories__item_title {
    background: #ab0101;
}

.categories__content_item:nth-of-type(4) .categories__item_title {
    background: #930000;
}

.categories__content_item:nth-of-type(5) .categories__item_title {
    background: #760000;
}

.categories__title_currency {
    font: 800 4rem / .75 'Nunito Sans', sans-serif;
    margin-right: .5rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: .35rem;
}

.categories__title_number {
    font: 800 10rem / .75 'Nunito Sans', sans-serif;
    
}

.categories__title_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: .5rem;
    padding-bottom: .35rem;
}

.categories__title_comma {
    font: 800 6rem / .75 'Nunito Sans', sans-serif;
}

.categories__title_period {
    font: 400 2rem / .75 'Nunito Sans', sans-serif;
    margin-top: 1rem;
}

.categories__content_h4 {
    font: 700 4rem / 1 'Nunito Sans', sans-serif;
    text-align: center;
    transition: all .3s ease-out;
    text-transform: uppercase;
}

.categories__content_item:nth-of-type(1) .categories__content_h4 {
    color: #ff0000;
}

.categories__content_item:nth-of-type(2) .categories__content_h4 {
    color: #c20000;
}

.categories__content_item:nth-of-type(3) .categories__content_h4 {
    color: #ab0101;
}

.categories__content_item:nth-of-type(4) .categories__content_h4 {
    color: #930000;
}

.categories__content_item:nth-of-type(5) .categories__content_h4 {
    color: #760000;
}

.categories__content_list {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
}

.categories__list_item {
    margin-top: 2rem;
    font: 300 1.7rem / .8 'Nunito Sans', sans-serif;
    transition: all .3s ease-out;
}

.categories__content_item:nth-of-type(1) .categories__list_item:hover {
    color: #ff0000;
}

.categories__content_item:nth-of-type(2) .categories__list_item:hover {
    color: #c20000;
}

.categories__content_item:nth-of-type(3) .categories__list_item:hover {
    color: #ab0101;
}

.categories__content_item:nth-of-type(4) .categories__list_item:hover {
    color: #930000;
}

.categories__content_item:nth-of-type(5) .categories__list_item:hover {
    color: #760000;
}

.categories__content_button {
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease-out;
    white-space: nowrap;
    padding: 0 4rem;
    height: 4rem;
    text-transform: uppercase;
    font: 700 1.5rem / .8 'Nunito Sans', sans-serif;
    margin-top: 2rem;
    display: flex;
    align-items: center;
/*    background: #ff0000;*/
    color: #fff;
    position: relative;
    color: #c20000;
    border: .15rem solid #c20000;
    justify-content: center;
    transform: translate3d(0,0,0);
}

.categories__content_item:nth-of-type(1) .categories__content_button {
    color: #ff0000;
    border-color: #ff0000;
}

.categories__content_item:nth-of-type(2) .categories__content_button {
    color: #c20000;
    border-color: #c20000;
}

.categories__content_item:nth-of-type(3) .categories__content_button {
    color: #ab0101;
    border-color: #ab0101;
}

.categories__content_item:nth-of-type(4) .categories__content_button {
    color: #930000;
    border-color: #930000;
}

.categories__content_item:nth-of-type(5) .categories__content_button {
    color: #760000;
    border-color: #760000;
}

.categories__content_button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ab0101);
    opacity: 0;
    transition: all .3s ease-out;
}

.categories__content_button:hover:before {
    opacity: 1;
}

.categories__content_item:nth-of-type(n) .categories__content_button:hover {
    color: #fff;
}

.benefits__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefits__list_item {
    width: calc(100% / 3 - 1.33rem);
    padding: 2rem;
    display: flex;
    align-items: center;
}

.benefits__list_icon {
    height: 6rem;
    width: 6rem;
    fill: url(#Gradient1);
    margin-right: 2rem;
}

.benefits__list_h4 {
    font: 800 1.9rem / 0.75 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
}

.testimonials__content {
    display: flex;
    justify-content: space-between;
}

.testimonials__content_item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    transition: all .3s ease-out;
}

.testimonials__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 2rem 2rem rgba(170, 1, 1, 0.1);
}

.testimonials__content_info:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .1rem;
    background: #eaeaea;
    transition: all .3s ease-out;
}

.testimonials__content_item:first-of-type .testimonials__content_info:before {
    background: transparent;
    
}

.testimonials__content_info:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: .1rem;
    background: #eaeaea;
    transition: all .3s ease-out;
}

.testimonials__content_item:last-of-type .testimonials__content_info:after {
    background: transparent;
}

.testimonials__content_item:hover .testimonials__content_info:before,
.testimonials__content_item:hover .testimonials__content_info:after {
    background: transparent;
    
}

.testimonials__content_blockquote {
    padding: 4rem;
    font: 400 2rem / 1.4 'Nunito Sans', sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 9rem;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-out;
    position: relative;
}

.testimonials__content_blockquote:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, #ff0000, #ab0101);
    transition: all .3s ease-out;
}

.testimonials__blockquote_top {
    position: absolute;
    z-index: -1;
    top: -2rem;
    right: 0;
    height: 15rem;
    width: 15rem;
    fill: #ab0101;
    opacity: 1;
}

.testimonials__content_info {
    padding: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 2.5rem;
    transform: translate3d(0,0,0);
}

.testimonials__content_image {
    position: absolute;
    top: -6rem;
    right: 0;
    left: 0;
    margin: auto;
    height: 10rem;
    width: 10rem;
    transition: all .3s ease-out;
    filter: grayscale(100%);
    box-shadow: 0rem 0rem 2rem 0 rgba(0,0,0,.2);
}

.testimonials__content_item:hover .testimonials__content_image {
    filter: grayscale(0%);
}

.testimonials__content_h4 {
    font: 700 2rem / 0.75 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}

.testimonials__content_p {
    font: 300 1.6rem / 1.4 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    color: #616161;
    margin-top: 1rem;
}

.systems {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.systems__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 10rem;
    width: 100%;
    padding: 0 5%;
}

.systems__content_item {
    display: flex;
    justify-content: center;
    position: relative;
}

.systems__content_link {
    display: flex;
    justify-content: center;
    filter: grayscale(100%)drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
    transition: all .3s ease-out;
    
}

.systems__content_link:hover {
    filter: grayscale(0%)drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.systems__content_image {
    height: 4rem;
    transition: all .3s ease-out;
    position: relative;
    
}

.footer {
    position: relative;
    
    z-index: 2;
}

.footer__advantages_list {
    display: flex;
    padding: 3rem 2rem;
}

.footer__advantages_item {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    flex: 1 0 auto;
}

.footer__advantages_image {
    position: relative;
    margin-right: 2.5rem;
    
}

.footer__advantages_item:nth-of-type(1) .footer__advantages_image:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: .35rem;
    left: .35rem;
    margin: auto;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    background: #00ff00;
}

.footer__advantages_item:nth-of-type(2) .footer__advantages_image:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0rem;
    left: 0rem;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 65%;
    width: 65%;
    border-radius: 50%;
    background: #00ff00;
}

.footer__advantages_item:nth-of-type(3) .footer__advantages_image:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0rem;
    left: 0rem;
    right: 0;
    margin: auto;
    height: 65%;
    width: 65%;
    border-radius: 50%;
    background: #00ff00;
}

.footer__advantages_icon {
    height: 7rem;
    width: 7rem;
    position: relative;
}

.footer__advantages_h4 {
    font: 900 2.2rem / 1 'Nunito Sans', sans-serif;
}

.footer__advantages_p {
    font: 300 2.2rem / 1 'Nunito Sans', sans-serif;
    margin-top: .5rem;
}

.footer__top {
    background: #161616;
}

.footer__top_container {
    padding: 6rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 4rem / .75 'Unica One', cursive;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__pay {
    display: flex;
}

.footer__pay_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__pay_link {
    filter: grayscale(100%)brightness(300%);
    transition: all .3s ease-out;
}

.footer__pay_link:hover {
    filter: grayscale(0%)brightness(100%);
}

.footer__pay_image {
    height: 3rem;
}



.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
    fill: #fff;
}

.footer__item:first-of-type .footer__p {
    width: 38rem;
    line-height: 1.75
}

.footer__social {
    display: flex;
    margin-top: 1.25rem;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: all .3s ease-out;
    
/*    fill: url(#Gradient1);*/
}

.footer__social_link:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0.15rem solid #fff;
}

.footer__social_link:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ab0101);
    -webkit-filter: drop-shadow(0rem 0.5rem 1rem rgba(194, 0, 0, 0.3));
    transition: all .3s ease-out;
    opacity: 0;
}

.footer__social_link:hover:after {
    opacity: 1;
}

.footer__social_pic {
    height: 1.9rem;
    width: 1.9rem;
    z-index: 3;
}

.footer__form {
    margin-bottom: .8rem;
    display: flex;
    margin-top: 1.25rem;
}

.footer__form_input {
    height: 4rem;
    width: 23rem;
    padding: 0 4rem 0 1.75rem;
    border: .15rem solid #fff;
    border-right: none;
    font: 400 1.6rem / 1 'Nunito Sans', sans-serif;
    color: #ff0000;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #fff;
}

.footer__form_input:focus {
    border-color: #ff0000;
    border-right: none;
}

.footer__form_button {
    height: 4rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 0;
    background: none;
    padding: 0 3rem;
    position: relative;
    
}

.footer__form_button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0.15rem solid #fff;
}

.footer__form_button:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #ff0000, #ab0101);
    -webkit-filter: drop-shadow(0rem 0.5rem 1rem rgba(194, 0, 0, 0.3));
    transition: all .3s ease-out;
    opacity: 0;
}

.footer__form_button:hover:after {
    opacity: 1;
}


.footer__contact_link {
    transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.footer__contact_link:hover {
    color: #ff0000;
    fill: #ff0000;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
}

.footer__bottom {
    padding: 3rem 0;
    background: #000;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_link {
    position: relative;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__bottom_link:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background-color: #F5F5F5;
    opacity: .25;
}

.footer__bottom_link:hover {
    color: #ff0000;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}