/*      Affiliates Page      */

.affiliates-page-what__list_item {
    position: relative;
    height: calc(50% - 1rem);
    width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    background: #b5b5b5;
}

.affiliates-page-what__list_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #b5b5b5;
    font: 400 1.5rem / 10 'Montserrat', sans-serif;
    text-align: center;
}

.affiliates-page-what__list_info {
    z-index: 2;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    text-align: center;
    transition: all .3s ease-out;
}

.affiliates-page-what__list_item:hover .affiliates-page-what__list_info {
    flex: 1 0 auto;
}

.affiliates-page-what__list_h4 {
    font: 700 1.8rem / 1.25 'Montserrat', sans-serif;
}

.affiliates-page-what__list_p {
    height: 0;
    transform: scale(0);
    transform-origin: 50% 100%;
    flex: 0 1 auto;
    font: 400 1.5rem / 1.25 'Montserrat', sans-serif;
}

.affiliates-page-what__list_item:hover .affiliates-page-what__list_p {
    height: auto;
    margin-top: 1.25rem;
    transform: scale(1);
}

.affiliates-page-advantages {
    background: #252525 url(../images/numbers-bg.png) 50% 50% / cover no-repeat;
}

.affiliates-page-advantages_h3 {
    font: 400 4.5rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
}

.affiliates-page-advantages__list {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.affiliates-page-advantages__list_item {
    width: calc(100% / 4 - 1.5rem);
    margin-top: 2rem;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
}

.affiliates-page-advantages__list_image {
    height: 12rem;
    width: 12rem;
    transform: rotate(45deg);
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    background: #000;
    fill: #D9B854;
}

.affiliates-page-advantages__list_pic {
    height: 7rem;
    width: 7rem;
    transform: rotate(-45deg);
}

.affiliates-page-advantages__list_h4 {
    margin-top: 2.5rem;
    font: 700 2.2rem / 1.25 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    text-transform: uppercase;    
}

.affiliates-page-advantages__list_p {
    margin-top: 2rem;
    font: 400 1.6rem / 1.5 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
}