/*   Fonts   */

@font-face {
    font-family: 'Good Times';
    src: url('../fonts/goodtimes/goodtimes.woff') format('woff'),
    url('../fonts/goodtimes/goodtimes.woff2') format('woff2'),
    url('../fonts/goodtimes/goodtimes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #D9B854;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 10rem 0;
    background: #fff;
}

.anchor {
    position: absolute;
    top: -5rem;
}

.content {
    width: calc(50% - 3rem);
    display: flex;
    flex-shrink: 0;
}

.content-row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.content-column {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.h2-headline {
    font: 600 2.4rem / 1 'Good Times', sans-serif;
    letter-spacing: .2em;
}

.h3-headline {
    margin: 1rem 0 2rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 5rem / 1 'Good Times', sans-serif;
    color: #D9B854;
}

.h4-headline {
    margin-bottom: 2rem;
    align-self: flex-start;
    font: 600 2rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #aaa;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.button {
    position: relative;
    height: 4.5rem;
    padding: 0 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid #D9B854;
    border-image: url(../images/gold01.png) 10%;
}

.button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #D9B854 url(../images/gold01.png) 50% 50% / cover no-repeat;
    opacity: 0;
    transition: all .3s ease-out;
}

.button:hover:before {
    opacity: 1;
}

.button__text {
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 700 1.5rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #D9B854;
    transition: all .3s ease-out;
}

.button:hover .button__text {
    background: #000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #fff;
}

.button-margin {
    margin-top: 3.5rem;
}

.page-title {
    margin-top: 9rem;
    padding: 7rem 0 7.5rem;
    background: url(../images/hedge-fund-bg.png) 50% 50% / cover no-repeat;
}

.page-title__container {
    align-items: center;
}

.page-title__h2 {
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 5rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
    color: #fff;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    background: #000;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
}

.header__container {
    height: 9rem;
    justify-content: space-between;
    align-items: center;
}

.header__logo_link {
    display: flex;
    align-items: center;
}

.header__logo_image {
    height: 6rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 2rem / 1 'Good Times', sans-serif;
    text-align: center;
    color: #D9B854;
}

.header__nav {
    height: 100%;
}

.header__menu {
    display: flex;
    height: 100%;
}

.header__menu_item:not(:last-of-type) {
    margin-right: 3.5rem;
}

.header__menu_link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font: 600 1.05rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    transition: all .3s ease-out;
}

.header__menu_link:hover {
    color: #D9B854;
}

.header__menu_link-active {
    color: #D9B854;
}

.header__menu_link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #D9B854 url(../images/gold01.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
}

.header__menu_link:hover:before {
    top: 2.75rem;
    height: .1rem;
}

.header__menu_link:hover:after {
    bottom: 2.75rem;
    height: .1rem;
}

.home {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.home__container {
    padding: 9rem 2rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home__h2 {
    font: 400 7rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    color: #fff;
}

.home__h3 {
    margin-top: 1.25rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 4.275rem / 1 'Good Times', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    color: #D9B854;
}

.home__p {
    width: 63.5%;
    margin-top: 5rem;
    font: 300 2rem / 1.5 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: justify;
    text-align-last: justify;
    color: #fff;
}

.home__button {
    margin-top: 5rem;
}

.home__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.home__info_item:not(:first-of-type) {
    margin-top: 1.5rem;
}

.home__info_link {
    display: flex;
    align-items: center;
    font: 300 1.8rem / 1 'Montserrat', sans-serif;
    white-space: nowrap;
    color: #fff;
}

.home__info_button {
    height: 3rem;
    width: 3rem;
    margin-left: 1.5rem;
    padding: 0;
    font: 400 2rem / 1 'Montserrat', sans-serif;
}

.home__info_button .button__text {
    font: 600 2.4rem / 1 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.home__info_text {
    opacity: .65;
    transition: all .3s ease-out;
}

.home__info_link:hover .home__info_text {
    opacity: 1;
}

.home__info_link:hover .button:before {
    opacity: 1;
}

.home__info_link:hover .button__text {
    background: #000;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home__bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #272727 url(../images/home-bg.png) 50% 50% / cover no-repeat;
}

.home__bg_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(55%)contrast(150%)grayscale(100);
}

.about__list_item {
    position: relative;
    height: calc(100% / 2 - 1rem);
    width: calc(100% / 2 - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.1);
    background: #b5b5b5;
}

.about__list_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #b5b5b5;
    font: 400 1.5rem / 10 'Montserrat', sans-serif;
    text-align: center;
}

.about__list_info {
    z-index: 2;
    padding: 1.5rem 3rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    transition: all .3s ease-out;
}

.about__list_item:hover .about__list_info {
    flex: 1 0 auto;
}

.about__list_h4 {
    font: 700 1.8rem / 1.25 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    text-align: center;
}

.about__list_p {
    height: 0;
    flex: 0 1 auto;
    transform: scale(0);
    transform-origin: 50% 100%;
    font: 400 1.5rem / 1.25 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    text-align: center;
}

.about__list_item:hover .about__list_p {
    height: auto;
    margin-top: 1.25rem;
    transform: scale(1);
}

.numbers {
    background: #000 url(../images/numbers-bg.png) 50% 50% / cover no-repeat;
}

.numbers__list_item {
    height: calc(100% / 4 - 1.5rem);
    padding: 3rem;
    display: flex;
    align-items: center;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
}

.numbers__list_item:nth-of-type(2n) {
    background: #D9B854 url(../images/gold01.png) 50% 50% / cover no-repeat;
}

.numbers__list_quantity {
    margin-right: 3rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers__quantity_top {
    font: 700 6.25rem / 1 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
}

.numbers__quantity_bottom {
    margin-top: .25rem;
    font: 700 1.5rem / 1 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    letter-spacing: .5em;
    text-transform: uppercase;
}

.numbers__list_info {
    padding-top: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numbers__list_h4 {
    font: 700 2.75rem / 1 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
}

.numbers__list_p {
    margin-top: .75rem;
    font: 400 1.5rem / 1.4 'Montserrat', sans-serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
}

.news__content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news__content_item {
    height: 40rem;
    width: calc(100% / 2 - 1rem);
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.news__content_article {
    height: 100%;
}

.news__content_article01 {
    width: 100%;
}

.news__content_article02 {
    width: calc(100% / 2 - 1rem);
}

.news__content_link {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.news__content_article01 .news__content_info {
    background: rgba(0,0,0,.75);
    color: #fff;
}

.news__content_article02 .news__content_info {
    background: #fff;
}

.news__content_article01 .news__content_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.news__content_image {
    flex: 1 0 auto;
    background: #b5b5b5;
    font: 400 2rem / 10 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
}

.news__content_link img {
    transition: all .3s ease-out;
}

.news__content_link:hover img {
    transform: scale(1.1);
}

.news__content_info {
    z-index: 2;
    padding: 2rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

.news__content_h4 {
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 700 1.6rem / 1.4 'Montserrat', sans-serif;
    color: #D9B854;
}

.news__content_p {
    margin-top: 1rem;
    font: 400 1.4rem / 1.4 'Montserrat', sans-serif;
}

.news__button {
    margin-top: 4rem;
    align-self: center;
}

.footer {
    position: relative;
    background: #1f1f1f;
}

.footer__top_container {
    padding: 6rem 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 900 3rem / 1 'Good Times', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.6rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 32rem;
}

.footer__data_link {
    display: flex;
    align-items: center;
    fill: #fff;
}

.footer__data_link:hover,
.footer__data_link:hover .footer__p {
    color: #D9B854;
    fill: #D9B854;
}

.footer__data_link .footer__p {
    padding-top: .25rem;
}

.footer__data_pic {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    transition: all .3s ease-out;
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid #D9B854;
    border-image: url(../images/gold01.png) 10%;
    fill: #D9B854;
    transition: all .3s ease-out;
}

.footer__social_link:hover {
    fill: #000;
}

.footer__social_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/gold01.png) 50% 50% / cover no-repeat;
    opacity: 0;
    transition: all .3s ease-out;
}

.footer__social_link:hover:before {
    opacity: 1;
}

.footer__social_pic {
    height: 1.8rem;
    width: 1.8rem;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4rem;
    width: 21rem;
    padding: 0 1.5rem;
    border: .2rem solid #fff;
    border-right: none;
    font: 400 1.5rem / 1 'Montserrat', sans-serif;
    color: #D9B854;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border-color: #D9B854;
}

.footer__form_button {
    height: 4rem;
}

.footer__bottom {
    padding: 3rem 0;
    background: #000;
}

.footer__bottom_container {
    align-items: center;
}

.footer__info {
    display: flex;
}

.footer__info_item {
    position: relative;
}

.footer__info_item:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__info_item:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background: #fff;
    opacity: .25;
}

.footer__bottom_h4 {
    font: 400 1.6rem / 1 'Montserrat', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home,
    .home__bg {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home,
    .home__bg {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}