/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #3ba200;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #3ba200;
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 15rem 0;
    background: #fff;
}

.anchor {
    position: absolute;
    top: 0rem;
}

.anchor02 {
    position: absolute;
    top: -20rem;
}

.anchor03 {
    position: absolute;
    top: -10rem;
}

.content {
    width: calc(50% - 3rem);
    display: flex;
    flex-shrink: 0;
}

.content-row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.content-column {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.h3-headline {
    margin: .75rem 0;
    font: 800 4rem / 1 'Work Sans', sans-serif;
    color: #030460;
    color: #89B75C;
    text-transform: uppercase;
}

.h3-headline-blue {
/*    color: #030460;*/
}

.p-text {
    margin-top: 2rem;
    font: 400 1.8rem / 1.5 'Work Sans', sans-serif;
    text-align: justify;
    color: #4a4a4a;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.button {
    position: relative;
    height: 5.5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    background: #3ba200;
}

.button:hover {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.1);
}

.button-margin {
    margin-top: 3.5rem;
}

.page-title {
    position: fixed;
    top: 9rem;
    left: 0;
    right: 0;
    background: url(../images/page-top-bg03.png) 50% 50% / cover no-repeat;
}

.page-title__container {
    align-items: center;
}

.page-title__h2 {
    background: url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 900 5rem / 1 'Work Sans', sans-serif;;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .75rem 1.5rem rgba(0,0,0,.05);
}


.header__container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 22.5%;
    height: 100%;
    width: 100vw;
    max-width: none;
    background: #fff;
}

.header__container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 77.5%;
    height: 100%;
    width: 100vw;
    max-width: none;
    background: #000;
}

.header__container {
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header__logo_link {
    display: flex;
    align-items: center;
}

.header__logo_image {
    height: 7rem;
    background: #D9B854 url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 2rem / 1 'Work Sans', sans-serif;;
    text-align: center;
    color: #D9B854;
    -webkit-filter: drop-shadow(.1em .1em .2em rgba(0,0,0,.15));
}

.header__logo_text {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.header__logo_top {
    background: #D9B854 url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 900 3.5rem / 1 'Work Sans', sans-serif;;
    text-align: center;
    color: #D9B854;
    letter-spacing: .05em
}

.header__logo_bottom {
    background: #D9B854 url(../images/stone02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 700 1rem / 1 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #D9B854;
    letter-spacing: .25em
}

.header__nav {
    height: 100%;
}

.header__menu {
    display: flex;
    height: 100%;
}

.header__menu_item:not(:last-of-type) {
    margin-right: 5rem;
}

.header__menu_link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font: 500 1.3rem / 1 'Work Sans', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s ease-out;
}

.header__menu_link:hover {
    color: #3ba200;
}

.header__menu_link:before {
    content: '';
    position: absolute;
    height: 0rem;
    width: 100%;
    left: 0;
    top: 0;
    background: #3ba200;
    transition: all .3s ease-out;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    height: 0rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #3ba200;
    transition: all .3s ease-out;
}

.header__menu_link:hover:before {
    height: .175rem;
    top: 2rem;
}

.header__menu_link:hover:after {
    height: .175rem;
    bottom: 2rem;
}

.header__call {
    position: relative;
    z-index: 5;
    width: calc(22.5% - 1rem);
/*    background: rgba(39, 22, 19, 0.37);*/
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.header__call_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__call_top {
    font: 400 1.6rem / 1 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .125em;
    word-spacing: .25em;
    transition: all .3s ease-out;
}

.header__call_bottom {
    font: 800 3.1rem / 1 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top: .5rem;
    color: #3ba200;
    transition: all .3s ease-out;
}

.header__call_link:hover .header__call_top {
    color: #3ba200;
}

.header__call_link:hover .header__call_bottom {
    color: #fff;
}

.main {
    position: relative;
}

.home {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
}

.home__container {
    padding: 9rem 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
}

.home__h2 {
    font: 400 7.1rem / 1 'Lobster', cursive;
    text-align: center;
    text-align: left;
    z-index: 2;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    display: flex;
    align-items: center;
    position: relative;
    color: #3ba200;
    max-width: none;
    width: calc(100% + .75rem);
    transform: translateX(.75rem);
}

.home__h2:before {
   content: '';
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: .5rem;
    width: 12rem;
    background: #3ba200;
    margin-right: 3rem;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
}


.home__h3 {
    font: 400 11.675rem / 1 'Lobster', cursive;
    text-align: center;
    letter-spacing: .025em;
    text-align: left;
    z-index: 2;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.15));
    margin-top: 1rem;
    
}

.home__p {
    
    margin-top: 5rem;
    font: 400 2.6rem / 1.5 'Work Sans', sans-serif;
    text-align: right;
    z-index: 2;
    letter-spacing: -.05em;
}

.home__button {
    margin-top: 5rem;
    font: 800 1.6rem / 1.5 'Work Sans', sans-serif;
    text-transform: uppercase;
    height: 5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: #3ba200;
    color: #fff;
    white-space: nowrap;
    transition: all .3s ease-out;
    border-radius: 5em;
}

.home__button:hover {
    background: #45bd00;
}

.home__bg_dog {
    position: absolute;
    right: 0;
    top: 10rem;
    height: 96vh;
    width: 44%;
    background: url("../images/bottle06.png") 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    margin: auto;
    font: 800 5rem / 1.5 'Work Sans', sans-serif;
}

.bg__circle {
    position: absolute;
/*    bottom: -0%;*/
    right: -50%;
    height: 400vh;
    width: 400vh;
    max-width: none;
    border-radius: 50%;
/*    overflow: hidden;*/
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.home__bg_left {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    max-width: none;
    background: #eeeeee url(../images/home-bg56.png) 100% 50% / cover no-repeat;
    left: calc((100vw - 144rem) / 2 * (-1));
}

.home__bg_center {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-width: none;
    left: 77.5%;
    padding-right: calc(22.5% + ((100vw - 144rem) / 2));
    background: #fff;
}

.home__bg_right {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-width: none;
    left: 77.5%;
    padding-right: calc(22.5% + ((100vw - 144rem) / 2));
    -webkit-clip-path: ellipse(100% 100% at 0% 0%);
    clip-path: ellipse(70% 100% at 0% 0%);
}

.home__bg_02 {
    content: '';
    position: relative;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100vw;
    max-width: none;
    background: #3ba200 url("../images/home-bg15.png") 100% 50% / cover no-repeat;
}

.history__images {
    width: 50%;
    position: relative;
    height: 60rem;
}

.history__images_item {
    background: #eeeeee;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
}

.history__images_item01 {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: 40%;
    width: 60%;
}

.history__images_item02 {
    position: absolute;
    z-index: 3;
    top: 10%;
    right: 10%;
    height: 50%;
    width: 40%;
}

.history__images:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7.5%;
    right: 7.5%;
    height: 50%;
    width: 40%;
    background: #3ba200;
}

.history__images_item03 {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 5%;
    height: 50%;
    width: 50%;
}

.history__images:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 7.5%;
    left: 2.5%;
    height: 55%;
    width: 50%;
    background: #3ba200;
}

.history__images_item04 {
    position: absolute;
    bottom: 0%;
    right: 0;
    height: 60%;
    width: 60%;
}

.history__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 10rem);
}

.h2-headline {
    font: 400 7.1rem / 1 'Lobster', cursive;
    text-align: center;
    letter-spacing: .025em;
    text-align: left;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2-headline:before {
    content: '';
    position: relative;
    background: #3ba200;
    height: .5rem;
    width: 8rem;
    margin-right: 4rem;
}

.history__p {
    font: 300 3.2rem / 1.5 'Work Sans', sans-serif;
    letter-spacing: -.05em;
    margin-top: 3rem;
    text-align: center;
}

.about {
    background: #eeeeee;
    height: 70rem;
    padding: 0;
    margin-top: 15rem;
/*    background: #fff;*/
}

.about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: #89b75c;*/
    opacity: .25;
}

.about__circle {
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 70rem;
    width: 70rem;
    border-radius: 50%;
    background: #89b75c url("../images/family04.png") 50% 50% / cover no-repeat;
    display: flex;
    justify-content: center;
}

.about__circle_cat {
    position: absolute;
    z-index: -1;
    top: -23%;
    left: -25%;
    right: 0;
    height: 150%;
    width: 150%;
    max-width: none;
    margin: auto;
    background: url("../images/sign02.png") 50% 50% / contain no-repeat;
}

.about__circle_h2 {
    font: 800 2.2rem / 1 'Work Sans', sans-serif;
    color: #fff;
    margin-top: 7.5rem;
}

.about__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
    padding: 8.5rem 0;
    z-index: 2;
    height: 70rem;
}

.about__list_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.about__list_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 3rem;
    position: relative;
    height: calc(100% / 2 - 5rem);
}

.about__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    max-width: none;
    border-image: url("../images/post-border.svg") 25 round;
    border-width: 1rem;
    border-style: solid;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
}

.about__list_h4 {
    font: 800 2.4rem / 1 'Work Sans', sans-serif;
}

.thin {
    font-weight: 300;
    font-style: italic;
}

.about__list_p {
    font: 300 1.7rem / 1.5 'Work Sans', sans-serif;
    margin-top: 1.5rem;
    letter-spacing: -.05em;
}

.about__button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -5.5rem;
    font: 800 1.6rem / 1.5 'Work Sans', sans-serif;
    text-transform: uppercase;
    height: 5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    background: #fff;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: #030460;
    color: #fff;
    transition: all .3s ease-out;
}

.about__button:hover {
    background: #89b75c;
}

.basket {
    margin-top: 20rem;
}

.basket__p {
    font: 300 2.85rem / 1.5 'Work Sans', sans-serif;
    letter-spacing: -.05em;
    margin-top: 3rem;
    text-align: center;
}

.basket__images {
    width: 50%;
    position: relative;
    height: 64rem;
}

.basket__images:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7.5%;
    right: 7.5%;
    height: 50%;
    width: 40%;
    background: #3ba200;
}

.basket__images:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 7.5%;
    left: 2.5%;
    height: 55%;
    width: 50%;
    background: #3ba200;
}

.process {
    background: #eeeeee;
}

.process__h3 {
    font: 400 7.1rem / 1 'Lobster', cursive;
    text-align: center;
    letter-spacing: .025em;
    text-align: left;
    text-align: center;
}

.process__content {
    display: flex;
    margin-top: 8rem;
    justify-content: space-between;
}

.process__image {
    position: relative;
    width: 50%;
}

.process__image_bg {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #89b75c url("../images/home-bg15.png") 50% 50% / cover no-repeat;
}

.process__image_pet {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 85%;
    width: 85%;
    background: url("../images/dog07.png") 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(1rem 1rem 2rem rgba(0,0,0,.15));
}

.process__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: -5rem;
}

.process__list_item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    margin-top: 5rem;
    background: #fff;
}

.process__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    max-width: none;
    border-image: url("../images/post-border.svg") 25 round;
    border-width: 1rem;
    border-style: solid;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
}

.process__list_h4 {
    font: 800 3rem / 1 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #3ba200;
        
}

.process__list_p {
    font: 300 2rem / 1.4 'Work Sans', sans-serif;
    margin-top: .75rem;
    letter-spacing: -.05em;
}

.why {
    margin-top: 5rem;
    background: #fff url(../images/numbers-b.png) 50% 50% / cover no-repeat;
}

.stock {
    padding-bottom: 12rem;
}

.stock__list {
    display: flex;
    margin-top: 4rem;
}

.stock__list_item {
    height: 75rem;
    position: relative;
    width: 50%;
}

.stock__list_image {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
}

.stock__list_item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 70%;
}

.stock__list_item:first-of-type:before {
    background: url(../images/sign05.png) 50% 50% / contain no-repeat;
}

.stock__list_item:last-of-type:before {
    background: url(../images/sign04.png) 50% 50% / contain no-repeat;
}

.stock__headlines {
    display: flex;
}

.stock__list_h3 {
    font: 300 6rem / 1 'Lobster', cursive;
/*    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.5));*/
/*    color: #fff;*/
    width: 50%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stock__list_h3:before {
    content: '';
    position: relative;
    background: #3ba200;
    height: .5rem;
    width: 8rem;
    margin-right: 4rem;
}

.gallery {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 60rem;
    margin-bottom: 20rem;
    margin-top: 5rem;
}

.gallery__column01 {
    width: calc(15% - 1.33rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__column01_image {
    height: calc(100% / 2 - 1rem);
    width: 100%;
    background: #3ba200;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
}

.gallery__column02 {
    width: calc(25% - 1.33rem);
    height: calc(100% + 5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__column03 {
    width: calc(35% - 1.33rem);
    height: calc(100% + 15rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__column04 {
    width: calc(25% - 1.33rem);
    height: calc(100% + 5rem);
    transform: translateY(0rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__column02_image {
    height: calc(100% );
    width: 100%;
    margin-top: 3rem;
    background: #3ba200;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
}

.gallery__column03_image {
    height: calc(100% + 15rem);
    width: 100%;
    transform: translateY(-5rem);
    background: #3ba200;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
}

.gallery__image01 {
    background: url(../images/gallery01.png) 50% 0% / cover no-repeat;
}

.gallery__image02 {
    background: url(../images/gallery02.png) 50% 20% / cover no-repeat;
}

.gallery__image03 {
    background: url(../images/gallery03.png) 50% 20% / cover no-repeat;
}

.gallery__image04 {
    background: url(../images/gallery04.png) 50% 0% / cover no-repeat;
}

.gallery__image05 {
    background: url(../images/gallery05.png) 50% 0% / cover no-repeat;
}

.gallery__image06 {
    background: url(../images/gallery06.png) 50% 0% / cover no-repeat;
}

.banner {
    padding: 5rem 0;
    background: #89b75c;
}

.banner__container {
    align-items: center;
}

.banner__h2 {
    font: 600 2.9rem / 1 'Work Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.banner__button {
    font: 800 1.6rem / 1.5 'Work Sans', sans-serif;
    text-transform: uppercase;
    height: 5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    background: #fff;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: #fff;
    color: #030460;
    color: #89b75c;
    transition: all .3s ease-out;
}

.banner__button:hover {
    background: #030460;
    color: #fff;
}

.contact {
    padding-top: 5rem;
}

.contact__content {
    display: flex;
    margin-top: 6rem;
}

.contact__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5rem;
}

.contact__form_input {
    padding: 0 2.5rem;
    border: .1rem solid #ededed;
    border-radius: 2em;
/*    box-shadow: 0 0 2rem  rgba(0,0,0,.15);*/
    background-color: #fff;
    font: 400 2rem / 1 'Work Sans', sans-serif;
    text-transform: capitalize;
    color: rgba(0,0,0,.7);
    letter-spacing: -.05em;
    transition: all .3s ease-out;
    height: 5rem;
    -webkit-filter: drop-shadow(0rem 0rem 1rem rgba(0,0,0,.15));
    color: #3ba200;
    border: .2rem solid #fff;
}

.contact__form_input:not(:first-of-type) {
    margin-top: 2rem;
}

.contact__form_textarea {
    resize: none;
    flex: 1 0 auto;
    margin-top: 2rem;
    padding-top: 2.5rem;
}

.contact__form_input:focus {
    border-color: #3ba200;
}


.contact__form_input::-webkit-input-placeholder {
    color: #bbbbbb;
}

.contact__form_input::-moz-placeholder {
    color: #bbbbbb;
    opacity: 1;
}

.contact__form_input:-ms-input-placeholder {
    color: #bbbbbb;
}

.contact__form_button {
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    font: 700 2rem / 1 'Work Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    -webkit-filter: drop-shadow(0rem 0rem 1rem rgba(0,0,0,.15));
    border-radius: 5em;
    background: #3ba200;
    transition: all .3s ease-out;
}

.contact__form_button:hover {
    background: #45bd00;
}

.contact__locations {
    height: 50rem;
    width: 50%;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
    position: relative;
}

.contact__map {
    height: 100%;
    width: 100%;
}

.contact__locations:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -2rem;
    right: -2rem;
    height: 100%;
    width: 100%;
    background: #3ba200;
}

.footer {
    position: relative;
    background: #171717;
}

.footer__top_container {
    padding: 6rem 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 3.5rem / 1 'Work Sans', sans-serif;
    letter-spacing: .1em;
    color: #fff;
    text-transform: uppercase;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.4 'Work Sans', sans-serif;
    letter-spacing: -.05em;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 36rem;
    text-align: justify;
}

.footer__data_link {
    display: flex;
    align-items: center;
    fill: #fff;
}

.footer__data_link:hover,
.footer__data_link:hover .footer__p {
    color: #3ba200;
    fill: #3ba200;
}

.footer__data_link .footer__p {
/*    padding-top: .1rem;*/
}

.footer__data_pic {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    transition: all .3s ease-out;
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: all .3s ease-out;
    border-radius: 50%;
    background: #3ba200;
}

.footer__social_link:hover {
    background: #45bd00;
}

.footer__social_pic {
    height: 1.6rem;
    width: 1.6rem;
    transition: all .3s ease-out;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4rem;
    width: 24rem;
    padding: 0 1.5rem;
    border: .2rem solid #fff;
    border-right: none;
    font: 400 1.6rem / 1 'Work Sans', sans-serif;
    color: #45bd00;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    transition: all .3s ease-out;
    padding-bottom: .2rem;
    letter-spacing: -.05em;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #fff;
}

.footer__form_input:focus {
    border-color: #45bd00;
}

.footer__form_button {
    height: 4rem;
    font: 700 1.6rem / 1 'Work Sans', sans-serif;
    background: #3ba200;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
}

.footer__form_button:hover {
    background: #45bd00;
}

.footer__bottom {
    padding: 3rem 0;
    background: #000;
}

.footer__bottom_container {
    align-items: center;
}

.footer__info {
    display: flex;
}

.footer__info_item {
    position: relative;
}

.footer__info_item:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__info_item:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background: #fff;
    opacity: .25;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1 'Work Sans', sans-serif;
    letter-spacing: -.05em;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}