/*   My variables   */

:root {
    --color-first: #5a6902;
    --color-second: #604100;
    --color-third: #000000;
    --width-container: 144rem;
    --shadow-content: 0 0 2rem rgba(0,0,0,.1), 0 1rem 3rem rgba(0,0,0,.1);
    --background-first: linear-gradient(to bottom left, var(--color-second), var(--color-third));
    --background-second: linear-gradient(to top right, var(--color-second), var(--color-third));
    --background-content: rgba(0,0,0,.95);
    --font-first: 'Montserrat', sans-serif;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--color-first);
    color: #fff;
    -webkit-text-fill-color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #c4c4c4;
    transition: all .3s ease-out;
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-first);
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.picture {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.image-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    height: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: var(--width-container);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 7.5rem 0;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.content {
    position: relative;
    width: 40%;
    margin-right: 7.5rem;
    padding: 5rem 7.5rem 7.5rem;
    box-shadow: var(--shadow-content);
    background: var(--background-content);
    color: #fff;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--background-second);
    transition: all .3s ease-out;
}

.content:hover:before {
    height: .5rem;
}

.h2-headline {
    font: 700 5.5rem / 1.2 var(--font-first);
    text-transform: uppercase;
    text-align: center;
}

.p-text {
    font: 400 2rem / 1.5 var(--font-first);
    text-align: justify;
}

.p-text:not(:last-of-type) {
    margin-bottom: 3rem;
}

.main-color {
    color: var(--color-first);
}

.color-second {
    color: var(--color-second);
}

.button {
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .75rem 2rem rgba(90, 105, 2, 0.25);
    background: var(--color-first);
    font: 600 1.8rem / .75 var(--font-first);
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
    border-radius: .75rem;
}

.button:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(90, 105, 2, 0.5);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    transition: all .3s ease-out;
}

.header__fixed {
    box-shadow: 0 0 .75rem rgba(0,0,0,.1), 0 .75rem 1.5rem rgba(0,0,0,.1);
    background: #fff;
}

.header__container {
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo_link {
    display: flex;
}

.header__logo_picture {
    height: 9rem;
    font: 600 3rem / 3 var(--font-first);
    color: var(--color-first);
    transition: all .3s ease-out;
}

.header__h2 {
    font: 700 4rem / .75 var(--font-first);
    text-align: center;
    text-transform: uppercase;
}

.header__social {
    display: flex;
}

.header__social_item {
    margin-right: 2rem;
}

.header__panel {
    display: flex;
}

.header__social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .75rem 2rem rgba(90, 105, 2, 0.25);
    height: 5rem;
    width: 5rem;
    transition: all .3s ease-out;
    fill: #fff;
    background: var(--color-first);
    border-radius: 1rem;
}

.header__social_item:nth-of-type(1) .header__social_link {
    background: #3B5998;
    box-shadow: 0 .75rem 2rem rgba(59, 89, 152, 0.25);
}

.header__social_item:nth-of-type(2) .header__social_link {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0 .75rem 2rem rgba(246, 79, 81, 0.25);
}

.header__social_item:nth-of-type(3) .header__social_link {
    background: #2567B3;
    box-shadow: 0 .75rem 2rem rgba(37, 103, 179, 0.25);
}

.header__social_link:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(90, 105, 2, 0.5);
}

.header__social_item:nth-of-type(1) .header__social_link:hover {
    box-shadow: 0 .75rem 2rem rgba(59, 89, 152, 0.5);
}

.header__social_item:nth-of-type(2) .header__social_link:hover {
    box-shadow: 0 .75rem 2rem rgba(246, 79, 81, 0.5);
}

.header__social_item:nth-of-type(3) .header__social_link:hover {
    box-shadow: 0 .75rem 2rem rgba(37, 103, 179, 0.5);
}

.header__social_pic {
    height: 55%;
    width: 55%;
    display: flex !important;
    
}

.home-top {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin-bottom: 7.5rem;
    padding: 0;
    display: flex;
    background:
/*        url(../images/home-top__bg.webp) 0 50% no-repeat,*/
        #fff url(../images/home-top__bg01.png) 50% 75% no-repeat;
    background-size: cover;
}

.home-top__container {
    padding: 11rem 2rem 50vh;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-top__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;;
    text-transform: uppercase;
    text-align: center;
}

.home-top__content_h3 {
    font: 700 5.5rem / .75 var(--font-first);
    text-align: center;
/*    color: var(--color-second);*/
}

.home-top__button {
    margin-top: 4rem;
}

.home-option__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.home-option__list_item {
    width: calc(100% / 3 - 4rem);
    height: 40rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 4.5rem;
    padding-bottom: 4.5rem;
}

.home-option__list_item:before {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 0;
    bottom: 2.5rem;
    width: 3rem;
    background: var(--color-second);
    border-radius: .75rem;
    box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, 0.1);
    transform: skewY(-45deg)
}

.home-option__list_item:after {
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 2.5rem;
    right: 1.5rem;
    height: 3rem;
    background: var(--color-third);
    border-radius: .75rem;
    box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, 0.1);
    transform: skewX(-45deg);
}

.home-option__list_content {
    
    height: 100%;
    width: 100%;
    position: relative;
}

.home-option__list_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-first);
    border-radius: .75rem;
    box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, 0.1);
    padding: 4rem 3rem;
    text-align: center;
}

.home-option__list_front {
    transform: rotateY(0deg);
    transition: all .3s linear .3s;
}

.home-option__list_back {
    transform: rotateY(90deg);
    transition: all .3s linear;
}

.home-option__list_content:hover .home-option__list_front {
    transform: rotateY(90deg);
    transition: all .3s linear;
}

.home-option__list_content:hover .home-option__list_back {
    transform: rotateY(0deg);
    transition: all .3s linear .3s;
}

.home-option__list_h4 {
    font: 600 3rem / .75 var(--font-first);
    text-transform: uppercase;
    margin-top: .25em;
}

.home-option__list_h5 {
    font: 700 7.5rem / .75 var(--font-first);
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 3.75rem;
}

.home-option__list_p {
    font: 300 2.2rem / 1.5 var(--font-first);
}


.home-banner__content {
    border-radius: .75rem;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, 0.1);
    background: var(--color-second);
}

.home-banner__content_h2 {
    font: 600 3.5rem / .75 var(--font-first);
    color: #fff;
}

.home-banner__content_h3 {
    font: 600 5.65rem / .75 var(--font-first);
    color: #fff;
}

.home-about .h2-headline {
    width: 75%;
    align-self: center;
}

.home-about__info {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 6rem;
}

.home-about__image {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 74rem;
    background:
/*        url(../images/home-testimonials__bg.webp) 0 50% no-repeat,*/
        url(../images/logo02.png) 0 0 no-repeat;
    background-size: contain;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
}

.home-about__content {
    width: 40%;
    align-self: flex-end;
}

.footer {
    position: relative;
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.footer__bottom_container {
    justify-content: center;
    margin-top: 12rem;
}

.footer__top_list {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    align-items: center;
}

.footer__list_item:not(:first-of-type) {
    margin-left: 4rem;
}

.footer__list_link {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 2.5rem / .75 var(--font-first);
    padding: 3rem;
    box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
    background: #fff;
    transition: all .3s ease-out;
}

.footer__list_link:hover {
    color: #fff;
    background: var(--color-first);
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(90, 105, 2, 0.5);
}

.footer__list_p {
    font: 500 2.5rem / .75 var(--font-first);
}

.footer__bottom_h4 {
    padding: 4rem 0;
    text-align: center;
    font: 700 2rem / .75 var(--font-first);
}





@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
    
    .home-top {
        height: 50vh;
    }
    
    .home-top__container {
        padding: 11rem 2rem 25vh;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 5px;
    }
    
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 6px;
    }
    
    .section {
        padding: 5rem 0;
    }
    
    .header__h2 {
        display: none;
    }

    
    .home-top__content_h3 {
        font-size: 3.5rem;
        line-height: 1.2;
        width: 75%;
    }
    
    .header__social_link {
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .button {
        height: 4.5rem;
        align-items: center;
        padding-top: .2em;
    }
    
    .home-top__button {
        margin-top: 2rem;
    }
    
    .home-option__list {
        flex-direction: column;
    }
    
    .home-option__list_item {
        width: 100%;
    }
    
    .h2-headline {
        font-size: 4rem;
    }
    
    .home-about .h2-headline {
        width: 100%;
    }
    
    .home-banner__content_h2 {
        font-size: 2.5rem;
        line-height: 1.3;
        margin-right: 3rem;
    }
    
    .home-banner__content_h3 {
        font-size: 2.75rem;
        line-height: 1.3;
        margin-right: 3rem;
        width:60%;
    }
    
    .home-banner .button {
        text-align: center;
        line-height: 1.4;
        height: 8rem;
    }
    
    .home-about__image {
        display: none;
    }
    
    .home-about__content {
        width: 100%;
    }
    
    .footer .h2-headline {
        width: 75%;
        align-self: center;
    }
    
    .footer__top_list {
        flex-direction: column;
    }
    
    .footer__list_p {
        margin: 3rem 0;
    }
    
    .footer__bottom_container {
        margin-top: 5rem;
    }
    
}

@media screen and (max-width : 420px) {
   
    html {
/*        font-size: 2.3px;*/
    }
    
    
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 4.65px;
    }
}

















