/*   Product Page   */

.main {
    padding-top: 27rem;
}

.product-page--description {
    padding: 6rem 0;
}

.product-page--description__row01 {
    height: calc(70% - 1rem);
    width: 100%;
}

.product-page--description__row02 {
    height: calc(30% - 1rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-page--description_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #b5b5b5;
    font: 400 1.5rem / 10 'Montserrat', sans-serif;
    text-align: center;
}

.product-page--description__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.1);
    background: #b5b5b5;
    height: 100%;
    width: 100%;
}

.product-page--description__row02 .product-page--description__item {
    width: calc(100% / 3 - 1.33rem);
}

.product-page--description__info {
    z-index: 2;
    padding: 1.5rem 3rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(6, 1, 72, 0.75);
    width: 0;
    opacity: 0;
}

.product-page--description__info:before {
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    border: .2rem solid #D9B854;
    border-image: url(../images/stone02.png) 10%;
}

.product-page--description__item:hover .product-page--description__info {
    width: 100%;
    opacity: 1;
}

.product-page--description__h4 {
    font: 700 5rem / 1.15 'Cinzel', serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.35));
    text-align: center;
    color: #fff;
    background: #D9B854 url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.product-page--description__row02 .product-page--description__h4 {
    font: 700 2.2rem / 1.15 'Cinzel', serif;
}

.content__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content__buttons .button {
    flex: 1 0 auto;
}

.content__buttons .button:not(:last-of-type) {
    margin-right: 2rem;
}

.product-page--other__h3 {
    font: 300 2.85rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.product-page--other {
    padding: 0 0 6rem 0;
}

.product-page--other__list {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.product-page--other__item {
    position: relative;
    height: calc(100% / 2 - 1rem);
    width: calc(100% / 6 - 1.666rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.1);
    background: #b5b5b5;
    height: 17rem;
}

.product-page--other__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #b5b5b5;
    font: 400 1.5rem / 10 'Montserrat', sans-serif;
    text-align: center;
}

.product-page--other__info {
    z-index: 2;
    padding: 1.5rem 3rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(6, 1, 72, 0.75);
    width: 0;
    opacity: 0;
}

.product-page--other__info:before {
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    border: .2rem solid #D9B854;
    border-image: url(../images/stone02.png) 10%;
}

.product-page--other__item:hover .product-page--other__info {
    width: 100%;
    opacity: 1;
}

.product-page--other__h4 {
    font: 700 2.5rem / 1 'Cinzel', serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.35));
    text-align: center;
    color: #fff;
    background: #D9B854 url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}





































