/*   My Normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #eee;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.container__image {
    position: relative;
    flex-shrink: 0;
    background-color: #BDBDBD;
}

.image__cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image__contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

button,
fieldset,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #ff401b;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb:hover {
    background: #ff401b;
}

.container__row {
    margin: 0 auto;
    display: flex;
}

.container__column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
    
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container__row,
.container__column {
    position: relative;
    z-index: 2;
    width: 144rem;
    padding: 0 2rem;
    justify-content: space-between;
}

section {
    position: relative;
    padding: 10rem 0;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.content {
    width: 60%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
}

.content-list {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display {
    width: 40%;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.display__item {
    position: relative;
    height: calc(100% / 3 - .5rem);
    width: calc(100% / 3 - .5rem);
    padding-top: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #616161;
    font: 500 9rem / 1 'Teko', sans-serif;
    color: #fff;
    filter: grayscale(100%);
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
    transition: all .3s ease-out;
}

.display__item:hover {
    filter: grayscale(0%);
}

.display__item_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
    transition: all .3s ease-out;
}

.display__item:hover .display__item_image {
    transform: scale(1.1);
}

.display__item:nth-of-type(5) {
    background: #ff401b;
    filter: grayscale(0%);
}

.color__main {
    color: #ff401b;
}

.h2__headline {
    transform: translateX(.075em);
    font: 400 3rem / 1 'Nunito', sans-serif;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #000;
}

.h3__headline {
    margin-top: 1rem;
    font: 900 7rem / 1 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #ff401b;
    margin-bottom: 1rem;
}

.headline__center {
    text-align: center;
}

.headline__white {
    color: #fff;
}

.p__text {
    margin-top: 2rem;
    font: 300 2rem / 1.5 'Nunito Sans', sans-serif;
    text-align: justify;
    color: #212121;
}

.p__text_style {
    font-weight: 700;
    color: #000;
}

.button {
    padding: 1.1em 3rem 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
    background: #fff;
    font: 700 1.5rem / 1 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
    color: #ff401b;
    border: .15rem solid #ff401b;
}

.button:hover {
    color: #fff;
    background: #ff401b;
}

.form {
    padding: 4rem;
    background: #ff401b;
}

.form__container {
    height: 100%;
    width: 100%;
    padding: 4rem;
    background: #fff;
}

.form__h2 {
    font: 500 6.5rem / .85 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.form__h3 {
    margin-top: .65rem;
    font: 300 1.325rem / 1 'Nunito Sans', sans-serif;
    text-align: center;
}

.form__item {
    position: relative;
    margin-top: 2rem;
}

.form__input {
    height: 4.5rem;
    width: 100%;
    padding: 0 5.5rem 0 1.5rem;
    background-color: #f5f5f5;
    font: 400 1.8rem / 1.4 'Nunito Sans', sans-serif;
    color: #000;
    transition: all .3s ease-out;
}

.form__input:focus {
    background-color: rgba(255,111,0,.2);
}

.form__item_pic {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    height: 2.25rem;
    width: 2.25rem;
    fill: #757575;
    transition: all .3s ease-out;
}

.form__input:focus + .form__item_pic {
    fill: #000;
}

.form__input::-webkit-input-placeholder {
    color: #757575;
}

.form__input::-moz-placeholder {
    color: #757575;
    opacity: 1;
}

.form__input:-ms-input-placeholder {
    color: #757575;
}

.form__textarea {
    height: 15rem;
    padding-top: 1.25rem;
    resize: none;
}

.form__button {
    height: 4.5rem;
    width: 100%;
    margin-top: 2rem;
    font: 500 2.5rem / 1 'Teko', sans-serif;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: 10rem;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 .75rem rgba(0,0,0,.025), 0 .75rem 1.5rem rgba(0,0,0,.05);
    background: #fff;
}

.header__container {
    height: 100%;
    align-items: center
}

.logo__image {
    height: 7rem;
    display: flex;
}

.header__nav {
    height: 100%;
}

.header__menu {
    display: flex;
    height: 100%;
}

.header__menu_item {
    position: relative;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 7rem;
}

.header__menu_link {
    position: relative;
    height: 100%;
    padding-top: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 800 1.5rem / 1 'Nunito', sans-serif;
    text-transform: uppercase;
    transition: all .3s ease-out;
}

.header__menu_item:hover .header__menu_link {
    color: #ff401b;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #ff401b;
    transition: all .3s ease-out;
}

.header__menu_item:hover .header__menu_link:after {
    height: .35rem;
}

.header__submenu {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: none;
    transform: scale(0);
    transform-origin: 100% 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.25);
    background-color: #fff;
    transition: all .3s ease-out;
}

.header__menu_item:hover .header__submenu {
    transform: scale(1);
}

.header__submenu_item {
    max-width: none;
    display: flex;
    background: #ff401b;
    transition: all .3s ease-out;
}

.header__submenu_item:not(:first-of-type) {
    margin-top: .1rem;
}

.header__submenu_item:hover {
    background: #e02704;
}

.header__submenu_link {
    width: 100%;
    padding: 1.5rem 3rem 1.25rem;
    white-space: nowrap;
    font: 800 1.5rem / 1 'Nunito', sans-serif;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.main {
    padding-top: 10rem;
}

.home {
    height: calc(100vh - 10rem);
    display: flex;
    background: #000 url(../images/home__bg09.png) 100% 50% / cover no-repeat;
}

.home__container {
    justify-content: center;
    align-items: flex-start;
}

.home__h2 {
    font: 800 7rem / 1.3 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    text-shadow: .05em .05em .1em rgba(0,0,0,.15);
}

.home__h3 {
    font: 300 3.5rem / 1.4 'Nunito Sans', sans-serif;
    color: #fff;
    margin-top: 4rem;
    text-shadow: .05em .05em .1em rgba(0,0,0,.15);
}

.home__button {
    margin-top: 6rem;
    border: none;
    background: #ff401b;
    color: #fff;
}

.home__button:hover {
    background: #e02704;
}

.partners {
    background: #fff;
    padding: 5rem 0;
}

.partners__container {
    align-items: center;
}

.partners__h2 {
    font: 900 3rem / 1 'Nunito', sans-serif;
    color: #ff401b;
    text-transform: uppercase;
    margin-right: 10rem;
    flex-shrink: 0;
}

.partners__content {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
}

.partners__image {
    height: 3.5rem;
    filter: grayscale(100);
    transition: all .3s ease-out;
}

.partners__image:hover {
    filter: grayscale(0);
}

.about {
    background: #f7f3f3;
}

.banner {
    padding: 4rem 0;
    background: #fff;
}

.banner__container {
    justify-content: space-between;
    align-items: center;
}

.banner__h2 {
    font: 800 2.4rem / 1.4 'Nunito', sans-serif;
    text-transform: uppercase;
    padding-top: .5rem;
}

.banner__button {
    font: 800 1.8rem / 1 'Nunito', sans-serif;
    flex-shrink: 0;
    border: none;
    background: #ff401b;
    color: #fff;
    margin-left: 5rem;
}

.banner__button:hover {
    background: #e02704;
}

.overview__info {
    width: 40%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.overview__info_item {
    position: relative;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    background: #ff401b;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
    overflow: hidden;
}

.overview__info_item:not(:first-of-type) {
    margin-top: 1rem;
}

.overview__info_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -13rem;
    height: 80%;
    margin-right: 3rem;
    flex-shrink: 0;
    fill: #d42200;
    transform: scale(-1, 1);
    
}

.overview__info_data {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    z-index: 2;
}

.overview__info_h4 {
    font: 800 3.2rem / 1.2 'Nunito', sans-serif;
    text-transform: uppercase;
    
    
}

.overview__info_h5 {
    font: 400 2rem / 1.4 'Nunito Sans', sans-serif;
    margin-top: 1.5rem;
    opacity: .85;
}










.vision__list_item {
    position: relative;
    display: flex;
}

.vision__list_h4 {
    color: #ff401b;
    font: 800 3rem / 1 'Nunito Sans', sans-serif;
    flex-shrink: 0;
    margin-right: 2.5rem;
    padding-top: .3rem;
}

.vision__info {
    width: 40%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.vision__info_item {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    background: #777777;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .5rem 1rem rgba(0,0,0,.05);
}

.vision__info_item:not(:first-of-type) {
    margin-top: 1rem;
}

.vision__info_icon {
    height: 10rem;
    width: 10rem;
    margin-right: 3rem;
    flex-shrink: 0;
    fill: #fff;
}

.vision__info_data {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.vision__info_h4 {
    font: 800 2.4rem / 1.2 'Nunito', sans-serif;
    text-transform: uppercase;
    
}

.vision__info_h5 {
    font: 400 1.6rem / 1.4 'Nunito Sans', sans-serif;
    margin-top: 1rem;
    opacity: .85;
}

.participate__content {
    display: flex;
    margin-top: 3.5rem;
}

.participate__content_input {
    display: none;
}

.participate__content_label {
    position: relative;
    height: 60rem;
    width: 12rem;
    padding: 5rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .5rem .5rem 2rem rgba(0,0,0,.25);
    overflow: hidden;
    cursor: pointer;
    transition: all .3s linear;
}

.participate__content_label:nth-of-type(1) {
    z-index: 5;
    background: #757575 url(../images/products01.png) 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(1) {
    z-index: 5;
    background: #000 url(../images/products11.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(2) {
    z-index: 4;
    background: #757575 url(../images/products02.png) 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(2) {
    z-index: 5;
    background: #000 url(../images/products12.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(3) {
    z-index: 3;
    background: #757575 url(../images/products03.png) 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(3) {
    z-index: 5;
    background: #000 url(../images/products13.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(4) {
    z-index: 2;
    background: #757575 url(../images/products04.png) 35% 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(4) {
    z-index: 5;
    background: #000 url(../images/products14.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(5) {
    z-index: 1;
    background: #757575 url(../images/products05.png) 10% 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(5) {
    z-index: 5;
    background: #000 url(../images/products15.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(6) {
    z-index: 1;
    background: #757575 url(../images/products06.png) 10% 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(6) {
    z-index: 5;
    background: #000 url(../images/products16.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(7) {
    z-index: 1;
    background: #757575 url(../images/products07.png) 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(7) {
    z-index: 5;
    background: #000 url(../images/products17.png) 50% / cover no-repeat;
}

.participate__content_label:nth-of-type(8) {
    z-index: 1;
    background: #757575 url(../images/products08.png) 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label:nth-of-type(8) {
    z-index: 5;
    background: #000 url(../images/products18.png) 0% 50% / cover no-repeat;
}

.participate__content_input:checked + .participate__content_label {
    z-index: 6;
    flex: 1 0 auto;
}

.participate__content_info {
    transform: scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participate__content_input:checked + .participate__content_label .participate__content_info {
    transform: scale(1);
}

.participate__content_headline {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    top: 1rem;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 800 3rem / 1.2 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #fff;
    opacity: 1;
    text-shadow: .05em .05em .1em rgba(0,0,0,.15);
}

.participate__content_input:checked + .participate__content_label .participate__content_headline {
    opacity: 0;
}

.participate__info_headline {
    transform: scale(0);
    font: 800 5rem / 1 'Nunito', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s linear;
}

.participate__content_input:checked + .participate__content_label .participate__info_headline {
    transform: scale(1);
}

.participate__info_text {
    margin-top: 4rem;
    transform: scale(0);
    font: 400 2.2rem / 1.5 'Nunito Sans', sans-serif;
    text-align: center;
    color: #fff;
    transition: all .3s linear;
}

.participate__content_input:checked + .participate__content_label .participate__info_text {
    transform: scale(1);
}

.participate__info_button {
    margin-top: 4rem;
    transform: scale(0);
    font: 700 1.5rem / 1 'Nunito', sans-serif;
}

.participate__content_input:checked + .participate__content_label .participate__info_button {
    transform: scale(1);
}

.team__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.team__content_item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 0.75rem);
    box-shadow: 0rem .5rem 2rem rgba(0,0,0,.25);
    transition: all .3s linear;
    margin-top: 1rem;
}

.team__content_item:hover {
    box-shadow: 0rem 1rem 2rem rgba(255, 64, 27, 0.5);
}

.team__content_image {
    height: 30rem;
    background: #757575;
    transition: all .3s linear;
    overflow: hidden;
}

.team__content_item .team__content_image .image__cover {
    transition: all .3s linear;
}

.team__content_item:hover .team__content_image .image__cover {
    transform: scale(1.15);
}

.team__content_info {
    padding: 3rem 2rem;
    background: #fff;
    text-align: center;
}

.team__content_h4 {
    font: 800 3rem / 1 'Nunito', sans-serif;
}

.team__content_h5 {
    font: 700 1.8rem / 1 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 1rem;
}

.team__content_p {
    font: 400 1.6rem / 1.5 'Nunito Sans', sans-serif;
    margin-top: 1rem;
    color: #757575;
}




.reviews {
    overflow: hidden;
    background: url(../images/review__bg.png) 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#slides {
    position: relative;
    margin-top: 7rem;
    height: 50rem;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: all 2s ease-out;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.reviews__container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0rem .5rem 2rem rgba(0,0,0,.25);
    background: #fff;
}

.reviews__image {
    width: 50%;
}

.reviews__content {
    width: 50%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.reviews__h3 {
    font: 800 5rem / 1 'Nunito', sans-serif;
}

.reviews__p {
    margin-top: 3rem;
    font: 400 2rem / 1.5 'Nunito Sans', sans-serif;
    color: #757575;
    text-align: justify;
}

.reviews__button {
    margin-top: 3rem;
    align-self: flex-start;
}

.slider__buttons {
    position: absolute;
    top: 0;
    left: -6%;
    bottom: 0;
    height: 100%;
    width: 112%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#previous {
    transform: rotate(180deg);
}

.slider__button_image {
    height: 5rem;
    width: 5rem;
    fill: #ff401b;
    opacity: .5;
    transition: all .3s ease-out;
}

.slider__button_image:hover {
    opacity: 1;
}

.registration__form {
    display: flex;
    flex-direction: column;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    box-shadow: 0rem .5rem 2rem rgba(0,0,0,.25);
    transition: all .3s linear;
    margin-top: 1rem;
    background: #fff;
    border: .15rem solid #ff401b;
    padding: 5rem;
    padding-left: 8rem;
    position: relative;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.form__registration_button {
    width: calc(100% / 2 - .5rem);
    box-shadow: 0rem .5rem 2rem rgba(0,0,0,.25);
    font: 700 1.8rem / 1 'Nunito', sans-serif;
    border: .15rem solid#ff401b;
}



.form__legend {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.form__legend_info {
    color: #fff;
    padding: 1.5rem;
    font: 800 3rem / 1.2 'Nunito', sans-serif;
    background: #ff401b;
    text-transform: uppercase;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.25);
    text-align: center;
}

.form__input {
    height: 4rem;
}

.form__row:not(:first-of-type) {
    margin-top: 1rem;
}

.form__row {
    display: flex;
    align-items: center;
}



.form__h4 {
    font: 700 2rem / 1 'Nunito Sans', sans-serif;
/*    margin-right: 2rem;*/
    flex-shrink: 0;
    width: 30rem;
}

.form__h4_full {
    width: 100%;
}

.form__checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.form__checkboxes_item {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.form__input_checkbox {
    display: none;
}

.form__input:focus {
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
}

.form__checkboxes_info {
    display: flex;
    align-items: center;
    align-self: flex-start;
    position: relative;
    cursor: pointer;
}

.form__input_label {
    display: flex;
    font: 400 1.8rem / 1 'Nunito Sans', sans-serif;
    order: 2;
    padding-top: .1em;
    cursor: pointer;
    color: #757575;
    transition: all .3s ease-out;
}

.form__input_marker {
    order: 1;
    height: 1.8rem;
    width: 1.8rem;
    border: .1rem solid #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    margin-right: 1rem;
}

.form__input_marker:before {
    content: '';
    display: flex;
    height: .8rem;
    width: .8rem;
    background: #fff;
    transition: all .3s ease-out;
}

.form__checkboxes_info:hover .form__input_marker:before {
    background: #757575;
}

.form__input_checkbox:checked + .form__input_label + .form__input_marker {
    border-color: #ff401b;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.1);
}

.form__input_checkbox:checked + .form__input_label  {
    color: #ff401b;
}

.form__input_checkbox:checked + .form__input_label + .form__input_marker:before {
    background: #ff401b;
}

.form__textarea {
    height: 15rem;
}

.form__row_margin:nth-of-type(n) {
    margin-top: 4rem;
}

.sponsors {
    background: #000 url(../images/section__bg01.png) 50% 50% / cover no-repeat;
}

.sponsors__content {
    margin-top: 3.5rem;
}

.sponsors__content_item {
    display: flex;
    background-color: #fff;
}

.sponsors__content_item:not(:first-of-type) {
    margin-top: 3.5rem;
}

.sponsors__content_h4 {
    height: 10rem;
    width: 26.5rem;
    padding: .5rem 5rem 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background: #ff401b;
    font: 500 3.5rem / 1 'Teko', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.sponsors__content_data {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsors__data_image {
    height: 6.5rem;
    filter:grayscale(100%);
    transition: all .3s ease-out;
}

.sponsors__data_image:hover {
    filter:grayscale(0);
}

.footer {
    position: relative;
    background-color: #2c2c2c;
}

.footer__top_container {
    padding: 7rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 800 3rem / 1 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #F5F5F5;
    fill: #F5F5F5;
}

.footer__item:first-of-type .footer__p {
    width: 38rem;
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff401b;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__social_link:hover {
    background: #e02704;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
}

.footer__social_pic {
    height: 1.8rem;
    width: 1.8rem;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 3.5rem;
    width: 19.5rem;
    padding: 0 1.5rem 0 1.5rem;
    border: .1rem solid #F5F5F5;
    border-right: none;
    font: 400 1.5rem / 1 'Nunito Sans', sans-serif;
    color: #ff401b;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input::-moz-placeholder {
    color: #F5F5F5;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border-color: #ff401b;
    border-right: none;
}

.footer__form_button {
    height: 3.5rem;
    padding: .2em 3rem 0;
    font: 700 1.5rem / 1 'Nunito', sans-serif;
    background: #ff401b;
    color: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,0);
    border: none;
}

.footer__form_button:hover {
    background: #e02704;
    box-shadow: 0 0 2rem rgba(0,0,0,.15);
}


.footer__contact_link {
    transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.footer__contact_link:hover {
    color: #ff401b;
    fill: #ff401b;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
}

.footer__bottom {
    padding: 3.5rem 0;
    background-color: #212121;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_link {
    position: relative;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #F5F5F5;
    transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__bottom_link:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background-color: #F5F5F5;
    opacity: .5;
}

.footer__bottom_link:hover {
    color: #ff401b;
    fill: #ff401b;
}

.footer__bottom_h4 {
    font: 700 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: calc(50vh - 10rem);
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 7px;
    }
    
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 6px;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 4.25px;
    }
}

@media screen and (max-width : 380px) {
   
    html {
        font-size: 3.75px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 3.25px;
    }
}