/*   my normalize   */


html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #00ff00;
    color: #000;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ff00;
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

body:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: #F5F5F5 url(../images/pattern03.png) 50% 50% / contain repeat;*/
    background-size: 60rem 60rem;
}

.main {
    position: relative;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

section {
    position: relative;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.button {
    z-index: 2;
    font: 700 1.6rem / 1 'Nunito Sans', sans-serif;
    color: #fff;
    margin-top: 2.25rem;
    align-self: flex-start;
    text-transform: uppercase;
    padding: .75em 1.5em;
    transition: all .3s ease-out;
    background: #00BFA5;
    color: #fff;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 0 3rem 0rem rgba(0,0,0,0.05);
}

.button:hover {
    background: #00796B;
}

.m-t2 {
    margin-top: 2rem;
}



.shadow {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}



.shadow02 {
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.15));
}

.shadow-hover:hover {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    background: #fff;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.15);

    
/*    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.1);*/
}

.header__top_container {
    height: 10rem;
    align-items: center;
    justify-content: space-between;
}

.logo__link {
    height: 7rem;
    display: flex;
    justify-content: flex-start;
    transition: all .3s ease-out;
    margin-right: 5rem;
    position: relative;
}

.logo__link:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(../images/logo06.png) 50% 50% / contain no-repeat;
    opacity: 0;
    transition: all .3s ease-out;
}

.logo__link:hover:before {
    opacity: 1;
}

.logo__image {
    height: 7rem;
    -webkit-filter: drop-shadow(.1rem .1rem .2rem rgba(0,0,0,.25));
}

.logo__text {
    font: 300 3rem / 1 'Unica One', cursive;
    text-transform: uppercase;
    color: #9c6b7e;
}

.logo__headline {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font: 500 3rem / 1 'ITC Avant Garde Gotic', sans-serif;
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.15));
}

.header__menu {
    display: flex;
}

.header__panel {
    display: flex;
    height: 100%;
    position: relative;
    flex: 1 0 auto;
}

.header__panel_item {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    padding-left: 5rem;
}

.header__panel_item:first-of-type {
    padding: 0;
}

.header__panel_item:first-child {
    flex: 1 0 auto;
}

.header__panel_link {
    font: 600 1.85rem / 1 'Nunito Sans', sans-serif;
    color: #000;
    fill: transparent;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.header__panel_link:hover {
    fill: #dfdfdf;
}

.header__panel_icon {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
}

.header__panel_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 40%;
    width: .1rem;
    margin: auto;
/*    background: #E0E0E0;*/
}

.header__form {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.header__form_input {
    border: .1rem solid #E0E0E0;
    height: 40%;
    width: 100%;
    padding: 0 4.55rem 0 2rem;
    display: flex;
    align-items: center;
    font: 600 1.85rem / 1 'Nunito Sans', sans-serif;
    color: #000;
    transition: all .3s ease-out;
}

.header__form_input:focus {
    border-color: #dfdfdf;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.header__form_input::-webkit-input-placeholder {
    color: #000;
}

.header__form_input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.header__form_input:-ms-input-placeholder {
    color: #000;
}

.header__form_button {
    position: absolute;
    right: 2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease-out;
    fill: transparent;
}

.header__form_button:hover {
    fill: #dfdfdf;
}

.header__form_image {
    height: 2rem;
    width: 2rem;
    display: flex;
}

.header__form_icon {
    height: 100%;
    width: 100%;
}

.header__bottom {
    height: 4.5rem;
    display: flex;
    border-top: .1rem solid #E0E0E0;
}

.header__nav {
    flex: 1 0 auto;
    display: flex;
    
}

.header__menu {
    height: 100%;
    flex: 1 0 auto;
    position: relative;
}

.header__menu:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: .1rem;
    margin: auto;
    background: #E0E0E0;
}

.header__menu_item {
    flex: 1 0 auto;
    position: relative;
}

.header__menu_link {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    font: 700 1.5rem / .8 'Nunito Sans', sans-serif;
    letter-spacing: .05em;
    color: #000;
    transition: all .3s ease-out;
    text-transform: uppercase;
}

.header__menu_link:hover {
    color: #000;
    fill: #000;
}

.header__nav .header__menu_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: .1rem;
    margin: auto;
    background: #E0E0E0;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.1rem;
    left: -.1rem;
    height: calc(100% + .1rem);
    max-width: none;
    width: calc(100% + .1rem);
    margin: auto;
    background: #eeeeee;
    transition: all .3s ease-out;
    opacity: 0;
    -webkit-filter: drop-shadow(0rem 0.5rem 1rem rgba(204, 204, 204, 0.3));
}

.header__menu_link:hover:after {
    opacity: 1;
}

.header__menu_icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1rem;
}

.nav__phone {
    display: flex;
    flex-shrink: 0;
    font: 600 1.6rem / 1 'Nunito Sans', sans-serif;
    color: #fff;
    align-items: center;
    padding: 0 2rem;
}

.header__menu_phone {
    font: 700 1.85rem / .8 'Nunito Sans', sans-serif;
    color: #000;
    fill: #000;
}

.color-green {
    
}

.color-red {
    color: #FF9BAA;
}

.text-uppercase {
   text-transform: uppercase;
}

.main {
    padding-top: 16.5rem;
}

.promition {
    height: calc(100vh - 16.5rem - 14rem)
}

.promition__container {
    height: 100%;
}

.promition__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promition__column:first-of-type {
    width: calc(65% - 1rem);
}

.promition__column:last-of-type {
    width: calc(35% - 1rem);
}

.promition__banner01 {
    padding: 10.5rem 6rem 10rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-out;
    background: #fff4db;
}


.promition__banner01:before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -3rem;
    height: 95%;
    width: 100%;
    background: url(../images/banner01.png) 100% 100% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.promition__banner01_title {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.promition__banner_h2 {
    font: 700 5.5rem / .8 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #8B4513;
    text-shadow: .025em .025em .1em rgba(92, 47, 16, 0.5);
}

.promition__banner01_p {
    font: 300 2.75rem / 1.4 'Nunito Sans', sans-serif;
    z-index: 2;
}

.promition__banner01_link {
    font: 600 1.8rem / 1 'Nunito Sans', sans-serif;
    color: #8B4513;
    align-self: flex-start;
    text-transform: uppercase;
    border: .2rem solid #8B4513;
    transition: all .3s ease-out;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .1em;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    padding: 0 5rem;
    z-index: 2;
    
}

.promition__banner01_link:hover {
    background: #8B4513;
    color: #fff;
    text-shadow: .025em .025em .05em rgba(77, 38, 11, 0.3);
}

.promition__banner_h2:not(:first-of-type) {
    margin-top: 2.5rem;
}

.promition__banner {
    padding: 3rem;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    height: calc(50% - 1rem);
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-out;
}

.promition__banner02 {
    background: #ebffff;
}

.promition__banner02:hover {
    background: #ddf4f4;
}

.promition__banner02:before {
    content: '';
    position: absolute;
    top: 0;
    right: -4rem;
    height: 100%;
    width: 100%;
    background: url(../images/banner02.png) 100% 100% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.promition__banner03 {
    background: #fff5f4;
}

.promition__banner03:hover {
    background: #f7eae9;
}

.promition__banner03:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -1rem;
    height: 95%;
    width: 100%;
    background: url(../images/banner03.png) 100% 100% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.promition__banner_info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17.5rem;
    flex: 1 0 auto;
    margin-top: .5rem;
}

.promition__banner_h4 {
    font: 700 3rem / .8 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .05em #008f95;
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0, 143, 149, 0.3));
    margin-top: .35rem;
    
}


.promition__banner_h4:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -0.35rem;
    right: -5rem;
    height: 5rem;
    width: 200%;
    max-width: none;
    background: #00ced6;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2.5rem) 100%, 0% 100%);
}

.promition__banner03 .promition__banner_h4 {
    font: 700 2.4rem / .8 'Josefin Sans', sans-serif;
    text-shadow: .025em .025em .05em #a87768;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(168, 119, 104, 0.3));
}


.promition__banner03 .promition__banner_h4:before {
    background: #daac9d;
}

.promition__banner_discount {
    display: flex;
    align-items: center;
    color: #000;
    margin-top: 1rem;
}

.promition__discount_number {
    font: 700 11rem / .8 'Josefin Sans', sans-serif;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.promition__discount_percent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    height: 100%;
    padding-bottom: 1.1rem;
    
}

.promition__percent_top {
    font: 800 5rem / .8 'Josefin Sans', sans-serif;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.promition__percent_bottom {
    font: 800 3rem / .8 'Josefin Sans', sans-serif;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.promition__banner_p {
    font: 300 2rem / 1 'Nunito Sans', sans-serif;
    color: #000;
    margin-top: 1.5rem;
    text-align: center;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    letter-spacing: .14em;
}

.promition__banner_link {
    font: 600 1.5rem / 1 'Nunito Sans', sans-serif;
    color: #00ced6;
    align-self: flex-start;
    text-transform: uppercase;
    border: .15rem solid #00ced6;
    transition: all .3s ease-out;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .5rem;
    padding-top: .1em;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    
}

.promition__banner03 .promition__banner_link {
    border-color: #daac9d;
    color: #daac9d;
}

.promition__banner_link:hover {
    background: #00ced6;
    color: #fff;
    text-shadow: .025em .025em .05em #008f95;
}

.promition__banner03 .promition__banner_link:hover {
    background: #daac9d;
    text-shadow: .025em .025em .05em #a87768;
}

.promition__banner_image {
    position: absolute;
    height: 35rem;
    width: 30rem;
    right: -6rem;
    top: 0.5rem;
    bottom: 0;
    margin: auto;
}

.footer__advantages_list {
    display: flex;
    padding: 0rem 2rem;
    height: 10rem;
}

.footer__advantages_item {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    flex: 1 0 auto;
}

.footer__advantages_image {
    position: relative;
    margin-right: 2.5rem;
}

.footer__advantages_icon {
    height: 6rem;
    width: 6rem;
    position: relative;
}

.footer__advantages_h4 {
    font: 900 2.2rem / 1 'Nunito Sans', sans-serif;
}

.footer__advantages_p {
    font: 300 2.2rem / 1 'Nunito Sans', sans-serif;
    margin-top: .5rem;
}

.brands {
    height: 10rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.brands__content {
    display: flex;
    align-items: center;
    background: #fff;
    height: 10rem;
    width: 100%;
}

.brands__content_item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.brands__content_link {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
/*    transition: all .3s ease-out;*/
    
}

.brands__content_image:hover {
}

.brands__content_image {
    height: 3.5rem;
    transition: all .3s ease-out;
    position: relative;
    filter: drop-shadow(.25rem .25rem .5rem rgba(0,0,0,.15));
}

.brands__content_link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: #00ff00;
    transition: all .3s ease-out;
    opacity: 0;
    
}

.brands__content_item:nth-of-type(5) .brands__content_link:before {
    left: 20%;
    
}

.brands__content_link:hover:before {
    opacity: 1;
    
}

.brands__content_item:not(:last-of-type) {
    border-right: .1rem solid #e2e2e2;
}

.advantages__list_item:hover .advantages__list_icon {
    transform: scale(1.2);
}


.advantages__list_icon {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 3rem;
    fill: #000;
    transition: all .3s ease-out;
/*    background: linear-gradient(to bottom, #20be55, #1b833f);*/
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    background: #000;
}

.h2__headline {
    font: 700 4rem / .75 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
}

.section__title_link {
    font: 400 2.2rem / 1 'Nunito Sans', sans-serif;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    
}

.section__title_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.section__title_icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
    flex-shrink: 0;
}

.categories__data {
    display: flex;
    width: 100%;
}

.categories__cover {
    width: calc(100% / 5 - .15rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 4rem 3rem 3.5rem;
}

.categories__cover_h3 {
    font: 700 4rem / .75 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    
}

.categories__cover-women {
    background: #effdf0;
}

.categories__cover-man {
    background: #ffe9c9;
}

.categories__cover-girl {
    background: #ffeaee;
}

.categories__cover-boy {
    background: #e7f4fd;
}

.categories__cover-women .categories__cover_h3 {
    color: #20B2AA;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(32, 178, 170, 0.3));
}

.categories__cover-man .categories__cover_h3 {
    color: #D2691E;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(255, 109, 0, 0.3));
}

.categories__cover-girl .categories__cover_h3 {
    color: #DB7093;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(255, 109, 0, 0.3));
}

.categories__cover-boy .categories__cover_h3 {
    color: #00BFFF;
    -webkit-filter: drop-shadow(.25rem .25rem .5rem rgba(0, 191, 255, 0.3));
}

.categories__cover-women:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0;
    height: 55%;
    width: auto;
    margin: auto;
    background: url(../images/woman01.png) 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.categories__cover-man:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0;
    height: 50%;
    width: auto;
    margin: auto;
    background: url(../images/man01.png) 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
/*    background: #00695c*/
}

.categories__cover-girl:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0.5rem;
    right: 0rem;
    left: 0;
    height: 55%;
    width: auto;
    margin: auto;
    background: url(../images/girl01.png) 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
/*    background: #00695c*/
}

.categories__cover-boy:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0;
    height: 55%;
    width: auto;
    margin: auto;
    background: url(../images/boy01.png) 50% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
/*    background: #00695c*/
}

.categories__cover_link {
    font: 600 1.5rem / 1 'Nunito Sans', sans-serif;
    color:#20B2AA;
    align-self: flex-start;
    text-transform: uppercase;
    border: .15rem solid #20B2AA;
    transition: all .3s ease-out;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .1em;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
    z-index: 2;
    align-self: center;
    padding: 0 3rem;
}

.categories__cover-man .categories__cover_link {
    border-color: #D2691E;
    color: #D2691E;
}

.categories__cover-girl .categories__cover_link {
    border-color: #DB7093;
    color: #DB7093;
}

.categories__cover-boy .categories__cover_link {
    border-color: #00BFFF;
    color: #00BFFF;
}


.categories__cover_link:hover {
    background: #20B2AA;
    color: #fff;
    text-shadow: .025em .025em .05em #008f95;
}

.categories__cover-man .categories__cover_link:hover {
    background: #D2691E;
    color: #fff;
    text-shadow: .025em .025em .05em #b24c00;
}

.categories__cover-girl .categories__cover_link:hover {
    background: #DB7093;
    color: #fff;
    text-shadow: .025em .025em .05em #b55c79;
}

.categories__cover-boy .categories__cover_link:hover {
    background: #00BFFF;
    color: #fff;
    text-shadow: .025em .025em .05em #0091c2;
}


.categories__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ededed;
    width: 100%;
}



.categories__content_item {
    width: calc(100% / 5 - .15rem);
    display: flex;
    flex-direction: column;
    position: relative;
/*    box-shadow: 0 0 0 .25rem #ededed;*/
    transition: all .3s ease-out;
}

.categories__content_item:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 2rem 1rem rgba(2, 61, 33, 0.15);
}

.categories__content_link {
    background: #fff;
    padding: 3rem 2rem 3rem;
    transition: all .3s ease-out;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}



.categories__content_image {
    height: 14rem;
    width: 14rem;
    position: relative;
    overflow: visible;
}


.categories__content_image:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: -5rem;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: #f1f1f1;
    transition: all .3s ease-out;
}

.categories__content_link:hover .categories__content_image:before {
    background: #00ff00;
}

.categories__content_image .image-contain {
    position: relative;
    z-index: 2;
    -webkit-filter: drop-shadow(.25rem .25rem 1rem rgba(0,0,0,.25));
}

.categories__content_h4 {
    font: 700 1.5rem / 1 'Nunito Sans', sans-serif;
    text-align: center;
    margin-top: 8rem;
    transition: all .3s ease-out;
    text-transform: uppercase;
}

.categories__content_h5 {
    font: 700 4rem / .75 'Josefin Sans', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
    color: #000;
    transition: all .3s ease-out;
    
}

.categories__content_info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.categories__info_item {
    font: 300 1.3rem / 1 'Nunito Sans', sans-serif;
    text-align: center;
    color: #545454;
}

.categories__info_item:not(:first-of-type) {
    margin-top: 1rem;
}

.categories__content_choose {
    display: flex;
    margin-top: 2.5rem;
    position: absolute;
    top: 0;
    left: 3rem;
    right: 3rem;
    justify-content: space-between;
}

.categories__content_icon {
    height: 3rem;
    width: 3rem;
    fill: transparent;
    transition: all .3s ease-out;
    transform: translate3d(0,0,0);
}

.categories__content_icon:not(:first-of-type) {
    margin-left: 3rem;
}

.categories__content_icon:hover {
    fill: #dfdfdf;
}

.banner {
    
}

.banner__content {
    padding: 8rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: repeating-linear-gradient(
        -45deg,
        #c8ffec,
        #c8ffec 1rem,
        #20B2AA 1rem,
        #20B2AA 2rem
    );
}

.banner__content:before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 0rem;
    bottom: 3rem;
    left: 0rem;
    background-color: #c8ffec;
}

.banner__h2 {
    font: 700 8.5rem / .75 'Josefin Sans', sans-serif;
    letter-spacing: .25em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: .05em .05em .1em rgba(32, 178, 170, 0.3);
    transform: translateX(.115em);
    z-index: 2;
    margin-top: .75rem;
    color: #20B2AA;
}

.banner__p {
    font: 300 3.05rem / .8 'Nunito Sans', sans-serif;
    text-shadow: .05em .05em .1em rgba(32, 178, 170, 0.3);
    margin-top: 2rem;
    text-transform: uppercase;
    z-index: 2;
    color: #20B2AA;
}


.banner__images {
    display: flex;
    margin-left: 2rem;
    flex-shrink: 0;
}

.banner__image {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-right: 5rem;
    overflow: hidden;
    -webkit-filter: drop-shadow(0rem 0rem 2rem rgba(0,0,0,.25));
}

.banner__image img {
    transition: all .3s ease-out;
}

.banner__image:hover img {
    transform: scale(1.2)rotate(-7.5deg);
}

.banner__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.banner__data_h2 {
    font: 400 3.45rem / 1 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_p {
    font: 300 2.1rem / 1.4 'Nunito Sans', sans-serif;
    color: #fff;
    margin-top: 1rem;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_link {
    font: 400 2rem / 1 'Nunito Sans', sans-serif;
    transition: all .3s ease-out;
    color: #fff;
    fill: #fff;
    text-transform: uppercase;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    text-shadow: .025em .025em .05em rgba(0,0,0,.25);
}

.banner__data_icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1.25rem;
    transform: translateY(.05rem);
}

.banner__data_link:hover {
    color: #00BFA5;
    fill: #00BFA5;
}

.footer {
    position: relative;
    
    z-index: 2;
}



.footer__top {
    background: #161616;
}

.footer__top_container {
    padding: 6rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 3rem / 1 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__pay {
    display: flex;
}

.footer__pay_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__pay_link {
    filter: grayscale(100%)brightness(130%);
    transition: all .3s ease-out;
}

.footer__pay_link:hover {
    filter: grayscale(0%)brightness(100%);
}

.footer__pay_image {
    height: 3rem;
}



.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
    fill: #fff;
}

.footer__item:first-of-type .footer__p {
    width: 33rem;
    line-height: 1.75
}

.footer__social {
    display: flex;
    margin-top: 1.25rem;
}

.footer__social_link {
    position: relative;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__social_link:hover {
    fill: #00ff00;
    
}

.footer__social_pic {
    height: 100%;
    width: 100%;
}

.footer__form {
    margin-bottom: .8rem;
    display: flex;
    margin-top: 1.25rem;
}

.footer__form_input {
    height: 4rem;
    width: 26rem;
    padding: 0 4rem 0 1.75rem;
    border: .2rem solid #fff;
    border-right: none;
    font: 400 1.6rem / 1 'Nunito Sans', sans-serif;
    color: #00ff00;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #fff;
}

.footer__form_input:focus {
    border-color: #00ff00;
    border-right: none;
}

.footer__form_button {
    height: 4rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 0;
    background: none;
    border: 0.2rem solid #fff;
    padding: 0 3rem;
}

.footer__form_button:hover {
    border-color: #00ff00;
    background: #00ff00;
    box-shadow: 0 0 2rem rgba(0,0,0,0);
    color: #000;
}


.footer__contact_link {
    transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.footer__contact_link:hover {
    color: #00ff00;
    fill: #00ff00;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
}

.footer__bottom {
    padding: 3rem 0;
    background: #000;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_link {
    position: relative;
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__bottom_link:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background-color: #F5F5F5;
    opacity: .25;
}

.footer__bottom_link:hover {
    color: #00ff00;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1.5 'Nunito Sans', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}