/*   My Normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

button,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #FFA500;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb:hover {
    background: #FFA500;
}

/*      Content      */

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 154rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.button {
    position: relative;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .25rem 1rem rgba(0,0,0,.1);
    background: #FFA500;
    font: 700 1.6rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.button:hover {
    background: #FF6F00;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    background-color: #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.1), 0 .5rem 1rem rgba(0,0,0,.2);
}

.header__top_container {
    height: 9.5rem;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex-shrink: 0;
}

.header__logo_link {
    display: flex;
    align-items: center;
}

.header__logo_image {
    display: flex;
    height: 7rem;
    margin-right: 1.5rem;
    font: 400 2rem / 1 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.header__logo_text {
    display: flex;
    font: 400 5rem / 1 'Righteous', cursive;
    text-transform: uppercase;
}

.color-light {
    color: #109a49;
    transition: all .3s ease-out;
}

.color-dark {
    color: #3078bd;
    transition: all .3s ease-out;
}

.header__top_panel {
    display: flex;
    flex-shrink: 0;
/*    border-left: .1rem solid #d6d6d6;*/
}

.header__top_item {
    position: relative;
/*    border-right: .1rem solid #d6d6d6;*/
}

.header__top_item:not(:first-of-type) {
    margin-left: 6rem;
}

.header__top_link {
    display: flex;
    align-items: center;
    color: #3078bd;
    color: #000;
    transition: all .3s ease-out;
}

.header__top_link:hover {
    color: #109a49;
}

.header__top_text {
    font: 600 1.85rem / 1 'Montserrat', sans-serif;
    margin-left: 1.5rem;
}

.header__top_icon {
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
}

.header__nav {
    background: #109a49;
}

.header__menu {
    width: 100%;
    display: flex;
}

.header__menu_item {
    position: relative;
    flex: 1 0 auto;
}

.header__menu_item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + .1rem);
    max-width: none;
    padding: 0 1rem;
    background: #0e8740;
    opacity: 0;
    transition: all .3s ease-out;
}

.header__menu_item:hover:before {
    opacity: 1;
}

.header__menu_item:last-of-type .header__menu_link {
    border-right: .1rem solid #0e8740;
}

.header__menu_link {
    position: relative;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: .1rem solid #0e8740;
    font: 600 1.4rem / 1 'Montserrat', sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}

.main {
    padding-top: 16rem;
    padding-bottom: 2rem;
}

.code {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    padding-bottom: 1rem;
    background: #3078bd;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
    transition: all .3s ease-out;
}

.code__input {
    display: none;
}

.code__label {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2rem;
}

.code__h2 {
    z-index: 2;
    display: flex;
    align-items: center;
    font: 400 3.225rem / .725 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-out;
}

.code__h2:hover {
    color: #FFA500;
}

.code__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #3078bd;
    display: flex;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    margin-bottom: -4.5rem;
    transition: all .3s ease-out;
}

.code__form_input {
    background: #fff;
    height: 4.5rem;
    padding: 0 3rem;
    flex: 1 0 auto;
    font: 500 1.6rem / .7 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    color: #FFA500;
    border: .15rem solid #fff;
    transition: all .3s ease-out;
}

.code__form_input::-webkit-input-placeholder {
    color: #3078bd;
}

.code__form_input::-moz-placeholder {
    color: #3078bd;
    opacity: 1;
}

.code__form_input:-ms-input-placeholder {
    color: #3078bd;
}

.code__form_input:focus {
    border-color: #FFA500;
}

.code__form_button {
    height: 4.5rem;
    background: #FFA500;
    font: 700 1.5rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0 3rem;
    color: #fff;
    transition: all .3s ease-out;
}

.code__form_button:hover {
    background: #FF6F00;
}

.code__input:checked + .code__label + .code__form {
    height: auto;
    transform: scale(1);
    margin-bottom: 2rem;
}

.details-form {
    display: flex;
    justify-content: space-between;
    
}

.details-form__column {
    width: calc(100% / 2 - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.details-form__column_wrapper {
    position: sticky;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.details-form__h2 {
    font: 600 2.5rem / .7 'Montserrat', sans-serif;
    padding: 2rem;
    text-align: center;
    background: #A9A9A9;
    color: #fff;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
    text-transform: capitalize;
    margin-top: 2rem;
}

.details-form__pay_item {
    margin-top: 1rem;
}

.details-form__pay_input {
    display: none;
}

.page-content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.details__form {
    display: flex;
    flex-direction: column;
}

.details__form_item {
    margin-top: 1rem;
    position: relative;
    display: flex;
}

.details__form_input {
    height: 4.5rem;
    background: #fff;
    
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
    font: 500 1.6rem / 1.4 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    padding-left: 6rem;
    border: .15rem solid #0e8740;
    transition: all .3s ease-out;
    color: #FFA500;
}

.details__form_input::-webkit-input-placeholder {
    color: #0e8740;
}

.details__form_input::-moz-placeholder {
    color: #0e8740;
    opacity: 1;
}

.details__form_input:-ms-input-placeholder {
    color: #0e8740;
}

.details__form_input:focus {
    border-color: #FFA500;
}

.details__form_image {
    height: 4.5rem;
    width: 4.5rem;
    background: #0e8740;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
}

.details__form_input:focus + .details__form_image {
    background: #FFA500;
}

.details__form_icon {
    height: 60%;
    width: 60%;
    fill: #fff;
}

.details__form_textarea {
    resize: none;
    height: 22rem;
    padding-top: 1.5rem;
}

.details-form__pay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details-form__pay_label {
    display: flex;
    cursor: pointer;
    
}

.details-form__pay_check {
    height: 4.5rem;
    width: 4.5rem;
    border: .15rem solid #0e8740;
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
}

.details-form__pay_pick {
    height: 40%;
    width: 40%;
    border: .15rem solid #0e8740;
    transition: all .3s ease-out;
    
}

.details-form__pay_input:checked + .details-form__pay_label .details-form__pay_pick {
    background: #0e8740;
}

.details-form__pay_p {
    min-height: 4.5rem;
    background: #fff;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
    font: 500 1.6rem / 1.4 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    transition: all .3s ease-out;
}

.details-form__pay_label:hover .details-form__pay_p {
    color: #0e8740;
}

.details-form__result {
    background: #3078bd;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
    
    margin-top: 2rem;
    color: #fff;
}

.details-form__result_row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem 2.1rem;
    border-bottom: .1rem solid #1e66aa;
    transition: all .3s ease-out;
}

.details-form__result_row:hover {
    background: #1e66aa;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
    padding-left: 2rem;
    text-align: right;
}

.fl-end {
    text-align: right;
    justify-content: flex-end;
}

.details-form__result_h3 {
    font: 600 2rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.details-form__result_p {
    font: 400 1.8rem / 1.4 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}

.details-form__result_image {
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 2rem;
    background: #F5F5F5 url(../images/home01.png) 50% 50% / cover no-repeat;
}

.details-form__button {
    height: 5.5rem;
    background: #FFA500;
    font: 700 1.8rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0 2rem;
    color: #fff;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.1);
    width: 100%;
    transition: all .3s ease-out;
}

.details-form__button:hover {
    background: #FF6F00;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}