/*      Client Page      */

.client-page-home {
    position: relative;
    height: 100vh;
    display: flex;
    padding: 0;
    overflow: hidden;
    background: #272727;
    background: url(../images/hedge-fund-bg.png) 50% 50% / cover no-repeat;
}

.client-page-home__container {
    padding: 9rem 2rem 2rem;
    justify-content: center;
    align-items: center;
}

.client-page-home__form {
    display: flex;
    flex-direction: column;
    width: 70rem;
}

.client-page-home__form_h2 {
    font: 400 5.2875rem / 1 'Good Times', sans-serif;
    color: #fff;
/*    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);*/
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
    text-align: center;
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.client-page-home__form_h3 {
    font: 400 3.23rem / 1 'Good Times', sans-serif;
    color: #fff;
/*    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);*/
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
    text-align: center;
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.client-page-home__form_item {
    position: relative;
    margin-top: 3rem;
}

.client-page-home__form_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/gold02.png) 50% 50% / cover no-repeat;
    fill: #000;
}

.client-page-home__form_pic {
    height: 3.5rem;
    width: 3.5rem;
}

.client-page-home__form_input {
    height: 6rem;
    border: .15rem solid #fff;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    font: 400 2rem / 1 'Montserrat', sans-serif;
    transition: all .3s ease-out;
    padding-left: 9rem;
    color: #D9B854;
}

.client-page-home__form_input:focus {
    border-color: #D9B854;
}

.client-page-home__form_input::-webkit-input-placeholder {
    color: #fff;
}

.client-page-home__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.client-page-home__form_input:-ms-input-placeholder {
    color: #fff;
}

.client-page-home__form_button {
    margin-top: 3rem;
    height: 6rem;
    font-size: 2rem;
}

.client-page-home__form_link {
    align-self: center;
    margin-top: 5rem;
    font: 600 1.6rem / 1 'Montserrat', sans-serif;
    color: #fff;
    transition: all .3s ease-out;
}

.client-page-home__form_link:hover {
    color: #D9B854;
}

















