/*   Fonts   */

@font-face {
    font-family: 'Good Times';
    src: url('../fonts/goodtimes/goodtimes.woff') format('woff'),
    url('../fonts/goodtimes/goodtimes.woff2') format('woff2'),
    url('../fonts/goodtimes/goodtimes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #ECF7FE;
    color: #002f4f;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #aaf067;
    color: #030460;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaf067;
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    margin-top: 2rem;
}

.anchor {
    position: absolute;
    top: -5rem;
}

.content {
    width: calc(50% - 3rem);
    display: flex;
    flex-shrink: 0;
}

.content-row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.content-column {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.p-text {
    margin-top: 2rem;
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
    color: #4a4a4a;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.button {
    position: relative;
    height: 5.5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
}

.button:hover {
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.1);
}

.button-margin {
    margin-top: 3.5rem;
}

.page-title {
    position: fixed;
    top: 9rem;
    left: 0;
    right: 0;
    background: url(../images/page-top-bg03.png) 50% 50% / cover no-repeat;
}

.page-title__container {
    align-items: center;
}

.page-title__h2 {
    background: url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 900 5rem / 1 'Cinzel', serif;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0,0,0,.025), 0 .75rem 1.5rem rgba(0,0,0,.05);
}


.header__container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 25%;
    height: 100%;
    width: 100vw;
    max-width: none;
    background: #fff;
}

.header__container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 75%;
    height: 100%;
    width: 100vw;
    max-width: none;
    background: #002f4f;
}

.header__container {
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header__logo_link {
    display: flex;
    align-items: center;
}

.header__logo_image {
    height: 6rem;
    background: #D9B854 url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 2rem / 1 'Cinzel', serif;
    text-align: center;
    color: #D9B854;
    -webkit-filter: drop-shadow(.1em .1em .2em rgba(0,0,0,.15));
}

.header__logo_text {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.header__logo_top {
    background: #D9B854 url(../images/stone01.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 900 3.5rem / 1 'Cinzel', serif;
    text-align: center;
    color: #D9B854;
    letter-spacing: .05em
}

.header__logo_bottom {
    background: #D9B854 url(../images/stone02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 700 1rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #D9B854;
    letter-spacing: .25em
}

.header__nav {
    height: 100%;
}

.header__menu {
    display: flex;
    height: 100%;
}

.header__menu_item:not(:last-of-type) {
    margin-right: 8rem;
}

.header__menu_link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font: 700 1.6rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s ease-out;
    letter-spacing: 0.025em;
}

.header__menu_link:hover {
    color: #00BFFF;
}

.header__menu_link:before {
    content: '';
    position: absolute;
    height: 0rem;
    width: 100%;
    left: 0;
    top: 0;
    background: #00BFFF;
    transition: all .3s ease-out;
}

.header__menu_link:after {
    content: '';
    position: absolute;
    height: 0rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #00BFFF;
    transition: all .3s ease-out;
}

.header__menu_link:hover:before {
    height: .2rem;
    top: 2rem;
}

.header__menu_link:hover:after {
    height: .2rem;
    bottom: 2rem;
}

.header__call {
    position: relative;
    z-index: 5;
    width: calc(25% - 1rem);
/*    background: rgba(39, 22, 19, 0.37);*/
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__call_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__call_top {
    font: 400 1.55rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #fff;
    transition: all .3s ease-out;
}

.header__call_bottom {
    font: 700 3rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top: .5rem;
    color: #00BFFF;
    transition: all .3s ease-out;
}

.header__call_link:hover .header__call_top {
    color: #00BFFF;
}

.header__call_link:hover .header__call_bottom {
    color: #fff;
}

.page-header {
    position: relative;
    height: 100vh;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
}

.page-header {
    position: relative;
}

.page-header:before {
    content: '';
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3E4854 url("../images/home-bg04.png") 50% 40% / cover no-repeat;
}

.home__container {
    padding: 9rem 2rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home__h2 {
    font: 700 6.5rem / .75 'Roboto Condensed', sans-serif;
    text-align: center;
    letter-spacing: .025em;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
}

.home__h3 {
    font: 700 8.025rem / .75 'Roboto Condensed', sans-serif;
    text-align: center;
    letter-spacing: .025em;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
    margin-top: 2rem;
    color: #00BFFF;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
}

.home__p {
    width: 43.9%;
    margin-top: 5rem;
    font: 400 2rem / 1.5 'Roboto', sans-serif;
    text-align: justify;
    text-align-last: justify;
    z-index: 2;
    color: #fff;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));
}

.home__button {
    background: #002f4f;
    font: 700 1.8rem / .75 'Roboto Condensed', sans-serif;
    flex-shrink: 0;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    padding-top: .25rem;
    height: 5rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.25);
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    background: #00BFFF;
    padding: 0 3rem;
}

.home__button:hover {
    background: #fff;
    color: #00BFFF;
}
.home__bg {
    position: absolute;
    top: 0;
    left: 75%;
    width: 100vw;
    max-width: none;
    bottom: 0;
    overflow: hidden;
}

.home__bg_circle {
    position: absolute;
    right: -50%;
    bottom: 0%;
    height: 400%;
    width: 150%;
    max-width: none;
    background: #89B75C;
    -webkit-clip-path: ellipse(50% 50% at 0% 50%);
}

.home__bg_grass {
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 100vh;
    width: 100vw;
    max-width: none;
    background: #89B75C;
    background: url("../images/home-bg10.png") 50% 50% / cover no-repeat;
}

.home__bg_dog {
    position: absolute;
    top: 9rem;
    right: 5.5%;
    bottom: 0;
    height: 90vh;
    width: 68.5vh;
    margin: auto;
    background: url("../images/dog01.png") 50% 50% / cover no-repeat;
}



.main {
    width: calc(75% - 1rem);
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main__list {
    position: sticky;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.h2-headline {
    font: 700 5rem / .75 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #002f4f;
    position: relative;
    align-self: center;
}

.h2-headline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 100%;
    width: .2rem;
    background: #fff;
}

.h2-headline:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0.8rem;
    height: 100%;
    width: .2rem;
    background: #fff;
}

.services__h2 {
    color: #fff;
}

.services__h2:before {
    background: #002f4f;
}

.services__h2:after {
    background: #002f4f;
}

.h3-headline {
    font: 600 1.9rem / .75 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}

.services__h3 {
    color: #fff;
}

.services {
    background: #002f4f;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 2.66rem);
    margin-top: 4rem;
}

.services__list_image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background: rgba(0, 191, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00BFFF;
}

.services__list_pic {
    height: 50%;
    width: 50%;
    fill: #fff;
    
}

.services__list_h4 {
    font: 300 2rem / 1.1 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}

.competencies {
    background: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
}

.competencies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.competencies__list_item {
    display: flex;
    width: calc(100% / 2 - 2rem);
    margin-top: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.competencies__list_item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    border: .2rem solid #002f4f;*/
}

.competencies__list_item:after {
    content: '';
    position: absolute;
    top: 0.5rem;
    right: .5rem;
    bottom: .5rem;
    left: .5rem;
/*    border: .2rem solid #002f4f;*/
}

.competencies__list_image {
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #EDF7FB;
    border-radius: 50%;
    margin-right: 2rem;
}


.competencies__list_pic {
    height: 50%;
    width: 50%;
    fill: url(#Gradient1);
    z-index: 2;
    
}

.competencies__list_h4 {
    font: 300 2rem / 1.1 'Roboto', sans-serif;
    color: #002f4f;
    text-transform: capitalize;
}

.numbers {
    background: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    background: #002f4f;
}

.numbers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -4rem;
}

.numbers__list_item {
    display: flex;
    align-items: center;
    width: calc(100%);
    margin-top: 4rem;
}

.numbers__list_h4 {
    font: 800 8rem / .75 'Montserrat', sans-serif;
    color: #00BFFF;
    margin-right: 4rem;
/*    background: linear-gradient(to top, #3C9CC0, #47B7DB);*/
/*    -webkit-text-fill-color: transparent;*/
/*    -webkit-background-clip: text;*/
}

.numbers__list_h5 {
    font: 700 4rem / 1 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.numbers__list_p {
    font: 300 2rem / 1 'Roboto', sans-serif;
    color: #fff;
    margin-top: .5rem;
}

.contact {
    background: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    
}

.contact__map {
    margin-top: 4rem;
    position: relative;
}

.contact__image {
    width: 100%;
    position: relative;
}

.dot {
    z-index: 5;
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    animation: do 2s infinite ease-in-out;
}

.dot01 {
    right: 15%;
    bottom: 14%;
}

.dot02 {
    right: 20%;
    bottom: 37%;
}

.dot03 {
    right: 49%;
    top: 42%;
}

.dot04 {
    right: 49%;
    bottom: 32%;
}

.dot05 {
    left: 21%;
    top: 49%;
}

.dot06 {
    left: 31%;
    bottom: 15%;
}

@keyframes dot {
    0% {transform: scale(1)}
    50% {transform: scale(1.3)}
    100% {transform: scale(1)}
}

@keyframes dot02 {
    100% {transform: scale(1.5);opacity: 0;}
}

.dot:before {
    content: '';
    position: absolute;
    top: -40%;
    left: -40%;
    height: 180%;
    width: 180%;
    max-width: none;
    border-radius: 50%;
    background: #00BFFF;
    background: radial-gradient(rgba(0, 191, 255, 0.15), rgba(0, 191, 255, 0.65));
    transition: all .3s ease-out;
}

.dot:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    max-width: none;
    border-radius: 50%;
    background: #00BFFF;
    cursor: pointer;
    transition: all .3s ease-out;
}

.dot01:before {
    animation: dot02 2s infinite linear;
}

.dot01:after {
    animation: dot 4s infinite linear;
}

.dot02:before {
    animation: dot02 1.5s infinite linear -1s;
}

.dot02:after {
    animation: dot 3s infinite linear -1s;
}

.dot03:before {
    animation: dot02 1.5s infinite linear -2s;
}

.dot03:after {
    animation: dot 3s infinite linear -2s;
}

.dot04:before {
    animation: dot02 1.5s infinite linear -3s;
}

.dot04:after {
    animation: dot 3s infinite linear -3s;
}

.dot06:before {
    animation: dot02 1.5s infinite linear -3.5s;
}

.dot06:after {
    animation: dot 3s infinite linear -3.5s;
}

.dot05:before {
    animation: dot02 1.5s infinite linear -4s;
}

.dot05:after {
    animation: dot 3s infinite linear -4s;
}

.dot__info {
    position: absolute;
    z-index: 10;
    top: -12.5rem;
    left: -12.5rem;
    height: 28rem;
    width: 28rem;
    background: rgba(0, 40, 68, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    max-width: none;
    padding: 3rem;
    text-align: center;
    color: #fff;
    transform: scale(0);
    transform-origin: 50 50;
    transition: all .3s ease-out;
}

.dot__info_h3 {
    margin-top: .5rem;
    font: 700 3rem / 1 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.dot__info_p {
    margin-top: 1.75rem;
    font: 400 1.6rem / 1.5 'Roboto', sans-serif;
    margin-bottom: .75rem;
}

.dot__info_link {
    font: 400 1.6rem / 1 'Roboto', sans-serif;
    margin-top: 1.25rem;
    color: #00BFFF;
    transition: all .3s ease-out;
}

.dot__info_link:hover {
    color: #79deff;
}

.dot:hover .dot__info {
    transform: scale(1);
}

.dot:hover:after,
.dot:hover:before {
    opacity: 0;
}

.aside {
    width: calc(25% - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.aside__list {
    position: sticky;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.aside__list_link {
    background: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.aside__list_image {
    height: 25rem;
    background: #d4d4d4;
}

.aside__list_info {
    display: flex;
    align-items: center;
    padding: 2rem;
    background: #fff;
    transition: all .3s ease-out;
}

.aside__list_link:hover .aside__list_info {
    background: #002f4f;
}

.aside__list_date {
    background: #00BFFF;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    height: 5rem;
    width: 5rem;
    color: #fff;
    
}

.aside__list_number {
    font: 700 2rem / 1 'Montserrat', sans-serif;
}

.aside__list_month {
    font: 600 1.2rem / 1 'Roboto', sans-serif;
    text-transform: uppercase;
}

.aside__list_h4 {
    font: 700 2.2rem / 1.25 'Roboto Condensed', sans-serif;
    color: #002f4f;
    transition: all .3s ease-out;
}

.aside__list_link:hover .aside__list_h4 {
    color: #fff;
}

.banner__content {
    background: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    margin-top: 2rem;
    padding: 4rem;
    width: 100%;
    background: linear-gradient(to top, #3C9CC0, #47B7DB);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00BFFF;
}

.banner__h2 {
    font: 900 4.5rem / .75 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.button {
    background: #002f4f;
    font: 700 2.2rem / .75 'Roboto Condensed', sans-serif;
    flex-shrink: 0;
    width: calc(25% - 3rem);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    padding-top: .25rem;
    height: 6rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.075);
    transition: all .3s ease-out;
}

.button:hover {
    background: #fff;
    color: #002f4f;
}

.footer {
    position: relative;
    background: #002f4f;
    margin-top: 2rem;
}

.footer__top_container {
    padding: 6rem 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 4rem / 1 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Roboto', sans-serif;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
}

.footer__item:first-of-type .footer__p {
    width: 39rem;
    text-align: justify;
}

.footer__data_link {
    display: flex;
    align-items: center;
    fill: #fff;
}

.footer__data_link:hover,
.footer__data_link:hover .footer__p {
    color: #00BFFF;
    fill: #00BFFF;
}

.footer__data_link .footer__p {
    padding-top: .25rem;
}

.footer__data_pic {
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1.5rem;
    transition: all .3s ease-out;
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    position: relative;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: all .3s ease-out;
    background: #00BFFF;
}

.footer__social_link:hover {
    background: #00a2d9;
}

.footer__social_pic {
    height: 1.8rem;
    width: 1.8rem;
    transition: all .3s ease-out;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4rem;
    width: 22rem;
    padding: 0 1.5rem;
    border: .2rem solid #fff;
    border-right: none;
    font: 400 1.6rem / 1 'Roboto', sans-serif;
    color: #00BFFF;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border-color: #00BFFF;
}

.footer__form_button {
    height: 4rem;
    font: 800 1.6rem / 1 'Roboto', sans-serif;
    background: #00BFFF;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 0 3rem;
}

.footer__form_button:hover {
    background: #00a2d9;
}

.footer__bottom {
    padding: 3rem 0;
    background: #002944;
}

.footer__bottom_container {
    align-items: center;
}

.footer__info {
    display: flex;
}

.footer__info_item {
    position: relative;
}

.footer__info_item:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__info_item:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background: #fff;
    opacity: .25;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1 'Roboto', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}