/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #ffa502;
    color: #000;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top right, #FC6404, #FCE404);
}

.m-0 {
    margin: 0 !important;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/*      Content      */

.container-image {
    position: relative;
    flex-shrink: 0;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.container-row,
.container-column {
    position: relative;
    z-index: 2;
    width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
}

.container-row {
    justify-content: space-between;
}

.container-column {
    flex-direction: column;
}

.section {
    position: relative;
    padding: 15rem 0;
    background: #fff;
}

.anchor {
    position: absolute;
    top: -5rem;
}

.h2-headline {
    font: 400 6.5rem / .9 'Heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
    word-spacing: .15em;
}

.h3-headline {
    margin: 1rem 0 2rem;
    background: #D9B854 url(../images/gold02.png) 50% 50% / cover no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font: 400 5rem / 1 'Good Times', sans-serif;
    color: #D9B854;
}

.p-text {
    margin-top: 2rem;
    font: 400 2rem / 1.5 'Montserrat', sans-serif;
    text-align: justify;
}

.text-center {
    text-align: center;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0,0,0);
    transition: all .3s ease-out;
    background: #fff;
}

.header__fixed {
    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.05);
    background: #fff;
}

.header__container {
    justify-content: space-between;
    height: 9rem;
    align-items: center;
}

.header__logo_link {
    display: flex;
}

.header__logo_image {
    height: 6.5rem;
    transition: all .3s ease-out;
    -webkit-filter: grayscale(0%)drop-shadow(.5em .5em 1em rgba(0,0,0,.15));
/*    -webkit-filter: grayscale(100%)drop-shadow(.05em .05em .1em rgba(0,0,0,.25))brightness(0);*/
}

.header__logo_image:hover {
/*    -webkit-filter: grayscale(0%)drop-shadow(.05em .05em .1em rgba(0,0,0,.25))brightness(100%);*/
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 8rem;
}

.header__menu_link {
    display: flex;
    font: 700 1.5rem / .9 'Heebo', sans-serif;
    transition: all .3s ease-out;
    text-transform: uppercase;
    position: relative;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}



.header__menu_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 100%;
    background: #fdbd32;
    background: linear-gradient(to top, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.header__menu_link:hover:before {
    height: 100%;
}

.header__button {
    position: relative;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.15);
    border: .4rem solid #fdbd32;
    border-image: linear-gradient(to top right, #FC6404, #FCE404) 10%;
}

.header__button:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.header__button:hover:before {
    height: 100%;
}

.header__button .button__text {
    font: 700 1.5rem / .85 'Heebo', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-transform: uppercase;
    transition: all .3s ease-out;
    color: #000;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    padding-top: .075em;
}

.home {
    height: 100vh;
    display: flex;
    padding: 0;
    background: #f5f5f5;
    overflow: hidden;
}

.home:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35%;
    width: 100%;
    background/: url(../images/logo-black.png) 0% 0 / contain no-repeat;
    opacity: .05;
}

.home__container {
    padding: 12rem 2rem 2rem;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.home__container:before {
    content: '';
    position: absolute;
    top: 9rem;
    bottom: 0;
    left: 74%;
    height: 100%;
    width: 35%;
    margin: auto;
    background: url(../images/plus.svg) 0% 0 / cover repeat;
    background-size: 1.5rem 1.5rem;
    max-width: none;
    width: 50vw;
}

.home__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    z-index: 3;
}

.home__after {
    content: '';
    position: absolute;
    top: 10rem;
    bottom: 0;
    right: 0rem;
    width: 50%;
    height: 72.5%;
    margin: auto;
    background: url(../images/home06.png) 50% 50% / contain no-repeat;
    transition: all .3s ease-out;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
    
}

.home__button:hover ~ .home__after {
    -webkit-filter: grayscale(0%)drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
}

.home__h2 {
    font: 700 11rem / 1 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
/*    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));*/
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    position: relative;
    color: #000;
/*
    background: linear-gradient(to top right, #FC6404, #FCE404);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
*/
    margin-left: -.75rem;
/*    background: #fff;*/
}

.home__h2:not(:first-of-type) {
    margin-top: -1.5rem;
}


.home__h2:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 2.6rem;
    right: 0.5rem;
    height: 8.6rem;
    width: 100vw;
    max-width: none;
    background: #000;
    opacity: .075;
}

.home__p {
    font: 300 2rem / 1.6 'Heebo', sans-serif;
    margin-top: 3rem;
/*    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0,0,0,.25));*/
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    margin-left: -.15rem;
}

.home__button {
    margin-top: 5rem;
}

.home__button {
    position: relative;
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.15);
    border: .4rem solid #fdbd32;
    border-image: linear-gradient(to top right, #FC6404, #FCE404) 10%;
}

.home__button:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: all .3s ease-out;
}

.home__button:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.home__button:hover:after {
    height: 100%;
}

.home__button .button__text {
    font: 700 1.8rem / .85 'Heebo', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-transform: uppercase;
    transition: all .3s ease-out;
    color: #000;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    padding-top: .075em;
}

.approach {
    padding-top: 11rem;
}

.approach__h2 {
    font: 700 5.75rem / 1.25 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.approach__list {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.approach__list_item {
    width: calc(100% / 3 - 1rem);
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
    transition: all .3s ease-out;
    background: #fff;
    position: relative;
}

.approach__list_link {
    transition: all .3s ease-out;
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    
}

.approach__list_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: .5rem solid #fdbd32;
    border-image: linear-gradient(to top right, #FC6404, #FCE404) 10%;
    opacity: 0;
    transition: all .3s ease-out;
}

.approach__list_item:hover:before {
    opacity: 1;
}


.approach__list_item:hover {
    z-index: 5;
    transform: translateY(-2rem);
    box-shadow: 0 0 4rem 0 rgba(0,0,0,0.2);
}

.approach__list_pic {
    height: 15rem;
    width: 15rem;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.1));
}

.approach__list_image {
    height: 30rem;
    width: 100%;
    flex-shrink: 0;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
    position: relative;
}

.approach__list_item:nth-of-type(3) .approach__list_image:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0;
    left: 48.5%;
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/plus.svg) 0% 0 / cover repeat;
    background-size: 1rem 1rem;
    max-width: none;
}

.approach__list_item:nth-of-type(2) .approach__list_image:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 62%;
    left: 0%;
    right: 0;
    height: 100%;
    width: 80%;
    margin: auto;
    background: url(../images/plus.svg) 0% 0 / cover repeat;
    background-size: 1rem 1rem;
    max-width: none;
}

.approach__list_item:nth-of-type(1) .approach__list_image:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0;
    right: 52%;
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../images/plus.svg) 0% 0 / cover repeat;
    background-size: 1rem 1rem;
    max-width: none;
}

.approach__list_item:nth-of-type(2n + 1) .approach__list_pic {
    fill: url(#Gradient1);
}


.approach__list_h4 {
    font: 700 2.2rem / 1 'Heebo', sans-serif;
    margin-top: 5rem;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.approach__list_p {
    font: 300 1.8rem / 1.5 'Heebo', sans-serif;
    margin-top: 2rem;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    margin-top: 2.5rem;
}

.problems {
    height: 50rem;
    position: relative;
    z-index: 3;
    margin-top: 7rem;
    margin-bottom: 6rem;
}

.problems__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.problems__bg_item {
    width: 100%;
    height: calc(100% / 3 - .75rem);
    background: #f5f5f5;
}

.problems__container {
    height: 100%;
    align-items: center;
}

.problems:before {
    content: '';
    position: absolute;
    top: -10rem;
    bottom: 0;
    left: 0%;
    right: 0;
    margin: 0 auto;
    background: url(../images/plus.svg) 50% 0 / cover repeat;
    background-size: 1.5rem 1.5rem;
    max-width: none;
    height: 70rem;
    width: 70rem;
}

.problems__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 60rem;
    width: 60rem;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
}

.problems__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 34rem);
    height: 100%;
}

.problems__list:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.problems__list_item:not(:first-of-type) {
/*    margin-top: 4rem;*/
}

.problems__list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.15));
    height: calc(100% / 3 - .75rem);
}

.problems__list_h4 {
    font: 900 7rem / 1 'Heebo', sans-serif;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all .3s ease-out;
    transform-origin: 0% 100%;
    
}

.problems__list:nth-of-type(2) .problems__list_h4 {
    transform-origin: 100% 100%;
    
}

.problems__list_item:hover .problems__list_h4 {
    transform: scale(1.25);
}

.problems__list_p {
    font: 400 2.4rem / 1 'Heebo', sans-serif;
    text-transform: uppercase;
    margin-top: 0.5rem;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}


.testimonials:before {
    content: '';
    position: absolute;
    bottom: -4.25rem;
    right: 0;
    left: 0;
    margin: auto;
    background:  url(../images/logo16.png) 50% 100% / contain no-repeat;
    height: 20%;
    width: 100%;
}

.testimonials__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.testimonials__content_item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 1rem);
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
    transition: all .3s ease-out;
    margin-top: 1.5rem;
}

.testimonials__content_item:hover {
    transition: all .3s ease-out;
}

.testimonials__content_link {
    height: 35rem;
    position: relative;
    display: flex;
    overflow: hidden;
}

.testimonials__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

.testimonials__content_link:hover .testimonials__image {
    filter: invert(100%)grayscale(100%)
}

.testimonials__content_info {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    
    text-transform: capitalize;
    top: 100%;
    top: 0;
    position: relative;
    transition: all .3s ease-out;
}

.testimonials__content_link:hover .testimonials__content_info {
}

.testimonials__content_list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials__list_item {
    background: linear-gradient(to top right, #FC6404, #FCE404);
    width: 15rem;
    font: 600 1.8rem / .75 'Heebo', sans-serif;
    height: 4.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-out;
    text-transform: uppercase;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.testimonials__list_item:nth-of-type(1){
    right: 25rem;
}

.testimonials__list_item:nth-of-type(2){
    left: 25rem;
}

.testimonials__list_item:nth-of-type(3){
    top: 20rem;
}

.testimonials__content_link:hover .testimonials__list_item:nth-of-type(1) {
    right: 0;
}

.testimonials__content_link:hover .testimonials__list_item:nth-of-type(2) {
    left: 0;
}

.testimonials__content_link:hover .testimonials__list_item:nth-of-type(3) {
    top: 0;
}

.testimonials__list_item:not(:first-of-type) {
    margin-top: .5rem;
}

.testimonials__content_h4 {
    position: relative;
    text-align: center;
}

.testimonials__content_h4:before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    margin: auto;
    height: 10rem;
    width: .3rem;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.testimonials__content_link:hover .testimonials__content_h4:before {
   top: -4rem;
}

.hotels__button {
    align-self: center;
    margin-top: 5rem;
    height: 5rem;
}

.hotels__button .button__text {
    font-size: 1.8rem;
}

.solutions {
    position: relative;
    background: #f5f5f5;
    margin-top: 4rem;
    z-index: 5;
}

.solutions__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.solutions__wrapper {
    overflow: hidden;
}

.solutions__container {
    justify-content: flex-end;
}

.solutions__image_container {
    height: 100%;
}

.solutions__image_container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2rem;
    width: 55%;
    height: calc(100% + 12rem);
    background: url(../images/solutions05.png) 0% 50% / contain no-repeat;
    -webkit-filter: drop-shadow(.5rem .5rem 1rem rgba(0,0,0,.25));
    transition: all .3s ease-out;
}

.solutions__image_container:before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0;
    right: 68%;
    height: 100%;
    width: 35%;
    margin: auto;
    background-image: linear-gradient(90deg, transparent 10%, #f5f5f5 10%),
    linear-gradient(#000 10%, #f5f5f5 10%);
    background: url(../images/plus.svg) 50% 0 / cover repeat;
    background-size: 1.5rem 1.5rem;
    max-width: none;
    width: calc(50vw);
    
}



.solutions__content {
    width: calc(50% + 12rem);
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    z-index: 2;
    align-items: flex-end;
}

.solutions__h2 {
    font: 700 7rem / 1 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    position: relative;
    color: #000;
}

.solutions__h2:not(:first-of-type) {
    margin-top: -.5rem;
}


.solutions__h2:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 1.75rem;
    left: 0.5rem;
    height: 5.5rem;
    width: 100vw;
    max-width: none;
    background: #000;
    opacity: .075;
}

.solutions__h2 {
    text-align: left;
    text-align: right
}

.solutions__p {
    font: 300 2.4rem / 1.4 'Heebo', sans-serif;
    margin-top: 3rem;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
    text-align: justify;
    text-align-last: justify;
}

.solutions__p:nth-of-type(1) {
    padding-left: 25rem;
}

.solutions__p:nth-of-type(2) {
    padding-left: 17rem;
}

.solutions__p:nth-of-type(3) {
    padding-left: 15.15rem;
}

.solutions__p:nth-of-type(4) {
    padding-left: -1rem;
}

.solutions__list {
    display: flex;
    flex-direction: column;
    padding-left: 27rem;
}

.solutions__list_item {
    margin-top: 4rem;
}

.solutions__list_title {
    
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.solutions__list_h4 {
    font: 700 2.5rem / 1 'Heebo', sans-serif;
    padding-top: .25rem;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.solutions__list_image {
    height: 4rem;
    width: 4rem;
    position: relative;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    margin-right: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.solutions__list_pic {
    height: 60%;
    width: 60%;
    transform: translateX(1rem);
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.25));
}

.solutions__list_p {
    font: 300 1.8rem / 1.4 'Heebo', sans-serif;
    margin-top: 2rem;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.solutions__sublist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.solutions__sublist_item {
    font: 500 1.8rem / 1.4 'Heebo', sans-serif;
    margin-top: 1rem;
    padding-left: 1.75rem;
    position: relative;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.solutions__sublist_item:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 10%;
    left: 0;
    height: .75rem;
    width: .75rem;
    margin: auto;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    -webkit-filter: drop-shadow(.05rem .05rem .1rem rgba(0,0,0,.25));
    transition: all .3s ease-out;
}

.solutions__sublist_item:hover:before {
    width: 100%;
}

.clients {
    background: #fff;
    padding: 6rem 0;
    overflow: hidden;
}

.clients__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.clients__content_image {
    height: 6rem;
    transition: all .3s ease-out;
    -webkit-filter: drop-shadow(.25rem .25rem 0.5rem rgba(0,0,0,.15));
}

.clients__content_image:hover {
    transform: scale(1.1);
}

.footer {
    position: relative;
    background: #161616;
}

.footer__top_container {
    padding: 6rem 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 700 3.25rem / 1 'Josefin Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 2rem / 1.5 'Heebo', sans-serif;
    color: #fff;
    fill: #fff;
    transition: all .3s ease-out;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.footer__item:first-of-type .footer__p {
    width: 32.5rem;
    text-align: justify;
}

.footer__data_link {
    display: flex;
    align-items: center;
    
    position: relative;
    line-height: .85;
}

.footer__data_link .footer__p {
    line-height: .85;
}

.footer__data_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: .3rem;
    width: 100%;
    background: #fdbd32;
    background: linear-gradient(to top, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.footer__data_link:hover:before {
    height: 100%;
}

.footer__data_item {
    display: flex;
    align-items: center;
}

.footer__data_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
    transition: all .3s ease-out;
    display: flex;
    fill: #fff;
    fill: url(#Gradient1);
}

.footer__social {
    display: flex;
}

.footer__social_item:not(:first-of-type) {
    margin-left: 2rem;
}

.footer__social_link {
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: all .3s ease-out;
    position: relative;
    overflow: hidden;
    border: .3rem solid #fdbd32;
    border-image: linear-gradient(to top right, #FC6404, #FCE404) 10%;
    -webkit-filter: drop-shadow(.25rem .25rem 0.5rem rgba(0,0,0,.25));
}

.footer__social_link:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.footer__social_link:hover:before {
    height: 100%;
}

.footer__social_pic {
    height: 1.8rem;
    width: 1.8rem;
    transition: all .3s ease-out;
    -webkit-filter: drop-shadow(.25rem .25rem 0.5rem rgba(0,0,0,.25));
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4.5rem;
    width: 24rem;
    padding: 0 1.5rem;
    border: .3rem solid #fff;
    border-right: none;
    font: 400 1.6rem / 1 'Heebo', sans-serif;
    color: #FC6404;
    transition: all .3s ease-out;
}

.footer__form_input::-webkit-input-placeholder {
    color: #fff;
}

.footer__form_input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border-color: #FC6404;
}

.footer__form_button {
    height: 4.5rem;
    font: 700 1.6rem / 1 'Heebo', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 0 3rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    border: .3rem solid #fdbd32;
    border-image: linear-gradient(to top right, #FC6404, #FCE404) 10%;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}

.footer__form_button:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(to top right, #FC6404, #FCE404);
    transition: all .3s ease-out;
}

.footer__form_button:hover:before {
    height: 100%;
}

.footer__bottom {
    padding: 3rem 0;
    background: #000000;
}

.footer__bottom_container {
    align-items: center;
}

.footer__info {
    display: flex;
}

.footer__info_item {
    position: relative;
}

.footer__info_item:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__info_item:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background: #fff;
    opacity: .25;
}

.footer__bottom_h4 {
    font: 400 2rem / 1 'Heebo', sans-serif;
    color: #fff;
    text-shadow: .05em .05em .1em rgba(0, 0, 0, 0.25);
}


@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}