/*   My normalize   */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #000;
}

a {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-text-decoration-skip: objects;
}

img {
    border-style: none;
}

.container__image {
    position: relative;
    flex-shrink: 0;
}

.image__cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button,
fieldset,
input,
optgroup,
select,
textarea,
ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

:invalid {
    box-shadow: none;
}

button {
    cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
}

figure {
    margin: 0;
}

textarea {
    overflow: auto;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

::selection {
    background: #ff3b00;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1.25rem;
    border-left: .125rem solid #e9e9e9;
    background-color: #ECEFF1;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
    background: #9E9E9E;
    transition: all .3s ease-out;
    border-radius: .75rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #ffce00, #ff3b00);
}

.container__row {
    margin: 0 auto;
    display: flex;
}

.container__column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    flex-shrink: 0;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ffffff;
}

/*      Content      */

.container__row,
.container__column {
    position: relative;
    z-index: 2;
    width: 146rem;
    padding: 0 3rem;
}

section {
    position: relative;
    z-index: 2;
    padding: 15rem 0;
}

.anchor {
    position: absolute;
    top: -10rem;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 0;
    transform: translate3d(0,0,0);
    transition: all .3s ease-out;
    background: #fff;
    height: 10rem;
}

.header:before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: linear-gradient(to bottom, #ec9f05, #ff4e00);*/
    background: #F57F17;
    border-radius: 50%/20%;
    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.1);
    background: #6A1B9A;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
/*    background: linear-gradient(to bottom, #ec9f05, #ff4e00);*/
    background: #F57F17;
    background: #6A1B9A;
}

.header__container {
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    padding-top: 1.75rem;
}

.logo__link {
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}

.logo__image {
    display: flex;
    height: 6rem;
    z-index: 5;
    position: relative;
}

.logo__headline {
    margin-left: 1.75rem;
    font: 900 4.5rem / 1 'Londrina Solid', cursive;
    color: #fff;
    letter-spacing: .05em;
    background: linear-gradient(to bottom, #ffce00, #ff3b00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #fff;
}

.header__menu {
    display: flex;
}

.header__menu_item:not(:first-of-type) {
    margin-left: 3rem;
}

.header__menu_link {
    display: flex;
    align-items: center;
    font: 800 1.4rem / 1 'Montserrat', sans-serif;
    transition: all .3s ease-out;
    text-transform: uppercase;
    padding: 0 2em;
    border-radius: 5em;
    box-shadow: inside 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #af2dff;
    background: #480174;
    height: 4.5rem;
}

.header__menu_link:hover {
    color: #fff;
    background: #8c24cc;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-.5rem);
}

.link-active {
    color: #fff;
    background: #8c24cc;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
/*    background: linear-gradient(to bottom, #ffce00, #ff3b00*/
);
}

.header__social {
    display: flex;
}

.header__social_item:not(:first-of-type) {
    margin-left: 1.5rem;
}

.header__social_link {
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .3rem solid #8c24cc;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    fill: #fff;
    transition: all .3s ease-out;
}

.header__social_link:hover {
    border: .3rem solid #8c24cc;
    background: #8c24cc;
    transform: translateY(-.5rem);
}

.header__social_icon {
    height: 2rem;
    width: 2rem;
}

.home {
    height: 100vh;
    display: flex;
    padding: 0;
    overflow: hidden;
}

@keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: 100% -100%;
    }
}

.home:after {
    content: '';
    position: absolute;
    top: 10rem;
    right: 0rem;
    bottom: 0;
    margin: auto;
    height: 62rem;
    width: 105rem;
    background: url(../images/home05.png) 50% / contain no-repeat;
    
}

.home__container {
    padding: 14rem 2rem 2rem;
    justify-content: center;
    align-items: flex-start;
}

.home__h2 {
    font: 600 9rem / 1.2 'Bowlby One SC', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.home__p {
    font: 400 2.5rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 4rem;
}


.button {
    display: flex;
    align-items: center;
    font: 800 2rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    height: 5.5rem;
    padding: 0 3.5rem;
    background: linear-gradient(to bottom, #ffce00, #ff3b00);
    border-radius: 5em;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all .3s ease-out;
}

.home__button {
    margin-top: 5rem;
}


.button:hover {
    transform: translateY(-.75rem);
    box-shadow: 0rem 0.75rem 1.5rem rgba(255, 59, 0, 0.5);
}

.activities {
    background-color: #fff;
}

.h2-headline {
    font: 900 7rem / 1 'Bowlby One SC', sans-serif;
    color: #fff;
    letter-spacing: .05em;
    background: linear-gradient(to bottom, #ffce00, #ff3b00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.h3-headline {
    font: 300 3.5rem / 1 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

.activities__content {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    align-items: center;
}

.activities__content_item {
    display: flex;
    flex-direction: column;
    transition: all .3s ease-out;
    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.1);
    width: calc(100% / 3 - 2.5rem);
    border-radius: 1rem;
    overflow: hidden;
}

.activities__content_item:hover {
    box-shadow: 0 0 2rem rgba(213, 0, 249, 0.35), 0 2rem 4rem rgba(74, 20, 140, 0.35);
}

.activities__item_price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background: #ed1c24 url(../images/price01.png) 50% 50% / cover no-repeat;
    color: #fff;
    padding-bottom: 1rem;
    background: #ff4e00 linear-gradient(to top, #4A148C 20%, #D500F9 100%);
}

.activities__price_info {
    display: flex;
    align-items: center;
}

.activities__price_number {
    display: flex;
    align-items: center;
    font: 800 9rem / 1 'Montserrat', sans-serif;
    margin: 0 1.5rem;
}

.activities__price_style {
    font: 400 2.5rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.activities__item_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    
}

.activities__item_h4 {
    font: 400 3rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: #8c24cc;
    color: #fff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    transform: translateY(-2.5rem);
    border-radius: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.05), 0 .5rem 1rem rgba(0,0,0,.1);
}

.activities__item_descriptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: .1rem solid #ebebeb;
}

.descriptions__hover {
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    height: 100%;
    transition: all .75s ease-out;
    border-top: .5rem solid #ed1c24;
}

.activities__content_item:hover .descriptions__hover {
    top: 0;
}

.activities__descriptions_item {
    font: 400 2rem / 1.5 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: .1rem solid #ebebeb;
    padding: 1.3rem 2rem 1.2rem;
    color: #585858;
}

.activities__content_button {
    margin-top: 3rem;
}

.faq {
}

.faq__content {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq__content_item {
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.1);
    width: calc(100%);
    border-radius: 1rem;
    background: #fff;
    margin-top: 2rem;
    padding: 3rem;
}

.faq__content_item:hover {
    box-shadow: 0 0 2rem rgba(255, 59, 0, 0.35), 0 2rem 4rem rgba(255, 59, 0, 0.35);
}

.faq__content_image {
    height: 10rem;
    width: 13rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    fill: #4A148C;
    padding-right: 3rem;
    border-right: .2rem solid rgba(74, 20, 140, 0.25);
}

faq__content_icon {
    height: 10rem;
    width: 10rem;
}

.faq__content_data {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.faq__content_h4 {
    font: 700 2.2rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.faq__content_p {
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #585858;
    margin-top: 1.25rem;
}

.reviews {
    background: #fff;
}

.reviews__content {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.reviews__content_item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 2.5rem);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.05), 0 1rem 2rem rgba(0,0,0,.1);
    transition: all .3s ease-out;
    overflow: hidden;
}

.reviews__content_item:hover {
    box-shadow: 0 0 2rem rgba(213, 0, 249, 0.35), 0 2rem 4rem rgba(74, 20, 140, 0.35);
}

.reviews__content_blockquote {
    padding: 4rem;
    font: 400 2.4rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 9rem;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-out;
    position: relative;
    background: #ff4e00 linear-gradient(to top, #4A148C 20%, #D500F9 100%);
    z-index: 2;
}

.reviews__blockquote_top {
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: 0;
    height: 15rem;
    width: 15rem;
    fill: #4A148C;
    opacity: .35;
}

.reviews__content_info {
    padding: 4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 9rem;
    z-index: 3;
    
}

.reviews__content_info:before {
    content: '';
    position: absolute;
    top: -6rem;
    right: 0;
    left: 0;
    margin: auto;
    height: 12rem;
    width: 12rem;
    transition: all .3s ease-out;
    border-radius: 1rem;
    overflow: hidden;
}

.reviews__content_item:nth-of-type(1) .reviews__content_info:before {
    background: #676767 url(../images/reviews01.png) 50% 0 / cover no-repeat;
}

.reviews__content_item:nth-of-type(2) .reviews__content_info:before {
    background: #676767 url(../images/reviews02.png) 50% 0 / cover no-repeat;
}

.reviews__content_item:nth-of-type(3) .reviews__content_info:before {
    background: #676767 url(../images/reviews03.png) 50% 0 / cover no-repeat;
}

.reviews__content_h4 {
    font: 800 3.5rem / 1 'Montserrat', sans-serif;
}

.reviews__content_p {
    font: 400 2rem / 1 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: #616161;
    margin-top: 1.5rem;
}

.bg:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #770DA2 linear-gradient(to bottom, #9a00b4 0%, #4A148C 100%);
    
}

.bg:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/pattern01.png) 50% 50% / contain repeat;
    animation: animatedBackground 90s linear infinite;
    opacity: .15;
    background-size: 15%;
}

.footer {
    position: relative;
    background: #6A1B9A;
    z-index: 2;
}

.footer__top_container {
    padding: 7rem 2rem;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__h3 {
    margin-bottom: 4rem;
    font: 800 3rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1em;
}

.footer__data {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.footer__p {
    display: flex;
    align-items: center;
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #F5F5F5;
    fill: #F5F5F5;
}

.footer__item:first-of-type .footer__p {
    width: 34rem;
}

.footer__form {
    margin-bottom: .7rem;
    display: flex;
}

.footer__form_input {
    height: 4rem;
    width: 23rem;
    padding: 0 4rem 0 1.5rem;
    border: .1rem solid #F5F5F5;
    border-right: none;
    font: 400 1.5rem / 1 'Montserrat', sans-serif;
    color: #FF7000;
    transition: all .3s ease-out;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    
}

.footer__form_input::-webkit-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input::-moz-placeholder {
    color: #F5F5F5;
    opacity: 1;
}

.footer__form_input:-ms-input-placeholder {
    color: #F5F5F5;
}

.footer__form_input:focus {
    border-color: #FF7000;
    border-right: none;
}

.footer__form_button {
    height: 4rem;
    padding: .2em 3rem 0;
    font: 700 1.5rem / 1 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #ffce00, #ff3b00);
    color: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,0);
    border: none;
/*    transform: translateX(-2rem);*/
    margin-left: -3rem;
}

.footer__form_button:hover {
    box-shadow: 0 0 2rem #ff3b00;
    transform: translate(0);
}


.footer__contact_link {
    transition: all .3s ease-out;
}

.footer__contact_link:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.footer__contact_link:hover {
    color: #FF7000;
    fill: #FF7000;
}

.footer__p_pic {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
}

.footer__bottom {
    padding: 3.5rem 0;
    background: #480174;
}

.footer__bottom_container {
    justify-content: space-between;
}

.footer__bottom_links {
    display: flex;
}

.footer__bottom_link {
    position: relative;
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #F5F5F5;
    transition: all .3s ease-out;
}

.footer__bottom_link:not(:last-of-type) {
    margin-right: 6.1rem;
}

.footer__bottom_link:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 0;
    right: -3.1rem;
    height: 100%;
    width: .2rem;
    background-color: #F5F5F5;
    opacity: .5;
}

.footer__bottom_link:hover {
    color: #FF7000;
    fill: #FF7000;
}

.footer__bottom_h4 {
    font: 400 1.8rem / 1.5 'Montserrat', sans-serif;
    color: #fff;
}

@media screen and (max-width : 1680px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (max-width : 1366px) {
    
    html {
        font-size: 8.5px;
    }
}

@media screen and (max-width : 1280px) {
    
    html {
        font-size: 8px;
    }
}

@media screen and (max-width : 1024px) {
    
    html {
        font-size: 6.3px;
    }
}

@media screen and (max-width : 768px) {
    
    html {
        font-size: 4.5px;
    }
    
    .home {
        height: 50vh;
    }
}

@media screen and (max-width : 640px) {
   
    html {
        font-size: 4px;
    }
}

@media screen and (max-width : 480px) {
   
    html {
        font-size: 2.9px;
    }
    
    .home {
        height: 40vh;
    }
}

@media screen and (max-width : 420px) {
   
    html {
        font-size: 2.3px;
    }
}

@media screen and (max-width : 320px) {
   
    html {
        font-size: 2px;
    }
}