/*      About Page      */

.home__content {
    align-items: center;
    text-align: center;
}

.home__h2 {
    font-size: 10.25rem;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
}

.home__h3 {
    font-size: 4.2rem;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
}

.home__bg {
    background: url(../images/hedge-fund-bg.png) 50% 50% / cover no-repeat;
}

.home__bg_video {
    filter: grayscale(100)brightness(55%)contrast(100%);
}

.home__p {
    text-align-last: center;
    width: 72%;
    -webkit-filter: drop-shadow(.05em .05em .1em rgba(0, 0, 0, 0.25));
}

.about-page__what {
    background: #fff;
}

.about-page__what_container {
    justify-content: space-between;
}


.about-page__what_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 50%;
    width: calc(50% - 3rem);
}

.about-page__what_item {
    width: calc(100% / 2 - 1rem);
    height: calc(100% / 2 - 1rem);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    padding: 3rem;
    background: url(../images/gold11.png) 50% 50% / cover no-repeat;
    position: relative;
}

.about-page__what_image {
    height: 6.5rem;
    width: 6.5rem;
    background: #000;
    transform: rotate(45deg);
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
}

.about-page__what_pic {
    height: 3.75rem;
    width: 3.75rem;
    transform: rotate(-45deg);
    fill: #fff;
}

.about-page__what_h4 {
    z-index: 2;
    font: 700 1.7rem / 1 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.about-page__what_p {
    z-index: 2;
    margin-top: .5rem;
    font: 400 1.3rem / 1.4 'Montserrat', sans-serif;
}